---
layout: layout
title: Web Vitals
description: Essential metrics for a healthy site
date: 2020-04-20
---
{# *-landing-page classes are a holdover from devsite. #} {# It would be great
to remove them as part of the v1 migration. #}

<div class="profile-landing-page">
  <div class="w-layout-container w-pb--non">
    <header class="w-page-header">
      <h1 class="w-page-header__headline">Metrics</h1>
      <p class="w-page-header__copy">Essential metrics for a healthy site</p>
    </header>
  </div>

  <div class="w-layout-container w-pt--non">
    <p>Optimizing for quality of user experience is key to the long-term success of any site on the web. Whether you are a business owner, marketer, or developer, Web Vitals can help you quantify the experience of your site and identify opportunities to improve.</p>

    <h2 id="overview">Overview: what are Web Vitals?</h2>

    <p>A Web Vital is a metric with a measurable target, or a requirement, that is vital to delivering a good user experience on the web.</p>
    <p>Google has offered a number of tools over the years (<a href="https://developers.google.com/web/tools/lighthouse">Lighthouse</a>, <a href="https://developers.google.com/web/tools/chrome-devtools">Chrome DevTools</a>, <a href="https://developers.google.com/speed/pagespeed/insights/">PageSpeed Insights</a>, <a href="https://search.google.com/search-console/about">Search Console</a>, and <a href="https://developers.google.com/web/fundamentals/performance/speed-tools">others</a>) to measure and report on these vitals. Some developers are experts at using these tools, while others have found the abundance of both tools and metrics challenging to keep up with.</p>
    <p> Site owners should not have to be performance gurus in order to understand the quality of experience they are delivering to their users. The Web Vitals initiative aims to simplify the landscape, and help sites focus the metrics that matter most.</p>
    <p>Developers who want to go deep can dive into the full set of web vitals (see below), while those who want to keep it simple can focus on the <strong>Core Web Vitals</strong>.</p>

    <h2 id="core-web-vitals">Core Web Vitals</h2>

    <p>Core Web Vitals are the subset of Web Vitals that are relevant to all web pages, are surfaced in all Google tools, and that every site should measure.  Each of the Core Web Vital represents a distinct facet of the user experience, is measurable on real users <a href="https://web.dev/user-centric-performance-metrics/#how-metrics-are-measured">in the field</a>, and captures a critical <a href="https://web.dev/user-centric-performance-metrics/#how-metrics-are-measured">user-centric</a> outcome.</p>
    <p>Core Web Vitals measure three aspects of the user experience—<em>loading</em>, <em>interactivity</em>, and <em>visual stability</em>—and includes the following metrics (and their respective thresholds):</p>
  </div>
</div>

