---
layout: default
title: Measure page quality
description: |
  Test your pages in a lab environment powered by PageSpeed Insights. Then get tips and recommendations to improve your user experience. For field performance, see the [PageSpeed Insights](https://developers.google.com/speed/pagespeed/insights/) tool.
date: 2021-10-13
pageScripts:
  - '/js/measure.js'
pageSpeed:
  eyebrow: 'PageSpeed Insights'
  title: 'Measure performance with PageSpeed Insights'
  summary: |
    PageSpeed Insights is a tool for measuring the performance and Core Web Vitals of a page with lab and field data.
  image: 'https://web-dev.imgix.net/image/VbAJIREinuYvovrBzzvEyZOpw5w1/6Ye3EKc6quNaopPrigno.png'
  imageWidth: '546'
  imageHeight: '421'
  primaryButtonText: 'Try PageSpeed Insights'
  primaryButtonUrl: 'https://pagespeed.web.dev/'
  secondaryButtonText: 'Learn more'
  secondaryButtonUrl: 'https://developers.google.com/speed/docs/insights/v5/about?hl=en-US&utm_source=PSI&utm_medium=incoming-link&utm_campaign=PSI#faq'
---
<section>
  <article class="bg-core-bg hero measure__page-speed-hero">
    <div class="wrapper">
      <div class="hero__columns switcher" data-direction="rev">
        <div class="flow">
          <img src="{{ pageSpeed.image }}" alt="" aria-hidden="true" class="hero__decor" width="{{ pageSpeed.imageWidth }}" height="{{ pageSpeed.imageHeight }}" />
        </div>
        <div>
          <span aria-hidden="true" class="hero__eyebrow">{{ pageSpeed.eyebrow }}</span>
          <div class="hero__content flow gap-top-size-5">
            <h1 class="hero__title">{{ pageSpeed.title }}</h1>
            {{ pageSpeed.summary | md | safe }}
            <div class="cluster gutter-base flow-space-size-2">
              <a class="button" 
                data-type="primary"
                data-category="web.dev"
                data-label="measure, run audit"
                data-action="click"
                href="{{ pageSpeed.primaryButtonUrl }}"
              >
                {{ pageSpeed.primaryButtonText }}
              </a>
              <a class="button" data-type="secondary" href="{{ pageSpeed.secondaryButtonUrl }}">{{ pageSpeed.secondaryButtonText }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="bg-mid-bg measure__section gap-top-size-1">
  <div class="wrapper all-center flow">
    <h2 class="no-link">The measure tool is moving to PageSpeed Insights</h2>

    <p class="color-mid-text">
      If you've been to this page before, you probably expected to see a field where you can input
      a URL and get performance diagnostics for that page. This tool has been removed because of
      the significant overlap it has with PageSpeed Insights.
    </p>

    <p class="color-mid-text">
      Going forward, <a href="https://pagespeed.web.dev/">PageSpeed Insights</a> will be what you need.
      It will give you detailed <a href="https://web.dev/lab-and-field-data-differences/#lab-data">lab</a>
      insights into your website's performance, but also <a href="https://web.dev/lab-and-field-data-differences/#field-data">field</a>
      data insights, which is important as it allows you to assess your website's user experience from the
      perspective of your website's actual users.
    </p>
  </div>
</section>
