---
permalink: false
layout: sandbox/article
title: images
hero: hero.jpg
tags:
  - sandbox
---

<figure class="w-figure w-figure--fullbleed">
  <img src="../a.jpg" alt="">
  <figcaption class="w-figcaption w-figcaption--fullbleed">
    Large image.
  </figcaption>
</figure>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a massa
  sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus nibh varius
  at. Cras ligula lacus, porta vitae maximus a, ultrices a mauris. Vestibulum
  porta dolor erat, vel molestie dolor posuere in.
</p>

<figure class="w-figure">
  <img src="../image-small.png" alt="" style="max-width: 400px;">
  <figcaption class="w-figcaption">
    Small image.
  </figcaption>
</figure>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a massa
  sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus nibh varius
  at. Cras ligula lacus, porta vitae maximus a, ultrices a mauris. Vestibulum
  porta dolor erat, vel molestie dolor posuere in.
</p>

<figure class="w-figure  w-figure--center">
  <img src="../image-small.png" alt="" style="max-width: 400px;">
  <figcaption class="w-figcaption">
    Centered, small image.
  </figcaption>
</figure>

<figure class="w-figure w-figure--inline-right">
  <img class="w-screenshot" src="../image-inline.png" alt="" style="max-width: 200px;">
  <figcaption class="w-figcaption">
    Inline right, outlined image.
  </figcaption>
</figure>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus
    nibh varius at. Cras ligula lacus, porta vitae maximus a, ultrices a mauris.
    Vestibulum porta dolor erat, vel molestie dolor posuere in. Nam vel
    elementum augue. Nam quis enim blandit, posuere justo dignissim, scelerisque
    diam. Fusce aliquet urna ac blandit ullamcorper. Proin et semper nibh, sit
    amet imperdiet velit. Morbi at quam sem. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Proin dictum a massa sit amet ullamcorper.
    Suspendisse auctor ultrices ante, nec tempus nibh varius at. Cras ligula
    lacus, porta vitae maximus a, ultrices a mauris. Vestibulum porta dolor
    erat, vel molestie dolor posuere in. Nam vel elementum augue. Nam quis enim
    blandit, posuere justo dignissim, scelerisque diam. Fusce aliquet urna ac
    blandit ullamcorper. Proin et semper nibh, sit amet imperdiet velit. Morbi
    at quam sem.
</p>

<figure class="w-figure w-figure--inline-left">
  <img class="w-screenshot" src="../image-inline.png" alt="" style="max-width: 200px;">
  <figcaption class="w-figcaption">
    Inline left, outlined image.
  </figcaption>
</figure>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus
    nibh varius at. Cras ligula lacus, porta vitae maximus a, ultrices a mauris.
    Vestibulum porta dolor erat, vel molestie dolor posuere in. Nam vel
    elementum augue. Nam quis enim blandit, posuere justo dignissim, scelerisque
    diam. Fusce aliquet urna ac blandit ullamcorper. Proin et semper nibh, sit
    amet imperdiet velit. Morbi at quam sem. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Proin dictum a massa sit amet ullamcorper.
    Suspendisse auctor ultrices ante, nec tempus nibh varius at. Cras ligula
    lacus, porta vitae maximus a, ultrices a mauris. Vestibulum porta dolor
    erat, vel molestie dolor posuere in. Nam vel elementum augue. Nam quis enim
    blandit, posuere justo dignissim, scelerisque diam. Fusce aliquet urna ac
    blandit ullamcorper. Proin et semper nibh, sit amet imperdiet velit. Morbi
    at quam sem.
</p>

<figure class="w-figure">
  <img class="w-screenshot w-screenshot--filled" src="../image-screenshot.png" alt="">
  <figcaption class="w-figcaption">
    Filled screenshot.
  </figcaption>
</figure>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a massa
  sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus nibh varius
  at. Cras ligula lacus, porta vitae maximus a, ultrices a mauris. Vestibulum
  porta dolor erat, vel molestie dolor posuere in.
</p>

<figure class="w-figure">
  <img class="w-screenshot" src="../img2.png" alt="">
  <figcaption class="w-figcaption">
    Regular screenshot.
  </figcaption>
</figure>
