@import '../settings/colors';
@import '../settings/global';
@import '../tools/breakpoints';
@import '../tools/mixins';

// =============================================================================
// FAB OVERVIEW
//
// A material floating action button ('FAB').
//
// =============================================================================

$W_FAB_LARGE_RADIUS: 28px;

.w-actions {
  align-items: flex-end;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 24px;
  z-index: 100;

  @media print {
    display: none;
  }
}

.w-actions > * {
  margin-top: 20px;
}

.w-actions__fab {
  align-items: center;
  background-color: $WEB_PRIMARY_COLOR;
  border: 0;
  border-radius: $GLOBAL_ROUNDED;
  // sass-lint:disable-block indentation
  box-shadow:
    0 2px 4px -1px rgba($BLACK, .2),
    0 4px 5px 0 rgba($BLACK, .14),
    0 1px 10px 0 rgba($BLACK, .12);
  color: $WHITE;
  cursor: $CURSOR_POINTER_VALUE;
  display: inline-flex;
  font-family: $PRIMARY_FONT;
  font-size: .875em;
  font-weight: 600;
  height: 56px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  text-overflow: initial;
  text-transform: uppercase;
  // For some reason this is causing an initial flicker...
  // transition: width $TRANSITION_SPEED, border-radius $TRANSITION_SPEED;
  width: 56px;

  @include bp(lg) {
    border-radius: $W_FAB_LARGE_RADIUS;
    padding: 0 24px 0 52px;
    text-indent: 0;
    width: auto;
  }
}

.w-actions__fab:hover {
  background-color: $WEB_PRIMARY_COLOR; // DevSite override
}

.w-actions__fab:active {
  background-color: $WEB_PRIMARY_COLOR; // DevSite override
  // sass-lint:disable-block indentation
  box-shadow:
    0 5px 5px -3px rgba($BLACK, .2),
    0 8px 10px 1px rgba($BLACK, .14),
    0 3px 14px 2px rgba($BLACK, .12);
}

.w-actions__fab:hover,
.w-actions__fab:focus,
.w-actions__fab:active {
  outline: 0;
  text-decoration: none;
}

.w-actions__fab::before {
  background-size: 24px 24px;
  content: '';
  height: 24px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.w-actions__fab::after {
  @include w-overlay();
}

.w-actions__fab:hover::after {
  background-color: rgba($WHITE, .08);
}

.w-actions__fab:focus::after {
  background-color: rgba($WHITE, .24);
}

.w-actions__fab:active::after {
  background-color: rgba($WHITE, .32);
}

// FAB variations

//------------------------------------------------------------------------------
// Share
//------------------------------------------------------------------------------

.w-actions__fab--share::before {
  background-image: url('/images/icons/share_white.svg');
}

//------------------------------------------------------------------------------
// Subscribe
//------------------------------------------------------------------------------

.w-actions__fab--subscribe {
  background-color: $WHITE;
  color: $WEB_PRIMARY_COLOR;
}

.w-actions__fab--subscribe:hover {
  background-color: $WHITE; // DevSite override
}

.w-actions__fab--subscribe:active {
  background-color: $WHITE; // DevSite override
}

.w-actions__fab--subscribe::before {
  background-image: url('/images/icons/subscribe.svg');
}

.w-actions__fab--subscribe:hover::after {
  background-color: rgba($WEB_PRIMARY_COLOR, .04);
}

.w-actions__fab--subscribe:focus::after {
  background-color: rgba($WEB_PRIMARY_COLOR, .12);
}

.w-actions__fab--subscribe:active::after {
  background-color: rgba($WEB_PRIMARY_COLOR, .16);
}
