@import '../settings/colors';
@import '../settings/type';
@import '../tools/breakpoints';
@import '../tools/mixins';

// =============================================================================
// ARTICLE NAVIGATION OVERVIEW
//
// These are fullbleed buttons that appear at the end of each article and take
// the user either to the next article or back to all of the articles.
//
// =============================================================================

.w-article-navigation {
  background-color: #dadce0;
  display: flex;
  flex-direction: column;
  padding: 1px 0;

  @include bp(sm) {
    flex-direction: row;
  }

  @media print {
    display: none;
  }
}

.w-article-navigation__link {
  align-items: center;
  background-color: #fff;
  color: $PRIMARY_TEXT_COLOR;
  display: flex;
  font-family: $HEADLINE_FONT;
  position: relative;
}

.w-article-navigation__link:hover,
.w-article-navigation__link:focus,
.w-article-navigation__link:active {
  background-color: #fff;
  outline: 0;
  text-decoration: none;
}

.w-article-navigation__link::before {
  @include font-material-icon();
}

.w-article-navigation__link::after {
  @include w-overlay();
}

.w-article-navigation__link:hover::after {
  @include w-overlay-hover();
}

.w-article-navigation__link:focus::after {
  @include w-overlay-focus();
}

.w-article-navigation__link:active::after {
  @include w-overlay-active();
}

.w-article-navigation__link--back {
  flex-basis: 33.3%;
  margin: 0 0 1px;
  padding: 32px 32px 32px 80px;

  @include bp(sm) {
    margin: 0 1px 0 0;
  }
}

.w-article-navigation__link--back::before {
  content: 'arrow_back';
  left: 32px;
  position: absolute;
}

// When we only have a single back link, override its styles to make it
// full width.
.w-article-navigation__link--single {
  flex: 1;
  margin: 0;

  @include bp(sm) {
    margin: 0;
  }
}

.w-article-navigation__link--forward {
  flex: 1;
  font-size: 24px;
  justify-content: flex-end;
  padding: 32px 80px 32px 32px;
}

.w-article-navigation__link--forward::before {
  content: 'arrow_forward';
  position: absolute;
  right: 32px;
}

.w-article-navigation__column {
  text-align: right;
}

.w-article-navigation__heading {
  margin: 0 0 4px;
}

.w-article-navigation code {
  background: transparent;
  border: 0;
  color: inherit;
  padding: 0;
}
