@import '../settings/type';
@import '../tools/breakpoints';

// =============================================================================
// ARTICLE HEADER OVERVIEW
//
// An article-header is the bit of introductory text at the top of each blog
// post and guide. It contains a headline, short description sentence, and
// an author component.
//
// =============================================================================

.w-article-header {
  margin: 0 0 48px;
  padding-top: 40px;

  @include bp(md) {
    margin: 0 0 64px;
    padding-top: 56px;
  }

  @media print {
    margin: 0;
    padding-top: 0;
  }
}

.w-article-header__headline {
  font-size: 27px;
  font-weight: 400;
  line-height: 33px;
  margin: 0 auto 11px;

  @include bp(xxsm) {
    font-size: 31px;
    line-height: 38px;
  }

  @include bp(xsm) {
    font-size: 36px;
    line-height: 44px;
  }

  @include bp(md) {
    font-size: 44px;
    line-height: 52px;
  }
}

.w-article-header__subhead {
  font-family: $HEADLINE_FONT;
  font-size: 16px;
  line-height: 28px;
  margin: 12px auto;

  @include bp(xxsm) {
    font-size: 18px;
    line-height: 32px;
    margin: 16px auto;
  }
}
