@import '../settings/colors';
@import '../settings/type';
@import '../tools/mixins';

// =============================================================================
// ASIDES OVERVIEW
//
// An aside highlights a specific section of the page to call it out for user's
// attention. It is typically used to add notes or warnings to an article.
//
// Note: We do not use <aside> elements here because DevSite has a number of
// styles applied directly to that element and it's easier to just avoid
// overriding them.
//
// =============================================================================

.w-aside {
  font-family: $PRIMARY_FONT;
  font-size: #{map-get($ARTICLE, FONT_SIZE)}px;
  line-height: #{map-get($ARTICLE, LINE_HEIGHT)}px;
  margin: 48px 0 32px;
  padding: 24px 0 0 48px;
  position: relative;

  @include bp(xxsm) {
    font-size: #{map-get($ARTICLE_XXSMALL, FONT_SIZE)}px;
    line-height: #{map-get($ARTICLE_XXSMALL, LINE_HEIGHT)}px;
  }

  @include bp(xsm) {
    font-size: #{map-get($ARTICLE_XSMALL, FONT_SIZE)}px;
    line-height: #{map-get($ARTICLE_XSMALL, LINE_HEIGHT)}px;
  }
}

.w-aside strong {
  font-weight: $FONT_WEIGHT_BOLD;
}

.w-aside::after {
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.w-aside::before {
  @include font-material-icon();
  float: left;
  margin: 4px 0 0 -48px;
}

.w-aside--note {
  color: $WEB_PRIMARY_COLOR;
}

.w-aside--note::after {
  background-color: $WEB_PRIMARY_COLOR;
}

.w-aside--note::before {
  content: 'star';
}

.w-aside--caution {
  color: $CAUTION_COLOR;
}

.w-aside--caution::after {
  background-color: $CAUTION_COLOR;
}

.w-aside--caution::before {
  content: 'error';
}

.w-aside--warning {
  color: $WARNING_COLOR;
}

.w-aside--warning::after {
  background-color: $WARNING_COLOR;
}

.w-aside--warning::before {
  content: 'warning';
}

.w-aside--success,
.w-aside--objective {
  color: $SUCCESS_COLOR;
}

.w-aside--success::after,
.w-aside--objective::after {
  background-color: $SUCCESS_COLOR;
}

.w-aside--success::before {
  content: 'done';
}

.w-aside--objective::before {
  content: 'school';
}

.w-aside--gotchas,
.w-aside--key-term {
  color: $KEY_POINT_COLOR;
}

.w-aside--gotchas::after,
.w-aside--key-term::after {
  background-color: $KEY_POINT_COLOR;
}

.w-aside--gotchas::before {
  content: 'lightbulb_outline';
}

.w-aside--key-term::before {
  content: 'font_download';
}

.w-aside--codelab {
  color: $WEB_EXTENDED_SECONDARY_COLOR;
}

.w-aside--codelab::after {
  background-color: $WEB_EXTENDED_SECONDARY_COLOR;
}

.w-aside--codelab::before {
  content: 'code';
}

// We use descendant selectors here (instead of BEM) because the content inside
// of an aside will likely be coming from markdown.
.w-aside a,
.w-aside p,
.w-aside code {
  color: inherit;
}

// Allow single line code blocks to wrap so they don't get cut off.
.w-aside code {
  white-space: pre-wrap;
}

// Force markdown generated code blocks to match font size.
.w-aside pre,
.w-aside pre code {
  font-size: .889em;
  line-height: 1.5;
  white-space: pre;
}

.w-aside a {
  text-decoration: underline;
}

.w-aside p {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: normal;
  line-height: inherit;
  margin: 0;
}

.w-aside p + p {
  margin-top: 8px;
}

.w-aside ul li {
  font-size: inherit;
  line-height: inherit;
}

// Gotchas should visually start with essentially a newline separating the word
// "Gotchas!" from the first paragraph of text.
.w-aside--gotchas p {
  margin-top: 8px;
}
