.audio-player {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 16px;
  background-color: $GREY_100;

  &__thumbnail {
    border-radius: 3px;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__inner {
    width: 100%;
    // height: 80px;
  }

  &__title {
    color: $GREY_800;
    font-size: 0.875rem;
    margin-left: 16px;

    @include bp(md) {
      font-size: 1rem;
    }
  }

  &__element {
    width: 100%;
    height: 40px;
    margin: 8px 0 0 8px;

    // Chromium only.
    &::-webkit-media-controls-panel {
      padding: 0;
    }
  }
}
