$ICON_SIZE: 32px;
$IMAGE_WIDTH: 192px;

.w-author-page__icon {
  height: $ICON_SIZE;
  margin: calc(#{$ICON_SIZE} / 4);
}

.w-author-page__image {
  border-radius: 100%;
  width: $IMAGE_WIDTH;
}

.w-author-page__links {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.w-author-page__link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
