@import '../settings/colors';
@import '../tools/mixins';
@import '../tools/breakpoints';

// =============================================================================
// AUTHOR OVERVIEW
//
// An author shows a thumbnail of the author's profile photo, a bit of info
// about the author (name, social media, etc).
//
// =============================================================================

.w-authors {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr;

  @include bp(sm) {
    grid-template-columns: 256px 256px;
  }

  @include bp(md) {
    grid-template-columns: 256px 256px 256px;
  }
}

.w-author {
  display: flex;
  padding: 8px;
}

.w-author__image {
  background-color: $GREY_300;
  border-radius: 50%;
  flex-shrink: 0;
  height: 64px;
  margin: 0 12px 0 0;
  object-fit: cover;
  overflow: hidden;
  width: 64px;
}

.w-author__image--small {
  height: 40px;
  width: 40px;
}

.w-author__name,
.w-author__published {
  display: block;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

.w-author__name {
  color: $GREY_900;
}

.w-author__published {
  color: $GREY_700;
}

.w-author__separator {
  padding: 0 4px;
}

.w-author__link-list {
  display: block;
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.w-author__link-listitem {
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.w-author__link-listitem::after {
  content: '·';
  display: inline-block;
  margin: 0 4px;
}

.w-author__link-listitem:last-of-type::after {
  content: '';
  margin: 0;
}

.w-author__link:focus {
  box-shadow: inset 0px 0px 0px 1px $WEB_SECONDARY_COLOR;
  outline: none;
}
