@import '../settings/colors';
@import '../tools/mixins';

// =============================================================================
// AUTHOR OVERVIEW
//
// An author shows a thumbnail of the author's profile photo, a bit of info
// about the author (name, social media, etc).
//
// =============================================================================

$AUTHOR_IMAGE_SIZE_SMALL: 40px;

.w-authors {
  display: flex;
  flex-wrap: wrap;
  gap: 32px; // sass-lint:disable-line no-misspelled-properties
}

.w-author {
  display: flex;
  padding: 8px;
}

.w-author__image {
  background-color: $GREY_300;
  border-radius: $GLOBAL_ROUNDED;
  border: 2px solid white;
  flex-shrink: 0;
  height: 64px;
  margin: 0 12px 0 0;
  min-width: 64px; // prevent from being shrunk
  object-fit: cover;
  overflow: hidden;
  width: 64px;
}

.w-author__image--small {
  height: $AUTHOR_IMAGE_SIZE_SMALL;
  min-width: $AUTHOR_IMAGE_SIZE_SMALL; // prevent from being shrunk
  width: $AUTHOR_IMAGE_SIZE_SMALL;
}

.w-author__name,
.w-author__published,
.w-author__updated {
  display: block;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

.w-author__name {
  color: $GREY_900;
}

.w-author__name-link {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Specificity required here because `a` tags in `.w-post-content` have higher priority.
.w-post-content .w-author__name-link {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.w-author__published,
.w-author__updated {
  color: $GREY_700;
}

.w-author__separator {
  padding: 0 4px;
}

.w-author__link-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.w-author__link-listitem {
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.w-author__link-listitem::after {
  content: '·';
  display: inline-block;
  margin: 0 4px;
}

.w-author__link-listitem:last-of-type::after {
  content: '';
  margin: 0;
}

.w-author__link:focus {
  box-shadow: inset 0px 0px 0px 1px $FOCUS_COLOR;
  outline: none;
}


.w-authors__card {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.w-authors__card--holder {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.w-author__image--row {
  display: inline-flex;
  flex-direction: row-reverse;
  margin: 0px calc(#{$AUTHOR_IMAGE_SIZE_SMALL} / 4) 0px calc(#{$AUTHOR_IMAGE_SIZE_SMALL} / 2);
}

.w-author__image--row-item {
  height: $AUTHOR_IMAGE_SIZE_SMALL;
  margin-left: calc(-#{$AUTHOR_IMAGE_SIZE_SMALL} / 2);
  position: relative;
  width: $AUTHOR_IMAGE_SIZE_SMALL;

  a {
    display: block;
  }

  > .w-author__image {
    border: solid white 2px;
  }
}

.w-author__image--row-item + .w-author__image--row-item {
  margin-right: 10px;
}
