@import '../settings/colors';
@import '../tools/breakpoints';

// =============================================================================
// BANNER OVERVIEW
//
// A banner widget that can be displayed at the top of the screen.
// Note that the banner is not absolutely or fixed positioned.
// It is intended to scroll away as the user scrolls down the page.
//
// The banner can also be displayed inline with body content using the
// w-banner--body modifier.
//
// =============================================================================

.w-banner {
  // Hide the top banner on small devices as it takes up too much space.
  // We also hide hero images at this size for the same reason.
  display: none;
  font-size: .889rem;

  @include bp(sm) {
    display: block;
    padding: 24px 32px;
  }

  @include bp(md) {
    padding: 24px 64px;
  }

  a {
    text-decoration: underline;
  }
}

.w-banner--info {
  background: $GREEN_100;
}

.w-banner--caution {
  background: $YELLOW_100;
}

.w-banner--warning {
  background: $RED_100;
}

.w-banner--neutral {
  background: transparent;
  border-color: $GREY_300;
  border-style: solid;
  border-width: 1px 0;
}

// This modifier is for banners that are inline with page content.
.w-banner--body {
  display: block;
  font: inherit;
  padding: 8px;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * + * {
    margin-top: 24px;
  }

  @include bp(md) {
    padding: 24px;
  }
}
