@import '../settings/type';
@import '../tools/mixins';

// =============================================================================
// BLOCKQUOTE OVERVIEW
//
// A large callout quote with an optional author field.
//
// =============================================================================

.w-blockquote {
  @include w-article-text();
  // DevSite override
  background: transparent;
  margin: 32px 0;
  padding-left: 48px;
}

.w-blockquote::before {
  @include font-material-icon();
  content: 'format_quote';
  float: left;
  margin: 4px 0 0 -48px;
}

.w-blockquote__text {
  font: inherit;
  margin-bottom: 18px;
}

.w-blockquote__cite {
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  margin: 0;
  text-align: left;
}
