// =============================================================================
// BLOCKQUOTE OVERVIEW
//
// A large callout quote with an optional author field.
//
// =============================================================================

.w-blockquote__text {
  font: inherit;
  margin-bottom: 18px;
}

.w-blockquote__cite {
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  margin: 0;
  text-align: left;
}
