// =============================================================================
// BREADCRUMBS OVERVIEW
//
// Breadcrumbs are a series of links that walk the user back to the homage page
// from whichever page they're currently on.
// On small screens the breadcrumbs should ellipsis.
//
// =============================================================================

@import '../settings/colors';
@import '../tools/mixins';

.w-breadcrumbs {
  display: flex;
  margin: 0;
  // Note: All of these min-widths on the children are used to make the element
  // properly text-overflow: ellipsis.
  // https://css-tricks.com/flexbox-truncated-text/
  min-width: 0;
  padding: 0;
  align-items: center;
}

.w-breadcrumbs__crumb {
  align-items: center;
  display: flex;
  font-size: .875rem;
  min-width: 0;
}

.w-breadcrumbs__icon {
  width: 1.1rem;
  height: 1.1rem;
  fill: $GREY_700;
}

// These two styles combine to give the effect where only the last
// breadcrumb shows ellipsis on smaller screens.
.w-breadcrumbs__crumb:not(:last-of-type) {
  flex-shrink: 0;
}

.w-breadcrumbs__crumb:last-of-type > a {
  @include ellipsis();
}

.w-breadcrumbs__link {
  color: $GREY_700;
  padding: 0 8px;
}

// Keep the nice padding around the element so we get a good focus outline
// but shift it over to the left so it's justified with other text on the page.
.w-breadcrumbs__link--left-justify {
  margin-left: -8px;
}
