@import '../tools/mixins';

// =============================================================================
// BUTTONS OVERVIEW
//
// Material button styles.
//
// =============================================================================

// The basic button is a plain text button.
// Normally we wouldn't need to duplicate the pseudo classes
// but since we're using all: initial, we need to make things
// initially consistent.
.w-button {
  @include base-button();
  overflow: hidden;
  position: relative;
  transition: background-color $TRANSITION_SPEED, box-shadow $TRANSITION_SPEED;
  vertical-align: middle;
  white-space: nowrap;
}

// Firefox...why are you like this...
.w-button::-moz-focus-inner {
  border: 0;
}

@mixin button-hover() {
  background: $WHITE; // DevSite override
  box-shadow:
  0 2px 4px -1px rgba($BLACK, .2),
  0 4px 5px 0 rgba($BLACK, .14),
  0 1px 10px 0 rgba($BLACK, .12);
  outline: none;
  text-decoration: none;
}

// Prevent hover and focus states from lingering on touch.
@include hover() {
  .w-button:hover,
  .w-button:focus {
    @include button-hover();
  }
}

.w-button:active {
  @include button-hover();
}

.w-button:focus {
  outline: 1px solid rgba($WEB_PRIMARY_COLOR, .8);
  outline-offset: -3px;
}

.js-focus-visible .w-button:focus:not(.focus-visible) { // sass-lint:disable-line class-name-format
  outline: none;
}

.w-button[disabled] {
  background: $GREY_300;
  box-shadow: none;
  color: rgba($BLACK, .26);
  cursor: default;
  pointer-events: none;
}

// This element is used to tint the button during user actions such as
// hover, focus, and active.
.w-button::after {
  @include w-overlay();
}

// Prevent hover and focus states from lingering on touch.
@include hover() {
  .w-button:hover::after {
    background-color: rgba($WEB_PRIMARY_COLOR, .04);
  }

  .w-button:focus::after {
    background-color: rgba($WEB_PRIMARY_COLOR, .12);
  }
}

.w-button:active::after {
  background-color: rgba($WEB_PRIMARY_COLOR, .16);
}

// Primary action button.
.w-button--primary,
.w-button--primary:hover,
.w-button--primary:focus,
.w-button--primary:active {
  background-color: $WEB_PRIMARY_COLOR;
  color: $WHITE;
}

// Prevent hover and focus states from lingering on touch.
@include hover() {
  .w-button--primary:hover::after {
    background-color: rgba($WHITE, .08);
  }

  .w-button--primary:focus::after {
    background-color: rgba($WHITE, .24);
  }
}

.w-button--primary:active::after {
  background-color: rgba($WHITE, .32);
}

.w-button--primary:focus {
  outline: 1px solid rgba($WHITE, .8);
}

// Secondary action button.
.w-button--secondary,
.w-button--secondary:hover,
.w-button--secondary:focus,
.w-button--secondary:active {
  background-color: $WHITE;
  border: 1px solid $GREY_300;
  color: $PRIMARY_TEXT_COLOR;
}

// Prevent hover and focus states from lingering on touch.
@include hover() {
  .w-button--secondary:hover::after {
    background-color: rgba($BLACK, .04);
  }

  .w-button--secondary:focus::after {
    background-color: rgba($BLACK, .08);
  }
}

.w-button--secondary:active::after {
  background-color: rgba($BLACK, .1);
}

.w-button--secondary:focus {
  outline: 1px solid rgba($PRIMARY_TEXT_COLOR, .6);
}

// A button with text and an icon.
.w-button--with-icon {
  padding: 0 24px 0 16px;
}

// A button with only an icon.
// The --svg variant is similar except it doesn't use Material Icons font.
// Instead it expects an svg icon inside of the button.
.w-button--icon,
.w-button--svg {
  @include base-button();
  color: $GREY_700;
  height: 3rem;
  overflow: unset;
  padding: 0;
  transition: background $TRANSITION_SPEED ease, color $TRANSITION_SPEED ease;
  width: 3rem;
}

@include hover() {
  .w-button--icon:hover,
  .w-button--svg:hover,
  .w-button--icon:focus,
  .w-button--svg:focus {
    background: $GREY_100;
    color: $GREY_900;
  }
}

.w-button--icon:active,
.w-button--svg:active {
  background: $GREY_200;
}

// This replaces the default focus outline so the outline matches the shape of the button.
.w-button--icon:focus,
.w-button--svg:focus {
  box-shadow: 0 0 0 1px $FOCUS_COLOR;
  outline: none;
}

.js-focus-visible .w-button--icon:focus:not(.focus-visible), // sass-lint:disable-line class-name-format
.js-focus-visible .w-button--svg:focus:not(.focus-visible) { // sass-lint:disable-line class-name-format
  box-shadow: none;
}

// A round button.
.w-button--round {
  border-radius: $GLOBAL_ROUNDED;
}

// Add Material icons to icon buttons
.w-button--with-icon::before,
.w-button--icon::before {
  @include font-material-icon();
  content: attr(data-icon);
  display: inline-block;
  height: 24px;
  margin-right: 16px;
  // To prevent screen readers from reading icon names.
  speak: none;
  width: 24px;
}

.w-button--icon::before {
  margin: 0;
}

.w-button--small {
  padding: 0 8px;
  height: 32px;
  text-transform: initial;
  letter-spacing: initial;
}

// A reset class that can be used to strip out the UA default button styles.
.button {
  appearance: none;
  border: 0;
  background: transparent;
  padding: 0;
}
