@import '../settings/colors';
@import '../settings/global';
@import '../tools/breakpoints';
@import '../tools/mixins';

// =============================================================================
// CARD OVERVIEW
//
// A card is a generic container with a bit of padding and hover/focus/active
// states.
//
// =============================================================================

.w-card {
  border-radius: $GLOBAL_RADIUS_MEDIUM;
  display: block;
  overflow: hidden;
  position: relative;
  transition: box-shadow $TRANSITION_SPEED;

  @include bp(md) {
    min-height: auto;
  }
}

.w-card:hover,
.w-card:focus,
.w-card:focus-within {
  background-color: transparent;
  outline: none;
  text-decoration: none;
}

.w-card::after {
  @include w-overlay();
}

.w-card:hover {
  // sass-lint:disable-block indentation
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
}

.w-card:hover::after {
  background-color: rgba(32, 33, 36, .0);
}

.w-card:focus,
.w-card:focus-within {
  // sass-lint:disable-block indentation
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
  outline: none;
}

.w-card:focus::after,
.w-card:focus-within::after {
  background-color: rgba(32, 33, 36, .04);
}

.w-card:active {
  // sass-lint:disable-block indentation
  box-shadow:
    0 8px 10px -5px rgba(0, 0, 0, .2),
    0 16px 24px 2px rgba(0, 0, 0, .14),
    0 6px 30px 5px rgba(0, 0, 0, .12);
  outline: none;
}

.w-card:active::after {
  background-color: rgba(32, 33, 36, .08);
}

.w-card--raised {
  // sass-lint:disable-block indentation
  box-shadow:
    0 1px 2px 0 rgba(60, 64, 67, .3),
    0 1px 3px 1px rgba(60, 64, 67, .15);
}

.w-card--draft::before {
  background: $RED_800;
  border-radius: 8px;
  color: $WHITE;
  content: 'DRAFT';
  font-size: 11px;
  font-weight: bold;
  left: calc(50% - 25px);
  padding: 2px;
  position: absolute;
  text-align: center;
  width: 50px;
}

.w-card__chips {
  margin-top: 12px;
}
