@import '../settings/colors';
@import '../settings/type';
@import '../tools/breakpoints';
@import '../tools/mixins';

.w-codelabs-callout {

  @include bp(sm) {
    // sass-lint:disable-block indentation
    border-radius: 8px;
    box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
    display: grid;
    font-size: .889em;
    // sass-lint:disable-all
    // scss-lint:disable all
    gap: 16px;
    grid-gap: 16px;
    // sass-lint:enable-all
    // scss-lint:enable all
    grid-template-columns: 1fr 1fr;
    padding: 24px;
  }
}

.w-codelabs-callout__header {
  margin-bottom: 16px;
}

.w-codelabs-callout__lockup {
  @include w-headline--three();
  color: $WEB_EXTENDED_SECONDARY_COLOR;
  display: inline-flex;
  // Ugh. Bad idea including margins in the heading styles.
  // They get reset at every breakpoint.
  margin: 0 0 12px !important;
}

.w-codelabs-callout__lockup::before {
  @include font-material-icon();
  content: 'code';
  display: inline-block;
  font-size: 20px;
  margin: 0 8px 0 0;
}

.w-codelabs-callout__headline {
  @include w-headline--two-small;
  margin: 0 0 4px !important;
}

.w-codelabs-callout__blurb {
  margin: 0;
}

.w-codelabs-callout__list {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.w-codelabs-callout__listitem {
  width: 100%;
}

.w-codelabs-callout__listitem:not(:last-of-type) {
  border-bottom: 1px solid $BORDER_COLOR;
}

.w-codelabs-callout__link {
  align-items: center;
  box-sizing: content-box;
  color: $WEB_EXTENDED_SECONDARY_COLOR;
  display: flex;
  min-height: 40px;
  padding: 8px 26px 8px 0;
  position: relative;
}

.w-codelabs-callout__link::after {
  @include font-material-icon();
  content: 'chevron_right';
  font-size: 20px;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 50%;
}
