@import '../settings/colors';
@import '../settings/type';

// =============================================================================
// COMPARE OVERVIEW
//
// A compare widget is used to show a good/bad variation of something.
// Typically it's used with a code snippet to show what someone shouldn't do.
//
// =============================================================================

.w-compare {
  font-size: .875em;
  line-height: 1.5em;
  margin: -16px 0 32px;
  padding: 0 0 0 16px;
  position: relative;
}

// Markdown will put unclassed p tags inside of the compare widget as content
// so we need to make them act like regular text content.
.w-compare > p {
  display: inline;
  font-size: inherit;
  margin: 0;
}

.w-compare__label {
  font-weight: $FONT_WEIGHT_MEDIUM;
}

.w-compare__label::before {
  bottom: 0px;
  content: '';
  left: 0px;
  position: absolute;
  top: 0px;
  width: 2px;
}

.w-compare__label--worse {
  color: $RED_700;
}

.w-compare__label--worse::before {
  background-color: $RED_700;
}

.w-compare__label--better {
  color: $GREEN_800;
}

.w-compare__label--better::before {
  background-color: $GREEN_800;
}
