.course-card {
  padding: 24px;

  @include bp(sm) {
    padding: 32px;
  }

  &__info {
    color: $GREY_700;
    font-size: 14px;

    > :first-child {
      color: $WEB_PRIMARY_COLOR;
      border-top: 2px solid $WEB_PRIMARY_COLOR;
      padding-top: 10px;
    }
  }

  &__cover {
    align-items: center;
    background-image: var(--course-background);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid $GREY_300;
    display: flex;
    height: 192px;
    padding-left: 24px;
    width: auto;

    @include bp(md) {
      height: 240px;
    }

    > svg {
      width: 174px;
      height: 64px;

      @include bp(lg) {
        width: 249px;
      }
    }
  }

  &__description {
    color: $GREY_700;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.course-card[data-dense] {
  .course-card__cover {
    height: 192px;
  }
}
