:root {
  --sideBarWidth: 360px;
  --numWidth: 3ch;
  --transitionDur: 0.15s;
  --counterPadding: 32px;
}

.course-nav {
  $header-height: 144px;
  $search-heigh: 48px;

  background-color: $WHITE;
  border-right: 1px solid $GREY_300;
  height: 100vh;
  max-width: 90vw;
  // This needs to match the ch size of the counter
  font-size: px-to-rem(11px);

  width: var(--sideBarWidth);
  transition-duration: var(--transitionDur);
  // TODO: This value also needs to be shared with the page layout so it knows
  // how much left margin to apply once the drawer is position fixed.
  transform: translateX(calc((var(--sideBarWidth) - var(--numWidth) - var(--counterPadding)) * -1));

  &__header {
    display: flex;
    height: 144px;
    padding: 24px 16px 0;
    background-image: url('/images/courses/learn-css.svg');
    background-repeat: no-repeat;
    background-position: right;
  }

  &__title {
    @include apply-utility('font', 'google-sans');
    @include apply-utility('weight', 'medium');
    color: $GREY_800;
    font-size: 28px;
    line-height: 40px;
    margin: auto 0 20px 40px;
  }

  &__gradient {
    background: linear-gradient(96.46deg, #B323F4 5.23%, #2BA1FF 33.16%, #02E895 68.79%, #6DDB00 90.93%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__search {
    padding: 0 16px;
    height: 48px;

    > .input {
      border: 1px solid $GREY_300;
      height: 48px;
    }
  }

  &__links {
    height: calc(100vh - #{$header-height} - #{$search-heigh});
    overflow-y: auto;
    // Give a little bottom margin so when we scroll to the bottom the last link
    // clearly scrolls into view.
    padding-bottom: 40px;
  }

  &__link {
    --counter-color: #{$GREY_700};
    --check-display: none;
    @include apply-utility('weight', 'medium');
    align-items: baseline;
    color: $PRIMARY_TEXT_COLOR;
    display: flex;
    min-height: 48px;
    // padding: 16px 24px;
    padding: 16px 0;
    position: relative; // this ensures the counters scroll with the link and don't blow out the container

    &[data-complete] {
      --check-display: block;
      color: $GREY_700;
      background-color: rgba($GREY_800, .03);
    }

    &:hover,
    &[data-active] {
      --counter-color: #{$WEB_PRIMARY_COLOR};
      background: $BLUE_50;
      color: $WEB_PRIMARY_COLOR;
      text-decoration: none;
    }
  }

  &__link-counter {
    color: var(--counter-color);
    background-color: inherit;
    font-size: px-to-rem(11px);
    font-weight: 600;
    line-height: 1.5;
    // gross. need to force this down to match the baseline of the title.
    // TODO: How will this work cross platform if the fonts are different?
    margin-top: 4px;
    position: absolute;
    transform: translateX(calc(var(--sideBarWidth) - var(--numWidth) - var(--counterPadding) / 2));
    transition-duration: var(--transitionDur);
  }

  &__link-title {
    font-size: px-to-rem(14px);
    line-height: 1.5;
    margin-left: calc(var(--numWidth) + var(--counterPadding));
    opacity: 0;
    transition-duration: var(--transitionDur);
    padding-right: calc(var(--counterPadding) / 2);
  }

  &__link-check {
    display: var(--check-display);
    height: px-to-rem(14px);
    margin-right: 16px;
  }
}

// On animate open:

.course-nav:hover,
.course-nav:focus,
.course-nav:active {
  transform: translateX(0);
  
  .course-nav__link-title {
    opacity: 1;
  }
  
  .course-nav__link-counter {
    transform: translateX(calc(var(--counterPadding) / 2));
  }
}
