.course-toc {
  display: none;
  @include bp(lg) {
    // Since flex box elements default to stretch, all the elements are the same
    // height, which can't be scrolled against. Adding align-self: flex-start to
    // the sticky element set the height to auto, which allowed scrolling, and
    // fixed it.
    // https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox
    align-self: flex-start;
    display: block;
    flex: 0 0 240px;
    order: 1;
    overflow-y: auto;
    padding: 16px;
    position: sticky;
    // The sticky top position needs to equal the height of the app-bar on
    // desktop + the top margin of the content element.
    top: calc(64px + 24px);
    height: calc(100vh - 64px - 24px);
  }
}

// A recursive owl selector which will give every item in the toc top margin.
.course-toc * + * {
  margin-top: 12px;
}

.course-toc ul {
  list-style: none;
}

.course-toc ul ul {
  border-left: 1px solid $GREY_300;
  padding-left: 16px;
}

.course-toc li {
  font-size: 14px;
}

.course-toc li > a {
  color: $GREY_700;
}

//

// .toc-container {
//   max-width: 100%;
//   width: px-to-rem(240px);
  
//   @include media-query('xl') {
//     margin-right: auto;
//   }
// }

// .toc > summary {
//   list-style: none;

//   &::-webkit-details-marker {
//     display: none;
//   }
// }

// .toc__icon {
//   margin-left: get-size(200);

//   > svg {
//     display: flex;
//     transform: rotate(90deg);
//   }
// }

// .toc[open] .toc__icon > svg {
//   transform: rotate(270deg);
// }

// // The eleventy-plugin-toc doesn't let us put classes on ul/ol or li children
// // so we have to style them all with descendant selectors.
// .toc__wrapper {
//   a {
//     @extend %type--small;
//     text-decoration: none;
//   }

//   li {
//     line-height: 1.2;

//     &::before {
//       display: none;
//     }
//   }

//   li + li {
//     margin-top: get-size(200);
//   }

//   ul,
//   ol {
//     list-style-type: none;
//     margin: get-size(200) 0;
//     padding: 0;

//     ul,
//     ol {
//       border-left: 1px solid var(--color-hairline);
//       padding-left: get-size(300);
//     }
//   }
// }
