@import '../settings/colors';

.drawer-course__search_results {
  .web-course-search__no-results {
    text-align: center;
  }

  .web-search-popout {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .web-search-popout__list {
    max-height: 100%;
  }

  .web-search-popout__link {
    line-height: 28px;
    font-size: 14px;
    font-weight: 700;
  }

  .web-search-popout__snippet {
    color: $GREY_700;
    font-size: 14px;
    margin: 0;
  }

  .web-search-popout__title {
    strong {
      color: $FOCUS_COLOR;
      font-weight: 700;
    }
  }

  .web-search-popout__item {
    a:hover,
    a:active,
    a:focus,
    :link:hover,
    :link:active,
    :link:focus,
    :visited:hover,
    :visited:active,
    :visited:focus {
      text-decoration: none;

      .web-search-popout__title {
        text-decoration: underline;
      }
    }
  }
}
