@import '../tools/mixins';

$CHEVRON_SIZE: 24px;
$CHEVRON_MARGIN: 12px;

.w-details {
  border: 1px solid $BORDER_COLOR;
  border-width: 1px 0;
  margin: 36px 0;
  padding: 18px 0;
  position: relative;

  & + & {
    border-top: 0;
    margin-top: -36px;
  }
}

.w-details__summary {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font: inherit;
  list-style: none;

  &::marker {
    display: none;
  }

  &:focus {
    outline: none;
  }

  @include hover() {
    &:hover .w-details__header::after,
    &:focus .w-details__header::after {
      background: $WEB_PRIMARY_COLOR_50;
    }
  }

  &:focus .w-details__header::after {
    box-shadow: 0 0 0 1px $FOCUS_COLOR;
  }

  .js-focus-visible &:focus:not(.focus-visible) .w-details__header::after { // sass-lint:disable-line class-name-format
    box-shadow: none;
  }

  &:active .w-details__header::after {
    background: $WEB_PRIMARY_COLOR_100;
  }
}

// The details header class overrides the margins of the base element and
// adds padding so that the tap target is sufficiently tall.
.w-details__header {
  color: $WEB_PRIMARY_COLOR_600;
  margin: 0;
  padding: .75rem #{$CHEVRON_SIZE + $CHEVRON_MARGIN + 4px} .75rem 0;
  position: relative;

  &::after {
    @include font-material-icon();
    border-radius: $GLOBAL_ROUNDED;
    content: 'expand_more';
    cursor: $CURSOR_POINTER_VALUE;
    font-size: $CHEVRON_SIZE;
    padding: 2px;
    position: absolute;
    right: 1px;
    speak: none;
    top: 50%;
    transform: translateY(-50%);
    transition: background .2s;
    visibility: visible;
  }

  @include bp(xsm) {
    & {
      padding: 1.125em #{$CHEVRON_SIZE + $CHEVRON_MARGIN + 12px} 1.125em 0;
    }

    &::after {
      padding: .25em;
    }
  }
}

.w-details[open] .w-details__header::after {
  transform: rotate(180deg) translateY(50%);
}

// The following selectors modulate the vertical whitespace of (a) headers (when
// there's no accompanying preview) and (b) previews in both open and closed
// states. They do violate BEM, but using helper classes would add a fair
// amount of complexity to the component JS.

.w-details__header:only-child {
  line-height: 1.5rem;
  padding: .375rem #{$CHEVRON_SIZE + $CHEVRON_MARGIN + 4px} .375rem 0;
}

h2.w-details__header:only-child {
  line-height: 1.3333em;
  padding: .75rem #{$CHEVRON_SIZE + $CHEVRON_MARGIN + 4px} .75rem 0;
}

.w-details > p:first-of-type {
  margin-top: 0;
}

// -----------------------------------------------------------------------------
// Preview text appears immediately below the header in the closed state and
// remains visible at the top of the expanded panel in the open state.
// In the closed state, the preview includes a 'Read more' button
// as a pseudo element to improve discoverability for sighted users.
// -----------------------------------------------------------------------------

.w-details__preview {
  margin: 0 0 1rem;

  &::after {
    color: $GREY_700;
    content: 'Read more';
    display: block;
    font-size: .7222em;
    font-weight: 500;
    line-height: 2.13333;
    padding-top: .75rem;
    text-transform: uppercase;
    transition: color .2s;
  }
}

.w-details[open] .w-details__preview {
  display: none;
}

@include hover() {
  .w-details__summary:hover .w-details__preview::after,
  .w-details__summary:focus .w-details__preview::after {
    color: $LINK_COLOR;
  }
}
