.drawer-course {

  &__contents {
    background-color: $WHITE;
    border-right: 1px solid $GREY_300;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 90vw;
    width: 360px;
  }

  &__header {
    background-image: var(--course-background);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 294px;
    display: flex;
    height: 144px;
    padding: 24px 16px 0;
  }

  &__title {
    height: 40px;
    margin: auto 0 20px;

    > svg {
      height: 100%;
      width: auto;
    }
  }

  &__search {
    padding: 0 16px;
    height: 48px;

    > .input {
      border: 1px solid $GREY_300;
      height: 48px;
    }
  }

  &__links {
    flex: 1;
    overflow-y: auto;
    overscroll-behavior: contain; // sass-lint:disable-line no-misspelled-properties
  }

  &__link {
    --counter-color: #{$GREY_700};
    --check-display: none;
    @include apply-utility('weight', 'medium');
    align-items: baseline;
    color: $PRIMARY_TEXT_COLOR;
    display: flex;
    min-height: 48px;
    padding: 16px 24px;

    &[data-complete] {
      --check-display: block;
      color: $GREY_700;
      background-color: rgba($GREY_800, .03);
    }

    &:hover,
    &[data-active] {
      --counter-color: #{$WEB_PRIMARY_COLOR};
      background: $BLUE_50;
      color: $WEB_PRIMARY_COLOR;
      text-decoration: none;
    }
  }

  &__link-counter {
    color: var(--counter-color);
    background-color: inherit;
    font-size: px-to-rem(11px);
    font-weight: 600;
    line-height: 1.5;
  }

  &__link-title {
    font-size: px-to-rem(14px);
    line-height: 1.5;
  }

  &__link-check {
    display: var(--check-display);
    height: px-to-rem(14px);
    margin-right: 16px;
  }
}
