// Dependencies:
// tools/_breakpoints.scss

@import '../tools/breakpoints';

// =============================================================================
// FIGURE OVERVIEW
//
// Figures are images with an optional caption at the bottom.
// They can be used as heros, break out of their container, or inlined to the
// left or right.
//
// =============================================================================

.w-figure {
  margin: 32px 0;
}

.w-figure--hero {
  margin: 0 auto;
  max-height: 50vh;
  max-width: 1200px;
  overflow: hidden;
  width: auto;
}

// Allow images contained within a figure to be break outside of the main
// container in articles and be full bleed on mobile.
.w-figure--fullbleed {
  margin: 64px -32px;
}

.w-figure--inline-right {
  float: right;
  margin: 0 0 16px 32px;
}

.w-figure--inline-left {
  float: left;
  margin: 0 32px 16px 0;
}

.w-figcaption {
  font-size: .875em;
  line-height: 1.5em;
  margin: 16px 0 0;
}

.w-figcaption--fullbleed {
  margin: 24px 32px 0;
}
