@import '../settings/colors';
@import '../settings/type';
@import '../tools/breakpoints';

@mixin w-footer__link-padding {
  padding: 16px 0;
}

.w-footer {
  border-top: 1px solid $GREY_300;

  @media print {
    display: none;
  }
}

.w-footer__license {
  padding-top: 32px;
  width: 100%;
}

.w-footer__license p {
  font-size: .75rem;
  margin: 0;
  max-width: 960px;
}

.w-footer__linkboxes {
  background: $WHITE;
  display: block;
  font: $FONT_WEIGHT_REGULAR 14px/16px $PRIMARY_FONT;
}

.w-footer__linkboxes-list {
  display: block;
  list-style: none;
  padding: 24px 0;

  @include bp(md) {
    display: flex;
    padding: 24px 12px 0;
  }
}

.w-footer__linkbox {
  flex-grow: 1;
  padding: 0 16px 24px;

  @include bp(md) {
    flex: 1;
    margin: 0;
  }
}

.w-footer__linkbox:last-of-type {
  padding: 0 16px;
}

.w-footer__linkbox-heading {
  font: $FONT_WEIGHT_MEDIUM 14px/16px $PRIMARY_FONT;
  margin: 0 0 8px;
}

.w-footer__linkbox-list {
  list-style-type: none;
  padding: 0;
}

.w-footer__linkbox-item {
  margin: 0;
}

.w-footer__linkbox-link {
  color: $PRIMARY_TEXT_COLOR;
  display: block;
  @include w-footer__link-padding;
}

.w-footer__linkbox-link:focus,
.w-footer__linkbox-link:hover {
  color: $FOCUS_COLOR;
  text-decoration: none;
}

.w-footer__utility {
  background: $WHITE;
  display: block;
}

.w-footer__utility-nav {
  border-top: 1px solid #ddd;
  display: block;
  font: $FONT_WEIGHT_REGULAR 14px/16px $PRIMARY_FONT;
  margin: 0 16px;
  padding: 24px 0;

  @include bp(md) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 24px;
  }
}

.w-footer__utility-list {
  display: block;
  list-style: none;
  padding: 0;

  @include bp(md) {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
}

.w-footer__utility-item {
  margin: 0;

  @include bp(md) {
    margin-right: 40px;
  }
}

.w-footer__utility-link {
  color: #202124;
  display: block;
  @include w-footer__link-padding;
}

.w-footer__utility-link:focus,
.w-footer__utility-link:hover {
  color: $FOCUS_COLOR;
  text-decoration: none;
}

.w-footer__utility-logo-link {
  display: block;
  line-height: 1;
  margin-right: 40px;
}

.w-footer__utility-logo {
  margin: -2px 0 16px;
  max-width: 185px;

  @include bp(md) {
    margin: -2px 0 0;
  }
}
