.header-course {
  background-image: var(--course-background);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 136px;
  position: sticky;

  &__title {
    height: 30px;
    margin-left: 32px;

    > svg {
      height: 100%;
      width: auto;
    }
  }
}
