// =============================================================================
// HERO BANNER OVERVIEW
//
// A banner used during a special occasion.
// This is a one-off design and this file can probably be deleted when the
// campaign is over.
//
// =============================================================================

@import '../settings/colors';
@import '../settings/type';

.w-hero-banner {
  color: $WHITE;
}

.w-hero-banner__top {
  background-color: $BLACK;
  font-family: $PRIMARY_FONT;
  font-size: 14px;
  font-weight: $FONT_WEIGHT_MEDIUM;
  padding: 16px;
  text-align: center;

  a {
    color: $WHITE;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @include bp(md) {
    padding: 20px 24px;
  }
}

.w-hero-banner__main {
  background-color: $GOOGLE_BLUE_600;

  // Create consistent vertical rhythm for all children.
  * + * {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  // Reduce the built-in padding for the layout-container component
  .w-layout-container {
    padding: 24px 16px;

    @include bp(md) {
      padding: 40px 24px;
    }
  }

  .w-hero-banner__headline {
    color: $WHITE;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0;

    @include bp(md) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1rem;
  }
}
