// =============================================================================
// HERO OVERVIEW
//
// A hero is a giant image that sits at the top of a post. It's meant to catch
// the user's eye and also doubles as the cover image for the post on the
// home page and blog page.
//
// =============================================================================

.w-hero {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
