@import '../tools/breakpoints';

// -----------------------------------------------------------------------------
// A hero is a banner image that appears at the top of a post.
// -----------------------------------------------------------------------------

.w-hero {
  display: none;

  @include bp(sm) {
    display: block;
    margin: 0 auto;
    max-height: 480px;
    width: 1600px;
  }
}

.w-hero--top {
  object-position: top;
}

.w-hero--bottom {
  object-position: bottom;
}

.w-hero--cover {
  object-fit: cover;
}

.w-hero--contain {
  object-fit: contain;
}
