@import '../tools/breakpoints';

// =============================================================================
// LAYOUTS OVERVIEW
//
// Layout classes that can be extended or used directly.
//
// =============================================================================

// -----------------------------------------------------------------------------
// CONTAINERS
// -----------------------------------------------------------------------------

.w-layout-container,
.w-layout-container--narrow {
  box-sizing: content-box;
  margin: 0 auto;
  overflow: visible;
  padding: 24px;

  @include bp(sm) {
    padding: 32px;
  }
}

.w-layout-container { max-width: 960px; }
// Article pages have a narrower, single column layout.
.w-layout-container--narrow { max-width: 800px; }
