@import '../settings/colors';
@import '../settings/global';
@import '../settings/type';
@import '../tools/mixins';

$CHEVRON_SIZE: 24px;
$BORDER_COLOR: $GREY_300;

.w-self-assessment-hint {
  border-top: 1px solid #dadce0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}

.w-self-assessment-hint__summary {
  color: $SUCCESS_COLOR;
  cursor: $CURSOR_POINTER_VALUE;
  flex-grow: 1;
  font: inherit;
  font-weight: 500;
  list-style: none;
  padding: 1.125em #{$CHEVRON_SIZE + 12px} 1.125em 0;
  position: relative;

  // scss-lint thinks this is a pseudo class instead of a psuedo element
  // and complains about the two colons.
  // scss-lint:disable all
  &::-webkit-details-marker {
    display: none;
  }
  // scss-lint:enable all

  &:focus {
    outline: none;
  }

  &::after {
    @include font-material-icon();
    border-radius: $GLOBAL_ROUNDED;
    content: 'expand_more';
    cursor: $CURSOR_POINTER_VALUE;
    font-size: $CHEVRON_SIZE;
    padding: 2px;
    position: absolute;
    right: 1px;
    speak: none;
    top: 50%;
    transform: translateY(-50%);
    transition: background $TRANSITION_SPEED, transform .3s;
    visibility: visible;
  }

  @include bp(xsm) {
    &::after {
      padding: .25em;
    }
  }

  &:hover::after,
  &:focus::after {
    background: $GREEN_50;
  }

  &:focus::after {
    box-shadow: 0 0 0 1px $FOCUS_COLOR;
  }

  &:active::after {
    background: $GREEN_100;
  }
}

.w-self-assessment-hint[open] .w-self-assessment-hint__summary::after {
  transform: rotate(180deg) translateY(50%);
}

.w-self-assessment-hint__panel {
  background: $GREEN_50;
  padding: 18px;

  & p {
    font-size: 1em;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
