// =============================================================================
// SHARED OVERVIEW
//
// Utility classes and placeholders shared amongst the components.
//
// =============================================================================

@include exports('components/shared') {
  %w-overlay {
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color $TRANSITION_SPEED, border $TRANSITION_SPEED;
    z-index: 1;
  }

  %w-overlay-hover {
    background-color: rgba($GREY_900, .04);
  }

  %w-overlay-focus {
    background-color: rgba($GREY_900, .12);
  }

  %w-overlay-active {
    background-color: rgba($GREY_900, .16);
  }
}