@import '../settings/colors';
@import '../tools/breakpoints';

.w-subscribe {
  display: block;
  margin-top: 32px;
}

.w-subscribe__border {
  border: 1px solid $GREY_300;
  width: 100%;

  &:focus-within {
    border-color: $WEB_EXTENDED_TERTIARY_COLOR;
    outline: none;
  }
}

.w-subscribe__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

.w-subscribe__error {
  color: $WARNING_COLOR;
}

.w-subscribe__field {
  display: flex;
  margin-top: 8px;
}

.w-subscribe__padded {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 32px);

  &.w-subscribe__padded--major {
    max-width: 540px;
  }

  &.w-subscribe__padded--minor {
    max-width: 720px;
  }
}

.w-subscribe__checkbox {
  margin-right: 18px;
}

.w-subscribe__notice {
  color: $GREY_600;
  font: inherit;
  font-size: 14px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.w-subscribe__select {
  background-color: $WHITE;
  border: 0;
  font: inherit;
  height: 52px;

  &:focus {
    border: 0;
    outline: none;
  }
}

@include bp(sm) {
  .w-subscribe__fields {
    display: flex;
    justify-content: space-between;

    .w-subscribe__field {
      width: calc(50% - 4px);
    }
  }
}
