@import '../../styles/settings/colors';
@import '../../styles/tools/breakpoints';

.w-toc__button-wrapper {
  display: flex;
  height: 0;
  justify-content: flex-end;
  margin-right: 24px;
  margin-bottom: -24px;
  padding-top: 24px;
  position: sticky;
  top: 64px;
  z-index: 1;

  @include bp(sm) {
    margin-bottom: -32px;
    padding-top: 32px;
  }
}

.w-toc__button {
  background-color: $WHITE;
  border: 1px solid $GREY_300;
  height: 40px;
  padding: 7px;
}

.w-toc {
  background-color: $WHITE;
  border-bottom: 1px solid $BORDER_COLOR;
  border-top: 1px solid $BORDER_COLOR;
  display: none;
  padding: 24px;
  position: sticky;
  top: 63px;
  width: 100%;
  z-index: 1;

  @include bp(sm) {
    padding-top: 32px;
  }

  @include bp(md) {
    border-bottom: 0;
    border-left: 1px solid $BORDER_COLOR;
    border-top: 0;
    height: calc(100% - 64px);
    position: fixed;
    right: 0;
    width: 268px;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      &::before {
        content: none;
      }
    }
  }
}

.w-toc__label {
  display: flex;
  height: 40px;

  * {
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
  }
}

.w-toc__label-spacer {
  flex-grow: 1;
}

#w-toc__open-state:checked {
  ~ * {
    @include bp(md) {
      width: calc(100vw - 268px);

      .w-actions {
        right: calc(24px + 268px);
      }
    }

    .w-toc__button-wrapper {
      display: none;
    }

    .w-toc {
      display: block;
    }
  }
}
