.w-tooltip {
  background: $BLACK;
  border-radius: $GLOBAL_RADIUS;
  color: $WHITE;
  font: 500 12px / 1 $PRIMARY_FONT;
  left: 50%;
  letter-spacing: .3px;
  opacity: 0;
  padding: 6px 8px;
  pointer-events: none;
  position: absolute;
  text-transform: none;
  top: calc(100% + 3px);
  transform: scale(.85) translateX(-50%);
  transform-origin: top left;
  visibility: hidden;
  white-space: nowrap;
}

.w-tooltip--left {
  left: 0;
  transform: scale(.85);
}

.w-tooltip--right {
  left: 100%;
  transform: translateX(-100%) scale(.85);
  transform-origin: top right;
}

// Need descendent combinator for focus to accommodate details widget
:hover > .w-tooltip,
:focus .w-tooltip {
  opacity: .77;
  transform: scale(1) translateX(-50%);
  transition: opacity .15s .3s, transform .15s .3s;
  visibility: visible;
}

:hover > .w-tooltip--left,
:focus .w-tooltip--left {
  transform: scale(1);
}

:hover > .w-tooltip--right,
:focus .w-tooltip--right {
  transform: translateX(-100%) scale(1);
}

// sass-lint:disable-block class-name-format
.js-focus-visible :focus:not(.focus-visible) .w-tooltip {
  opacity: 0;
  visibility: hidden;
}
