---
permalink: false
layout: sandbox/article
title: chips
tags:
  - sandbox
---

<div class="w-chips">
  <a class="w-chip" href="#">Artificial Intellegence</a>
  <a class="w-chip" href="#">User Experience</a>
  <a class="w-chip" href="#">Learning</a>
</div>