---
layout: default-next
noindex: true
---
<div class="404 region">
  <header class="wrapper">
    <div class="flow all-center headline">
    <h1 class="headline__title">{{ title }}</h1>
    <p>
      {{ i18n.404_msg }}
    </p>
  </header>
</div>
