---
layout: 'default-next'
CSS_ORIGIN: 'next'
pageScripts:
  - '/js/about.js'
---
{% from 'macros/icon.njk' import icon, svg with context %}

<div class="about">

  {# Intro and pods start #}
  <div class="region bg-mid-bg">
    <div class="wrapper flow">
      <header class="headline all-center flow">
        <h1 class="headline__title">{{ intro.title }}</h1>
        {{ intro.summary | md | safe }}
        <div class="headline__action all-center flow-space-size-2">
          <h2 class="text-size-3">{{ intro.sectionHeading }}</h2>
        </div>
      </header>
      <div class="flow gap-top-size-2 flow-space-size-1">
        {% for item in pods %}
        <article class="about__pod">
          {{ svg('../../images/' + item.brand , {label: item.alt}) }}
          <div class="about__pod-columns">
            <div>
              {% Img src=item.decor.src, alt="", width=item.decor.width, height=item.decor.height %}
            </div>
            <div class="flow flow-space-base">
              <h2 class="text-size-3">{{ item.title }}</h2>
              <p class="color-mid-text">{{ item.summary }}</p>
              <div class="cluster flow-space-size-1">
                {% for action in item.actions %}
                  <a href="{{ action.url }}">{{ action.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
  {# Intro and pods end #}

  {# Other resources start #}
  <div class="region hidden-yes">
    <div class="wrapper" data-size="narrow">
      <div class="about__columns">
        <article class="about__article flow">
          {% Img src=otherResources.decor.src, alt="", width=otherResources.decor.width, height=otherResources.decor.height %}
          <h2>{{ otherResources.title }}</h2>
          {{ otherResources.summary | md | safe }}
        </article>
        <dl class="about__pairs">
          {% for item in otherResources.pairs %}
            <dt>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </dt>
            <dd>{{ item.summary }}</dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
  {# Other resources end #}

  {% include 'partials/subscribe-next.njk' %}

</div>
