---
layout: default-next
---
<div class="landing-page">
  {# @TODO fix subscribe button #}
  {# <div class="w-actions">
    {% include 'partials/subscribe-action.njk' %}
  </div> #}

  {# Hero starts #}
  <header class="region bg-mid-bg">
    <div class="wrapper">
      <div class="headline all-center flow">
        {% if paged.data.hero %}
          <div class="avatar gap-inline-auto" data-size="large">
            {% Img
              src=paged.data.hero,
              alt=renderData.title,
              height="192",
              width="192",
              sizes="(min-width: 481px) 192px, 128px",
              options={minWidth: 128}
            %}
          </div>
        {% endif %}
        <h1 class="headline__title">{{ renderData.title }}</h1>
        <p>{{ renderData.description | safe }}</p>
        <div class="cluster flex-justify-center">
          {% if paged.homepage %}
            <a href="{{ paged.homepage }}" target="_blank">
              <img src="/images/icons/language.svg" alt="Homepage" width="32" height="32">
            </a>
          {% endif %}
          {% if paged.twitter %}
            <a href="https://twitter.com/{{ paged.twitter }}" target="_blank">
              <img src="/images/icons/twitter.svg" alt="Twitter" width="32" height="32">
            </a>
          {% endif %}
          {% if paged.github %}
            <a href="https://github.com/{{ paged.github }}" target="_blank">
              <img src="/images/icons/github.svg" alt="GitHub" width="32" height="32">
            </a>
          {% endif %}
          {% if paged.glitch %}
            <a href="https://glitch.com/@{{ paged.glitch }}" target="_blank">
              <img src="/images/icons/glitch.svg" alt="Glitch" width="32" height="32">
            </a>
          {% endif %}
          <a href="{{ renderData.rss }}" target="_blank">
            <img src="/images/icons/rss.svg" alt="RSS Feed" width="32" height="32">
          </a>
        </div>
      </div>
    </div>
  </header>
  {# Hero ends #}

  {% include 'partials/paged-next.njk' %}

  <div class="region">
    <div class="wrapper">
      <div class="cluster flex-justify-center">
        <a class="button" href="/authors">
          {{ 'i18n.paths.authors.see_more' | i18n(locale) }}
        </a>
      </div>
    </div>
  </div>
</div>
