---
layout: default-next
---
{% from 'macros/i18n-card.njk' import i18nCard with context %}

<div class="landing-page">
 {# @TODO fix subscribe button #}
 {# <div class="w-actions">
    {% include 'partials/subscribe-action.njk' %}
  </div> #}

  {# Hero starts #}
  <header class="region bg-mid-bg">
    <div class="wrapper">
      <div class="headline all-center flow">
        <h2 class="headline__title">{{ title }}</h2>
        <p>{{ description }}</p>
      </div>
    </div>
  </header>
  {# Hero ends #}

  <div class="region">
    {# Authors start #}
    <div class="wrapper auto-grid">
      {% for author in paged.elements %}
        {{ i18nCard(author, true) }}
      {% endfor %}
    </div>
    {# Authors end #}

    <div class="wrapper gap-top-size-3">
      {% include "partials/pagination-next.njk" %}
    </div>
  </div>
</div>
