---
show_banner: true
algolia_priority: 1
tags: []
---

<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {% include 'partials/head.njk' %}
  </head>
  <body class="unresolved">
    {{ content | safe }}

    <!-- The following content is toggled by the export toolbar -->
    <section id="exported-markdown">
      <div class="post wrapper">
        <div class="sidebar region flex-align-start flex-dir-rev flex-wrap-no">
          <article class="prose legacy-rollout">
            <header class="flow gap-bottom-size-1">
              <h3>{{ title }}</h3>
              <h4>Exported markdown</h4>
            </header>

            <template>{% Export %}</template>
            <web-copy-code>
              <pre class="markdown"><code class="markdown"># Markdown</code></pre>
            </web-copy-code>
          </article>
        </div>
      </div>
    </section>

    <web-export-toolbar></web-export-toolbar>
  </body>
</html>
