---
layout: default
permalink: "/{{lang}}/{{page.fileSlug}}/index.html"
show_banner: false
pageScripts:
  - '/js/content.js'
---

<div class="codelab-landing-page">
  {% if path === undefined  %}
    {% set postPaths = page | getPaths %}
    {# Use first found path as a default path. #}
    {% set path = paths[postPaths[0]] %}
  {% endif %}
  <web-codelab glitch="{{ glitch }}" {% if glitch_path %}path="{{ glitch_path }}"{% endif %} {% if site.env === 'test' %}testmode{% endif %}>
    <div class="web-codelab__instructions">
      <h1 class="w-headline w-headline--two web-codelab__headline">{{ title }}</h1>
      {% if date %}
        <div class="w-author__published">
          <time>{{date | prettyDate}}</time>
          {% if updated %} <span class="w-author__separator">•</span> {{ 'i18n.common.updated' | i18n((locale)) }} <time>{{ updated | prettyDate }}</time> {% endif %}
        </div>
      {% endif %}

      {% if authors %}
        <div class="w-authors w-mt--xl w-pt--sm">
          {% for author in authors %}
            {% Author {
              id: author,
              author: collections.authors[author],
              showSocialMedia: true
              }
            %}
          {% endfor %}
        </div>
      {% endif %}

      {% if draft and site.env === 'dev' %}
        <div class="w-banner w-banner--warning w-banner--body">
          🚨 This post is a draft! 🚨
        </div>
      {% endif %}

      {{ content | safe }}
      {% if related_post %}
        {% ArticleNavigation {
          back: '/' + related_post,
          backLabel: 'Return to article'
        } %}
      {% elif path %}
        {% ArticleNavigation {
          back: '/' + path.slug,
          backLabel: 'Return to all articles',
          path: page
        } %}
      {% endif %}
    </div>
  </web-codelab>
</div>
