---
layout: base
---

{#
  Grab the navigation data for the course. The projectKey is defined in the
  11tydata.js file at the root of the course in /learn/[course].
#}
{% set navigationToC = courses[projectKey].toc %}
{% set pageNavigation = collections.all | navigation(navigationToC) %}

{#
  Grab the ToC contents for headings ToC. This powers the list of headings
  that appears on the right-hand side of the page. Unfortunately our use of
  the word 'toc' is a bit overloaded :P
#}
{% set tocContents %}
  {{- content | courseToc | safe -}}
{% endset %}

<a class="skip-link w-button" href="#main">Skip to main</a>

<div class="course-layout">
  <nav class="course-nav scrollbar" aria-label="primary navigation">
    <ul>
      {#
        TODO: This does not yet support walking the recursive navigation tree
        and rendering section headings. It should be easy enough to add that
        using a macro similar to the one shown here for rendering unlimited
        child levels.
        https://www.11ty.dev/docs/plugins/navigation/#copy-and-paste-templates
      #}
      {% for item in pageNavigation -%}
        <li {% if item.url === page.url %} data-active aria-current="page" {% endif %}>
          <a href="{{ item.url }}">{{ item.page.data.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>

  <div class="course-body">
    <nav class="course-app-bar app-bar" aria-label="breadcrumbs">
      <ul class="app-bar__list">
        <li class="app-bar__item">
          <a href="/">web.dev</a>
        </li>
        <li class="app-bar__item">
          <a href="/learn/">Learn</a>
        </li>
        <li class="app-bar__item">
          <a href="/learn/css/">Learn CSS!</a>
        </li>
      </ul>
      <button class="w-ml--auto">Share</button>
    </nav>

    <div class="course-content">

      {% include 'partials/toc-side.njk' %}

      <main id="main">
        {% include 'partials/toc-inner.njk' %}
        {{ content | safe }}
      </main>
    </div>

    <nav class="course-pagination" aria-label="pagination">
      {% for item in pageNavigation %}
        {% if item.url === page.url %}
          {% if item.prev %}
            {% set prev = item.prev %}
            <a href="{{ prev.url }}" class="course-pagination-control">
              {{ prev.page.data.title }}
            </a>
          {% endif %}
          {% if item.next %}
            {% set next = item.next %}
            <a href="{{ next.url }}" class="course-pagination-control">
              {{ next.page.data.title }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    {% include 'partials/footer.njk' %}
  </div>
</div>