---
layout: 'base'
---
{# This is the standard layout that most pages will use. #}
<a href="#main" class="skip-link button" data-type="primary">{{ 'i18n.common.skip_link' | i18n(locale) }}</a>
{% include 'partials/site-header.njk' %}
<main id="main">
  {{ content | safe }}
</main>
{% include 'partials/site-footer.njk' %}
