---
layout: 'default-next'
CSS_ORIGIN: 'next'
pageScripts:
  - '/js/home.js'
externalScripts:
  - 'https://www.google.com/recaptcha/api.js'
---
{% from 'macros/icon.njk' import icon with context %}

<div class="homepage">
  {# Hero starts #}
  <header class="hero  bg-core-bg">
    <div class="wrapper">
      <div class="hero__columns switcher">
        <div>
          <span aria-hidden="true" class="hero__eyebrow">{{ intro.eyebrow }}</span>
          <div class="hero__content flow">
            <img fetchpriority="high" src="{{ intro.image }}" alt="" aria-hidden="true" class="hero__decor" width="{{ intro.imageWidth }}" height="{{ intro.imageHeight }}" />
            <h1 class="hero__title">{{ intro.title }}</h1>
            {{ intro.summary | md | safe }}
            <a class="button" data-type="primary" href="{{ intro.buttonUrl }}">{{ intro.buttonText }}</a>
          </div>
        </div>
        <div class="flow">
          <a class="feature-card" href="{{ featuredCard.url }}" data-theme="{{ featuredCard.theme }}" data-treatment="illustration">
            <span class="feature-card__eyebrow">{{ featuredCard.eyebrow }}</span>
            <h3 class="feature-card__title">{{ featuredCard.title }}</h3>
            {% if featuredCard.video %}
              <video autoplay loop muted playsinline
                class="feature-card__background"
                aria-label="{{ featuredCard.alt }}">
                <source src="{{ featuredCard.video }}" type="video/mp4;">
              </video>
            {% elif featuredCard.background %}
            {% Img src="image/SZHNhsfjU9RbCestTGZU6N7JEWs1/8JNKYwBSBG5CtMo2KxkB.png", alt=featuredCard.alt, width="800", height="434", class="feature-card__background" %}
            {% endif %}
          </a>

          {% include "partials/picked-case-study.njk" %}
        </div>
      </div>
    </div>
  </header>
  {# Hero ends #}

  {# Web Platform News start #}
  <div class="homepage__section bg-mid-bg">
    <div class="wrapper">
      <div class="headline all-center flow">
        <h2 class="headline__title">{{ news.title }}</h2>
        <p>{{ news.subTitle }}</p>
      </div>
      <div class="homepage__case-studies switcher gap-top-size-2">
      {% set cardCount = 0 %}
      {% for item in collections['case-study'] | reverse %}
        {# See https://github.com/GoogleChrome/web.dev/issues/8121 #}
        {% if item.data.lang === 'en' %}
          {% if cardCount <= 1 %}
            {% if item.data.hero %}
              {% if not item.data.alt %}
                {% set alt = '' %}
              {% else %}
                {% set alt = item.data.alt %}
              {% endif %}
              <article class="card">
                <a href="{{ item.url }}" aria-hidden="true">
                  {% Img src=item.data.thumbnail or item.data.hero, alt=item.data.alt, width="570", height="330", class="card__hero" %}
                </a>
                <div class="card__content flow">
                  <h3 class="card__heading text-size-3">
                    <a href="{{ item.url }}">{{ item.data.title }}</a>
                  </h3>
                  <p>{{ item.data.description }}</p>
                </div>
                <div class="card__tags cluster gap-top-size-1" aria-label="tags for this case study">
                  {% for tagKey in item.data.tags or [] %}
                    {% if tagKey in collections.tags %}
                      {% set tag = collections.tags[tagKey] %}
                      <a class="pill" href="{{ tag.url }}">{{ tag.overrideTitle or tag.title | i18n(locale) }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
              </article>
              {% set cardCount = cardCount + 1 %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  {# Web Platform News end #}

  {# Themes start #}
  <div class="wrapper">
    <div class="pad-block-size-1 repel">
      <h2 id="themes" class="text-size-3"> Themes </h2>

      {% set filterItems = [] %}
      {% for learn in learns %}
        {% set filterItems = (filterItems.push({title: learn.category, id: learn.category | slug }), filterItems) %}
      {% endfor %}
      <web-learn-filter all="all" filters="{{filterItems | dump}}"></web-learn-filter>
    </div>
  </div>

  <div id="learn__collections">
  {% for learn in learns %}
    <div class="homepage__collection" id="{{ learn.category | slug }}">
      <div class="region wrapper">
        <h5> {{ learn.category }} </h5>
        <div class="collection-cards" aria-label="topics">
          {% for topic in learn.cards %}
            <a
              {% if topic.url %} href="{{ topic.url }}" {% endif %}
              class="card {% if topic.cssClass %}{{ topic.cssClass }}{% endif %}"
              data-category="web.dev"
              data-label="Topic: {{topic.title}}"
              data-action="click"
              role="listitem"
            >
              {% if topic.thumbnail %}
                {% Img src=topic.thumbnail, alt=topic.title, width="370", height="220" %}
              {% endif %}

              <div class="content">
                <div class="card__eyebrow flow">
                  {{ icon(topic.eyebrow.icon) }}
                  <span class="text-size-0 color-mid-text">{{ topic.eyebrow.text }}</span>
                </div>

                <div class="card__content flow">
                  <h4 class="card__heading">{{ topic.title }}</h4>
                  <p class="text-size-1 color-mid-text">{{ topic.description }}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {# Themes end #}

  {# Chrome developers start #}
  <section class="homepage__developers region bg-mid-bg">
    <div class="wrapper flow all-center">
      <div> {% include "icons/chrome.svg" %} </div>

      <h1 class="headline__title">{{ developers.title }}</h1>
      <p class="color-mid-text">{{ developers.summary | safe }}</p>
      <div>
        <a class="button gap-top-size-1" data-type="primary" href="{{ developers.primaryButtonUrl }}">{{ developers.primaryButtonText }}</a>
      </div>
    </div>
  </section>
  {# Chrome developers end #}

  {% include 'partials/subscribe.njk' %}
</div>
