---
layout: default
title: web.dev
show_banner: false
pageScripts:
  - '/js/home.js'
---
<div>

  <header class="w-hero-banner">
    <div class="w-hero-banner__inner">
      {{ i18n.banner_blm_html | safe }}
    </div>
  </header>

  <div class="w-masthead-home">
    <div class="w-masthead-home__container">
      <div class="w-masthead-home__left">
        <h1 class="w-headline--two w-font-weight--medium">
          {{ i18n.headline }}
        </h1>
        <p>
          {{ i18n.subheadline }}
        </p>
        <div class="w-masthead-home__buttons">
          <a
            class="w-button w-button--primary w-masthead-home__button--primary gc-analytics-event"
            data-category="web.dev"
            data-label="home, test site"
            data-action="click"
            href="/measure"
          >
            {{ i18n.test_cta }}
          </a>
          <a
            class="w-button w-button--secondary gc-analytics-event"
            data-category="web.dev"
            data-label="home, start learning"
            data-action="click"
            href="/learn"
          >
            {{ i18n.explore_cta }}
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="w-layout-container w-text--center">
    <p class="w-headline--two-small">
      {{ i18n.about_subheadline }}
    </p>
    <a
      class="w-button gc-analytics-event"
      data-category="web.dev"
      data-label="home, learn about"
      data-action="click"
      href="/about"
    >
      {{ i18n.about_cta }}
    </a>
  </section>

  <section>
    <div class="w-layout-container w-pb--non w-mt--non">
      <header class="w-text--center">
        <h2 class="w-headline--two-faded">
          {{ i18n.latest_headline }}
        </h2>
        <p>
          {{ i18n.latest_subheadline }}
        </p>
      </header>
    </div>
    <div class="w-grid w-pb--std">
      <div class="w-grid__columns w-grid__columns--featured" role="list">
        {% for post in recentPosts %}
          {% if loop.first %}
            {% PostCard post, true %}
          {% else %}
            {% PostCard post %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="w-layout-container w-pt--non w-pb--xl">
      <div class="w-text--center">
        <a class="w-button" href="/blog">
          {{ i18n.see_all }}
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="w-layout-container w-pb--non">
      <header class="w-text--center">
        <h2 class="w-headline--two-faded">
          {{ i18n.explore_cta }}
        </h2>
        <p>
          {{ i18n.explore_subheadline }}
        </p>
      </header>
    </div>
    <div class="w-grid w-pb--std">
      <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three" role="list">
        {% for path in home.paths %}
          {% PathCard path, lang %}
        {% endfor %}
      </div>
    </div>
    <div class="w-layout-container w-pt--non w-pb--xl">
      <div class="w-text--center">
        <a
          class="w-button gc-analytics-event"
          data-category="web.dev"
          data-label="home, all paths"
          data-action="click"
          href="/learn"
        >
          {{ i18n.see_topics }}
        </a>
      </div>
    </div>
  </section>

  <hr>

  <section class="w-layout-container">
    {% include 'partials/subscribe.njk' %}
  </section>
</div>
