---
layout: default
renderData:
  title: "{{paths[pathName].title | i18n(locale)}}"
  description: "{{paths[pathName].description | i18n(locale)}}"
  hero: "{{paths[pathName].cover}}"
---

{% set path = paths[pathName] %}
{% set topics = path.topics | removeDrafts(lang) %}

{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}
<div class="path-landing-page">
  <header class="w-masthead-path">
    <div class="w-masthead-path__container">
      <div class="w-masthead-path__left">
        <h1 class="w-masthead-path__headline no-link">{{path.title | i18n(locale)}}</h1>
        <p class="w-masthead-path__description">{{path.description | i18n(locale)}}</p>
      </div>
      <div class="w-masthead-path__right">
        {% if path.cover %}
          {% Img
            height=220,
            width=330,
            src=path.cover,
            alt="Collection cover image",
            class="w-masthead-path__image"
          %}
        {% endif %}
      </div>
    </div>
  </header>

  {% if path.draft and site.env === 'dev' %}
    <div class="w-banner w-banner--warning w-banner--body">
      🚨 This path is a draft! 🚨
    </div>
  {% endif %}

  <section class="w-layout-container w-path-intro">
    <div class="w-path-intro__overview">
      <h2 class="w-headline--three no-link">Overview</h2>
      <div>{{path.overview | i18n(locale)}}</div>
      {% if path.youtubeId %}
        <figure class="w-figure">
          {% YouTube path.youtubeId %}
        </figure>
      {% endif %}
    </div>
    <div class="w-path-intro__learn">
      <h2 class="w-headline--three no-link">What you'll learn</h2>
      <ul class="w-icon-list">
        {% for topic in topics %}
          <li class="w-icon-list__item w-icon-list__item--check">
            <a class="w-path-link" href="#{{ topic.title | slug }}">{{topic.title | i18n(locale)}}</a>
          </li>
	      {% endfor %}
      </ul>
    </div>
  </section>

  <hr>

  <section class="w-layout-container">
    {% for topic in topics %}
      {% include 'partials/topic.njk' %}
    {% endfor %}
  </section>
</div>
