---
layout: layout
---

{% set topics = path.topics | removeDrafts %}

{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}
<main class="path-landing-page">
  <header class="w-masthead-path">
    <div class="w-masthead-path__container">
      <div class="w-masthead-path__left">
        <h1 class="w-masthead-path__headline no-link">{{path.title}}</h1>
        <p class="w-masthead-path__description">{{path.description}}</p>
      </div>
      <div class="w-masthead-path__right">
        <img class="w-masthead-path__image" src="{{path.cover}}" alt="">
      </div>
    </div>
  </header>

  <section class="w-layout-container w-path-intro">
    <div class="w-path-intro__overview">
      <h2 class="w-headline--three no-link">Overview</h2>
      <div>{{path.overview}}</div>
    </div>
    <div class="w-path-intro__learn">
      <h2 class="w-headline--three no-link">What you'll learn</h2>
      <ul class="w-icon-list">
        {% for topic in topics %}
          <li class="w-icon-list__item w-icon-list__item--check">
            {{ topic.title }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <hr>

  {# <section class="w-grid">
    {% for topic in topics %}
    <h2 id="{{ topic.title | slug }}" class="no-link w-path-heading w-headline--three">
      {{ topic.title }}
      <a class="w-headline-link" href="#{{ topic.title | slug }}" aria-hidden="true">#</a>
    </h2>
    <div class="w-grid__columns w-grid__columns--three">
      {% for slug in topic.pathItems %}
        {% set item = slug | findBySlug %}
        {% PostCard {post: item, author: contributors[item.data.author]} %}
      {% endfor %}
    </div>
    {% endfor %}
  </section> #}

  <section class="w-layout-container">
    <div class="w-numbered-headers">
      {% for topic in topics %}
        {% include 'partials/topic.njk' %}
      {% endfor %}
    </div>
  </section>
</main>