---
layout: layout
---

{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}
<div class="path-landing-page">
  <header class="w-masthead-path">
    <div class="w-masthead-path__container">
      <div class="w-masthead-path__left">
        <h1 class="w-masthead-path__headline no-link">{{path.title}}</h1>
        <p class="w-masthead-path__description">{{path.description}}</p>
      </div>
      <div class="w-masthead-path__right">
        <img class="w-masthead-path__image" src="{{path.cover}}" alt="">
      </div>
    </div>
  </header>

  <section class="w-layout-container w-path-intro">
    <div class="w-path-intro__overview">
      <h2 class="w-headline--three no-link">Overview</h2>
      <div>{{path.overview}}</div>
    </div>
    <div class="w-path-intro__learn">
      <h2 class="w-headline--three no-link">What you'll learn</h2>
      <ul class="w-icon-list">
        {% for topic in path.topics %}
          <li class="w-icon-list__item w-icon-list__item--check">
            {{ topic.title }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <hr>

  {# <section class="w-grid">
    {% for topic in path.topics %}
    <h2 id="{{ topic.title | slug }}" class="no-link w-path-heading w-headline--three">
      {{ topic.title }}
      <a class="w-headline-link" href="#{{ topic.title | slug }}" aria-hidden="true">#</a>
    </h2>
    <div class="w-grid__columns w-grid__columns--three">
      {% for slug in topic.pathItems %}
        {% set item = slug | findBySlug %}
        {% PostCard {post: item, author: contributors[item.data.author]} %}
      {% endfor %}
    </div>
    {% endfor %}
  </section> #}

  <section class="w-layout-container">
    <div class="w-numbered-headers">
      {#
        Check to see if the only item within a topic is a draft post.
        If so, don't render the topic heading and skip the post.
      #}
      {% for topic in path.topics %}
        {% if topic.pathItems.length === 1 %}
          {% set item = topic.pathItems[0] | findBySlug %}
          {% if item.data.draft %}
            {# noop #}
          {% else %}
            {# render topic #}
            {% include 'partials/topic.njk' %}
          {% endif %}
        {% else %}
          {# render topic #}
          {% include 'partials/topic.njk' %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
</div>