---
layout: default
---

{{ content | safe }}

{% if page.url %}
  {% set patternId = page.url | getRelativePath('patterns') %}
{% endif %}

{% if patternId %}
  {% set pattern = patternId | getPattern(patterns) %}
{% endif %}

