---
layout: pattern-page
pageScripts:
  - '/js/content.js'
inlineScripts:
   - '../../../lib/components/Tabs/index.js'
---

{{ content | safe }}

{% if page.url %}
  {% set patternId = page.url | getRelativePath('/patterns/') %}
{% endif %}

{% if patternId %}
  {% set pattern = patterns[patternId] %}
{% endif %}

{% CodePattern patternId %}
