---
layout: default
pageScripts:
  - '/js/content.js'
---

{{ title }}

{% for setId, set in patterns.sets %}
<ul>
{% if not set.suite %}
  <li><a href="/patterns/{{ set.id }}">{{ set.title }}</a></li>
{% endif %}
</ul>

{% endfor %}
