---
layout: default
pageScripts:
  - '/js/content.js'
---

<header class="w-masthead-about">
  <div class="w-masthead-about__container">
    <div class="w-masthead-about__left">
      <h1 class="w-headline--two w-font-weight--medium w-mt--non">
       Code Patterns
      </h1>
      <p>
        A collection of code snippets to help you optmize your web projects.
      </p>
    </div>
    <div class="w-masthead-about__right">
      {% Img
          height=220,
          width=330,
          src="image/tcFciHGuF3MxnTr1y5ue01OGLBn2/dYAbN2LdttJ1qYk1gssh.svg",
          alt="Collection cover image",
          loading="lazy",
          decoding="async",
          class="w-masthead-path__image"
        %}
    </div>
  </div>
</header>

<hr>

{% set suitesLength = patterns.suites|length %}
{% if suitesLength > 1 %}
<section class="w-layout-container code-patterns-nav--top">
  <nav class="code-patterns-nav__suites">
    {% set currentSuiteId = page.url | getRelativePath('/patterns/') %}
    {% for suiteId, suite in patterns.suites %}
      {% if suiteId == currentSuiteId %}
        <a class="selected" href="/patterns/{{suite.id}}">{{suite.title}}</a>
      {% else %}
        <a href="/patterns/{{suite.id}}">{{suite.title}}</a>
      {% endif %}
    {% endfor %}
  </nav>
  <div class="code-patterns-nav__filter">
  <input type="text" placeholder="filter"/>
  </div>
</div>
{% endif %}

<section class="w-layout-container code-patterns--main">
  <div>
  <h2> {{title}} </h2>

  {{ content | safe }}

  {% for patternId, pattern in patterns.patterns %}
    {% if pattern.suite == page.url %}
      <div class="flow">
        <a href="/patterns/{{pattern.id}}"><h3 id="{{pattern.id}}">{{pattern.title}}</h3></a>
        {{ pattern.content | safe }}
        {% CodePattern pattern.id %}
      </div>
    {% endif %}
  {% endfor %}
  </div>
  {% if suitesLength > 1 %}
  <section class="code-patterns-nav--side">
    <div class="code-patterns-nav__filter">
      <input type="text" placeholder="filter"/>
    </div>
    <nav class="code-patterns-nav__suites">
      {% set currentSuiteId = page.url | getRelativePath('/patterns/') %}
      {% for suiteId, suite in patterns.suites %}
        {% if suiteId == currentSuiteId %}
          <a class="selected" href="/patterns/{{suite.id}}">{{suite.title}}</a>
        {% else %}
          <a href="/patterns/{{suite.id}}">{{suite.title}}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
  {% endif %}
</section>
