---
layout: default
---

{{ content | safe }}

<ul>
{% for patternId, pattern in patterns %}
  {% if pattern.suite == page.url %}
    <li><a href="/patterns/{{pattern.id}}">{{ pattern.id }}</a></li>
  {% endif %}
{% endfor %}
</ul>

