<style>
web-lighthouse-scores .lh-input {
  padding: 8px 16px;
}

web-lighthouse-scores .lh-enterurl .lh-enterurl__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 840px) {
  web-lighthouse-scores .lh-report-meta {
    margin-bottom: 32px;
  }
}

@media (min-width: 481px) {
  .w-stat {
    flex: 1;
    margin: 0 8px;
  }
}

.w-hero--cover {
  object-fit: cover;
}

.w-hero--contain {
  object-fit: contain;
}
</style>