<style>
body .devsite-footer-utility-button {
  display: none;
}

.w-aside--note {
  margin: 48px 0 32px;
  padding: 24px 0 0 48px;
  position: relative;
}

.w-aside--note::after {
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.w-aside--note::before {
  background-color: transparent;
  content: 'star';
  float: left;
  height: initial;
  margin: 4px 0 0 -48px;
  position: static;
  width: initial;
}
</style>