<style>
.w-banner {
  padding: 24px;
  font-size: 0.889rem;
}

@media (min-width: 481px) {
  .w-banner {
    padding: 24px 32px;
  }
}

@media (min-width: 865px) {
  .w-banner {
    padding: 24px 64px;
  }
}

.w-banner--info {
  background: #c8e6c9;
}

.w-banner--caution {
  background: #feefc3;
}

.w-banner--warning {
  background: #ffcdd2;
}

.w-banner__link {
  text-decoration: underline;
}

.w-aside pre,
.w-aside pre code {
  font-size: .889em;
  line-height: 1.5;
  white-space: pre;
}

web-lighthouse-scores .lh-input {
  padding: 8px 16px;
}

web-lighthouse-scores .lh-enterurl .lh-enterurl__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 840px) {
  web-lighthouse-scores .lh-report-meta {
    margin-bottom: 32px;
  }
}
</style>