---
layout: default
---
{% from 'macros/tag-card.njk' import tagCard with context %}
<div>
  {# Make sure Actions are first in the tab order. #}
  <div class="w-actions">
    {% include 'partials/subscribe-action.njk' %}
  </div>

  <div class="w-layout-container w-pb--non">
    <header class="w-page-header">
      <h1 class="w-page-header__headline">{{ title }}</h1>
      <p class="w-page-header__copy">{{ description }}</p>
    </header>
  </div>
  <section class="w-grid">
    <div class="w-grid__columns w-grid__columns--three" role="list">
      {% for tag in paged.elements %}
        {{ tagCard(tag) }}
      {% endfor %}
    </div>
  </section>

  {% include 'pagination.njk' %}
</div>
