---
layout: default-next
---
<div class="landing-page">
  {# @TODO fix subscribe button #}
  {# <div class="w-actions">
    {% include 'partials/subscribe-action.njk' %}
  </div> #}

  {# Hero starts #}
  <header class="region bg-mid-bg">
    <div class="wrapper">
      <div class="headline all-center flow">
        {% if paged.data.hero %}
          {% Img
            src=paged.data.hero,
            alt=renderData.title,
            height="192",
            width="192",
            sizes="(min-width: 481px) 192px, 128px",
            options={minWidth: 128}
          %}
        {% endif %}
        <h1 class="headline__title">{{ renderData.title }}</h1>
        <p>{{ renderData.description | safe }}</p>
        <div class="cluster flex-justify-center">
          <a href="{{ renderData.rss }}" target="_blank">
            <img src="/images/icons/rss.svg" alt="RSS Feed" width="32" height="32">
          </a>
        </div>
      </div>
    </div>
  </header>
  {# Hero ends #}

  {% include 'partials/paged-next.njk' %}

  <div class="region">
    <div class="wrapper">
      <div class="cluster flex-justify-center">
        <a class="button" href="/tags">
          {{ 'i18n.paths.tags.see_more' | i18n(locale) }}
        </a>
      </div>
    </div>
  </div>
</div>
