---
layout: default-next
---
{% from 'macros/tag-card.njk' import tagCard with context %}

<div class="tags">
{# @TODO fix subscribe button #}
 {# <div class="w-actions">
    {% include 'partials/subscribe-action.njk' %}
  </div> #}

  {# Hero starts #}
  <header class="region">
    <div class="wrapper">
      <div class="headline all-center flow">
        <h1 class="headline__title">{{ title }}</h1>
        <p>{{ description }}</p>
      </div>
    </div>
  </header>
  {# Hero ends #}

  {# Tags start #}
  <div class="wrapper flow">
    <div class="auto-grid gap-top-size-2">
      {% for tag in paged.elements %}
        {{ tagCard(tag) }}
      {% endfor %}
    </div>
  </div>
  {# Tags end #}

  {% include 'pagination-next.njk' %}
</div>
