---
layout: default-next
---

<div class="region wrapper">
  <header>
    <div class="flow all-center headline">
    <h1 class="headline__title">{{ title | safe }}</h1>
    {% if subhead %}
      <p>
        {{ subhead | safe }}
      </p>
    {% endif %}
  </header>
  <div class="gap-top-size-2 prose">
    {{ content | safe }}
  </div>
</div>
