##  Browser support

Web Payments consists of a few different pieces of technologies and the support
status depends on the browser.

<div class="table-wrapper scrollbar">
  <table>
    <tr>
      <td></td>
      <td>Chromium</td>
      <td></td>
      <td>Safari</td>
      <td></td>
      <td>Firefox</td>
    </tr>
    <tr>
      <td></td>
      <td>Desktop</td>
      <td>Android</td>
      <td>Desktop</td>
      <td>Mobile</td>
      <td>Desktop/Mobile</td>
    </tr>
    <tr>
      <td>Payment Request API</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td>Payment Handler API</td>
      <td>✔</td>
      <td>✔</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>iOS/Android payment app</td>
      <td>✔</td>
      <td>✔</td>
      <td>✔*</td>
      <td>✔*</td>
      <td></td>
    </tr>
  </table>
</div>

{% Aside %}
*Safari supports Apple Pay but no third party payment apps.
{% endAside %}