web-subscribe {
  display: block;
  padding: get-space('size-3') 0;
  border-block-start: 1px solid var(--color-stroke);

  .wrapper {
    max-width: 50rem;
  }

  form .cluster {
    flex-wrap: nowrap;
    max-width: 40rem;
    margin-inline: auto;
  }

  // See https://github.com/GoogleChrome/web.dev/issues/7638#issuecomment-1087607518
  input:not([type]),
  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea,
  select {
    max-width: unset;
  }

  .g-recaptcha {
    height: 78px;

    &-- {
      &placeholder {
        width: 100%;
        display: flex;
        justify-content: center;
        color: var(--color-action-bg);
        align-items: center;
        max-width: 304px;
        height: 100%;
        background-color: var(--color-mid-text);
        border-radius: 5px;
      }

      &loader-container {
        width: 100px;
        background-color: var(--color-accent-bg);
        border-radius: 20px;
        padding: 2px;
      }

      &loader {
        @keyframes loader {
          0% {
            transform: translateX(0);
          }

          50% {
            transform: translateX(72px);
          }

          100% {
            transform: translateX(0);
          }
        }

        height: 2px;
        border-radius: 20px;
        width: 25%;
        background-color: var(--color-mid-text);
        animation: loader 1s cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      }
    }
  }
}
