/// We use clamp for spacing, so this gives us a rough size for the site head
/// and internal padding when we are in a larger viewport that a fixed position
/// codelab embed makes sense in
$web-codelab-embed-buffer: 8.5rem;

.web-codelab {
  .prose {
    padding-block: get-space('size-2');
  }
}

@include media-query('lg') {
  .web-codelab {
    display: grid;
    padding: $global-gutter;
    gap: $global-gutter get-space('size-2');

    .prose {
      padding-inline: 0;
      padding-block-start: 0;
    }

    .prose > * {
      margin-inline: 0;
    }
  }
  .web-codelab {
    grid-template-columns: minmax(20rem, 40rem) 1fr;
  }

  .web-codelab__glitch > * {
    position: sticky;
    top: $global-gutter;
    height: calc(100vh - #{$web-codelab-embed-buffer});
  }
}
