# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @GoogleChrome/web-dev-eng

# Docs
content/ @GoogleChrome/web-dev-content
content/en/angular/ @mgechev @GoogleChrome/web-dev-content
content/en/authors/ @GoogleChrome/web-dev-eng
content/en/metrics/ @philipwalton @GoogleChrome/web-dev-content
content/en/newsletter/ @GoogleChrome/web-dev-eng
content/en/progressive-web-apps/ @petele @GoogleChrome/web-dev-content
content/en/react/ @housseindjirdeh @GoogleChrome/web-dev-content
content/en/tags/ @GoogleChrome/web-dev-eng
content/en/vitals/ @philipwalton @GoogleChrome/web-dev-content

# File types
# These should override docs directory owners.
*.js @GoogleChrome/web-dev-eng
*.json @GoogleChrome/web-dev-eng
*.css @GoogleChrome/web-dev-eng
*.scss @GoogleChrome/web-dev-eng
*.html @GoogleChrome/web-dev-eng
*.htm @GoogleChrome/web-dev-eng
*.njk @GoogleChrome/web-dev-eng
*.yml @GoogleChrome/web-dev-eng
*.yaml @GoogleChrome/web-dev-eng
*.toml @GoogleChrome/web-dev-eng
*.sh @GoogleChrome/web-dev-eng

# Exceptions
src/site/_data/authorsData.json @GoogleChrome/web-dev-content
src/site/_data/tagsData.json @GoogleChrome/web-dev-content
src/site/_data/paths/*.json @GoogleChrome/web-dev-content
src/site/_data/paths/progressive-web-apps.json @petele @GoogleChrome/web-dev-content
