# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @robdodson @samthor

# Docs
content/ @kaycebasques @jpmedley
content/en/angular/ @mgechev @kaycebasques @jpmedley
content/en/authors/ @michaelsolati
content/en/metrics/ @philipwalton @kaycebasques @jpmedley
content/en/newsletter/ @michaelsolati
content/en/progressive-web-apps/ @petele @kaycebasques @jpmedley
content/en/react/ @housseindjirdeh @kaycebasques @jpmedley
content/en/tags/ @michaelsolati
content/en/vitals/ @philipwalton @kaycebasques @jpmedley

# File types
# These should override docs directory owners.
*.js @robdodson @samthor
*.json @robdodson @samthor
*.css @robdodson @samthor
*.scss @robdodson @samthor
*.html @robdodson @samthor
*.htm @robdodson @samthor
*.njk @robdodson @samthor
*.yml @robdodson @samthor
*.yaml @robdodson @samthor
*.toml @robdodson @samthor
*.sh @robdodson @samthor

# Exceptions
src/site/_data/authorsData.json @kaycebasques @jpmedley
src/site/_data/postTags.js @kaycebasques @robdodson
src/site/_data/paths/progressive-web-apps.js @petele @kaycebasques
