# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @robdodson @samthor

# Docs
content/ @kaycebasques
content/en/react/ @housseindjirdeh @kaycebasques
content/en/angular/ @mgechev @kaycebasques

# File types
# These should appear last so they override docs directory owners.
*.js @robdodson @samthor
*.json @robdodson @samthor
*.css @robdodson @samthor
*.scss @robdodson @samthor
*.html @robdodson @samthor
*.htm @robdodson @samthor
*.njk @robdodson @samthor
*.yml @robdodson @samthor
*.yaml @robdodson @samthor
*.toml @robdodson @samthor
*.sh @robdodson @samthor
