---
layout: sandbox/container
title: typography
tags:
  - sandbox
---
<h1>
  Headline one<br />
  with line break
</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae
  libero distinctio sint culpa neque quidem earum sunt aliquid! Autem
  magnam quo aspernatur! Assumenda enim magnam aperiam. Minus, cum
  dolore.
</p>

<h2 class="w-headline--two">
  Headline two<br />
  with line break
</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae
  libero distinctio sint culpa neque quidem earum sunt aliquid! Autem
  magnam quo aspernatur! Assumenda enim magnam aperiam. Minus, cum
  dolore.
</p>

<h2>
  Headline two (small)<br />
  with line break
</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae
  libero distinctio sint culpa neque quidem earum sunt aliquid! Autem
  magnam quo aspernatur! Assumenda enim magnam aperiam. Minus, cum
  dolore.
</p>

<h3>
  Headline three<br />
  with line break
</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae
  libero distinctio sint culpa neque quidem earum sunt aliquid! Autem
  magnam quo aspernatur! Assumenda enim magnam aperiam. Minus, cum
  dolore.
</p>

<h4>
  Headline four<br />
  with line break
</h4>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vitae
  libero distinctio sint culpa neque quidem earum sunt aliquid! Autem
  magnam quo aspernatur! Assumenda enim magnam aperiam. Minus, cum
  dolore.
</p>

<p>
  Body copy that includes a line break<br />
  and <strong>bold</strong>, <em>italic</em>, and
  <a href="#">embedded link</a> inline styles.<br />
  Used mostly for blog posts and guides.
</p>

<hr />

<p class="w-headline w-headline--one">
  Paragraph with .w-headline--one<br />
  with line break
</p>

<p class="w-headline w-headline--two">
  Paragraph with .w-headline--two<br />
  with line break
</p>

<p class="w-headline w-headline--two-small">
    Paragraph with .w-headline--two-small<br />
    with line break
  </p>

<p class="w-headline w-headline--three">
  Paragraph with .w-headline--three<br />
  with line break
</p>

<p class="w-headline w-headline--four">
  Paragraph with .w-headline--four<br />
  with line break
</p>

<hr />

<!-- default style tests -->

<p>Paragraph</p>

<ul>
  <li>Unordered list</li>
  <li>
    That includes
    <ul>
      <li>A sublist</li>
      <li>Inside it</li>
    </ul>
  </li>
  <li>And bullets</li>
</ul>

<ol>
  <li>Ordered list</li>
  <li>With bullets</li>
  <li>And numbers</li>
</ol>