---
permalink: false
layout: sandbox/layout
title: numbered header
---

<div class="w-layout-container--large">
  <div class="w-numbered-headers">
      <h2 id="measure-your-site's-performance" class="no-link w-headline--two-small w-numbered-header w-numbered-header--horizontal">
        Measure your site's performance
        <a class="w-headline-link" href="#measure-your-site's-performance" aria-hidden="true">#</a>
      </h2>
      <h2 id="optimize-your-images" class="no-link w-headline--two-small w-numbered-header w-numbered-header--horizontal">
        Optimize your images
        <a class="w-headline-link" href="#optimize-your-images" aria-hidden="true">#</a>
      </h2>
      <h2 id="optimize-your-javascript" class="no-link w-headline--two-small w-numbered-header w-numbered-header--horizontal">
        Optimize your JavaScript
        <a class="w-headline-link" href="#optimize-your-javascript" aria-hidden="true">#</a>
      </h2>
    </div>

  <div class="w-numbered-headers">
    <div>
      <h3 class="w-numbered-header w-numbered-header--vertical">
        Audit your web page
      </h3>
      <p>
        Provide any URL, and web.dev will run a series of audits using <a
        href="https://developers.google.com/web/tools/lighthouse/"
        class="gc-analytics-event" data-category="web.dev" data-label="measure,
        Lighthouse link" data-action="click">Lighthouse</a>. We'll generate a report
        of how well you did.
      </p>
    </div>
  
    <div>
      <h3 class="w-numbered-header w-numbered-header--vertical">
        Analyze for improvements
      </h3>
      <p>
        Review the audits report to identify areas in which your page can be improved.
      </p>
    </div>
  
    <div>
      <h3 class="w-numbered-header w-numbered-header--vertical">
        Learn how to fix it
      </h3>
      <p>
        For each audit you'll find guidance and immediate steps you can take to
        improve your scores.
      </p>
    </div>
  </div>
</div>