{
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "google"],
  "rules": {
      "indent": ["error", 2, {
        "SwitchCase": 1
      }]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
