{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "customElements": true
  }
}