<div class="prose">
  <p>In order for the <code>&lt;figure&gt;</code> to take up the full width of the element that it is in, add the attribute <code>data-size="full"</code>.</p>
  <p>Content inside of the <code>&lt;figure&gt;</code> will stretch to take up all the available space.</p>
  <figure data-size="full">
    <img alt="Dog holding a stick."  decoding="auto" height="240" src="https://web-dev.imgix.net/image/tcFciHGuF3MxnTr1y5ue01OGLBn2/QlgeHQrzaD9IOKBXB68I.jpg?auto=format" width="380">
    <figcaption>This figure and it's content is taking up the full space it can.</figcaption>
  </figure>
</div>
