---
permalink: false
layout: sandbox/article
title: details
tags:
  - sandbox
---

<details open>
  <summary>Lighthouse in Chrome</summary>
  <p>
    The browser uses the first listed source that's in a format it
    supports. If the browser does not support any of the formats.
  </p>
</details>
<details>
  <summary>Developer tools for Lighthouse</summary>
  <p>
    The browser uses the first listed source that's in a format it
    supports. If the browser does not support any of the formats.
  </p>
</details>
