// =============================================================================
// BUTTONS OVERVIEW
//
// Styles for generic button elements.
// For Material button styles, look in components/_buttons.scss.
//
// =============================================================================

button {
  margin: 16px 16px 0 0;
  min-width: 36px;
}
