@import '../tools/mixins';

// =============================================================================
// CODE OVERVIEW
//
// Code can be inline or in code blocks.
// When it's inline, code snippets have a background and border.
// When it's in a code block, code gets syntax highlighting.
// Because code snippets can appear inside many elements, their sizes are all
// relative to their parent using em units.
//
// =============================================================================

// TODO (robdodson): Need to revsit this color palette.
$CODE_COLORS: (
  blue: #183691,
  bright-blue: #007aa2,
  black: $PRIMARY_TEXT_COLOR,
  purple: #a71d5d,
  maroon:#9f1c59,
  green:#385d34,
  light-gray: #f7f7f7,
  dimgrey: #696969
);

code {
  margin: 0 .25em;
  padding: .125em .25em;
}

code,
pre {
  background: map-get($CODE_COLORS, light-gray);
  border: 1px solid $GREY_300;
  color: map-get($CODE_COLORS, black);
  font: 1rem / 1.5em $CODE_FONT;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  word-spacing: normal;
}

// Let inline code elements wrap
:not(pre) > code {
  white-space: pre-wrap;
}

// Code block
pre,
pre[class*='language-'] {
  @include scrollbars();
  margin: 32px -24px;
  border-width: 1px 0;
  overflow: auto;
  padding: 16px;
  white-space: pre;

  @include bp(sm) {
    margin: 32px -32px;
  }

  @include bp(md) {
    margin: 32px 0;
    border-width: 1px;
  }
}

pre code,
pre[class*='language-'] code {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

pre code {
  background: transparent;
  border: 0;
}

// It's not uncommon to have code in markdown headings.
// In these cases we should remove the border.
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  background: transparent;
  border: 0;
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  white-space: normal;
}

// Figcaptions and citations are smaller than body text,
// so code should be based on their font size.
figcaption code,
cite code {
  font-size: .9em;
}

// Github-like theme for Prism.js
// @author Luke Askew http://github.com/lukeaskew

// Token colors
// These classes are generated by prism so they don't follow
// our class name format.
// sass-lint:disable class-name-format
.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: map-get($CODE_COLORS, dimgrey);
  }

  &.punctuation,
  &.string,
  &.atrule,
  &.attr-value {
    color: map-get($CODE_COLORS, blue);
  }

  &.property,
  &.tag {
    color: map-get($CODE_COLORS, green);
  }

  &.boolean,
  &.number {
    color: map-get($CODE_COLORS, bright-blue);
  }

  &.selector,
  &.attr-name,
  &.attr-value .punctuation:first-child,
  &.keyword,
  &.regex,
  &.important {
    color: map-get($CODE_COLORS, maroon);
  }


  &.operator,
  &.entity,
  &.url,
  .language-css &.string {
    color: map-get($CODE_COLORS, purple);
  }

  &.entity {
    cursor: help;
  }

}

.namespace {
  opacity: .7;
}


.highlight-line-active,
.highlight-line-add,
.highlight-line-active *,
.highlight-line-add * {
  color: $PRIMARY_TEXT_COLOR !important;
  font-weight: $FONT_WEIGHT_MEDIUM;
}

.highlight-line-active {
  background-color: $YELLOW_200;
}

.highlight-line-add {
  background-color: $GREEN_200;
  text-decoration: none;
}

.highlight-line-remove,
.highlight-line-remove * {
  color: rgba($PRIMARY_TEXT_COLOR, .6) !important;
}

.highlight-line-remove {
  background-color: $RED_200;
  text-decoration-color: rgba($PRIMARY_TEXT_COLOR, .6);
}

// sass-lint:enable class-name-format
