@import '../settings/colors';

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba($WEB_PRIMARY_COLOR, 0.0);
  }
  50% {
    box-shadow: 0px 0px 0px 8px rgba($WEB_PRIMARY_COLOR, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px 8px rgba($WEB_PRIMARY_COLOR, 0);
  }
}

input[type='email'],
input[type='password'],
input[type='text'] {
  border: 1px solid $GREY_300;
  font: inherit;
  font-size: inherit;
  padding: 14px 8px;
  width: 100%;

  &:focus {
    border-color: $WEB_PRIMARY_COLOR;
    outline: none;
  }
}


input[type='radio'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid $GREY_300;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  height: 24px;
  margin: 2px;
  width: 24px;

  &:checked {
    animation: ripple .2s linear;
    background-color: $WEB_PRIMARY_COLOR;
    background-clip: content-box;
    border: 2px solid $WEB_PRIMARY_COLOR;
    padding: 4px;
  }
}
