@import '../settings/global';

// =============================================================================
// LISTS OVERVIEW
//
// Ordered and unordered list styles.
// These styles should only apply to lists without a class on them.
// It assumes these lists are coming from markdown.
//
// =============================================================================

ol:not([class]) {
  counter-reset: ol-step-counter;
  list-style: none;
  margin: 32px 0;
  padding-left: 32px;
  position: relative;
}

ol:not([class]) > li {
  counter-increment: ol-step-counter;
  font-size: 1.125rem;
  line-height: 1.778rem;
  margin-bottom: 8px;
}

ol:not([class]) > li::before {
  -ms-flex-align: center;
  -ms-flex-negative: 0;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background: $GREY_700;
  border-radius: $GLOBAL_ROUNDED;
  color: $WHITE;
  content: counter(ol-step-counter);
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  flex-shrink: 0;
  font-size: .75em;
  height: 20px;
  justify-content: center;
  left: 0;
  margin: 6px 0 0;
  position: absolute;
  width: 20px;
}

ul:not([class]) {
  list-style: none;
  margin: 32px 0;
  padding-left: 24px;
  position: relative;
}

ul:not([class]) > li {
  font-size: 1.125rem;
  line-height: 1.778rem;
  margin-bottom: 8px;
}

ul:not([class]) > li::before {
  background: $GREY_700;
  border-radius: $GLOBAL_ROUNDED;
  color: $WHITE;
  content: '';
  height: 8px;
  left: 0;
  margin: 12px 0 0;
  position: absolute;
  width: 8px;
}

ul:not([class]) > li > p,
ol:not([class]) > li > p {
  margin: 8px 0;
}

ul:not([class]) > li > p:first-child,
ol:not([class]) > li > p:first-child {
  margin-top: 0;
}

ul:not([class]) > li > p:last-child,
ol:not([class]) > li > p:last-child {
  margin-bottom: 0;
}

li > ul:not([class]),
li > ol:not([class]) {
  margin: 8px 0;
}

.w-unstyled-list {
  list-style: none;
}

// Definition lists
dt {
  font-weight: $FONT_WEIGHT_BOLD;
  margin-left: 1em;
}

dd {
  margin-left: 2em;
}

dd + dt {
  margin-top: .5em;
}
