// =============================================================================
// MAIN OVERVIEW
//
// Styles for the main element. As part of our app shell model, we inject new
// content into the main element.
//
// =============================================================================

main {
  margin-top: 64px;
}
