@import '../settings/colors';
@import '../settings/type';
@import '../tools/mixins';

// =============================================================================
// PAGE OVERVIEW
//
// Styles for page elements, such as the html and body tags.
//
// =============================================================================

:root {
  --flow-space: 1em;
}

// Default body styles
html,
body {
  @include w-body-text();
  @include font_smoothing(
    $FONT_SMOOTHING_MOZ,
    $FONT_SMOOTHING_WEBKIT,
    $FONT_SMOOTHING_RENDERING
  );
  margin: 0;
  overflow-wrap: break-word;
  // nb. Don't set `overflow-x: hidden`, as this can break descendant sticky.
  padding: 0;
  word-wrap: break-word;
}
