// Dependencies:
// settings/_colors.scss
// settings/_type.scss
// tools/_mixins.scss

@import '../settings/colors';
@import '../settings/type';
@import '../tools/mixins';

// =============================================================================
// PAGE OVERVIEW
//
// Styles for page elements, such as the html and body tags.
//
// =============================================================================

// Default body styles
html,
body {
  @extend %w-body-text;
  @include font_smoothing(
    $FONT_SMOOTHING_MOZ,
    $FONT_SMOOTHING_WEBKIT,
    $FONT_SMOOTHING_RENDERING
  );
  margin: 0;
  // https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
  overflow-wrap: break-word;
  padding: 0;
  word-wrap: break-word;
}
