@import '../settings/colors';

// =============================================================================
// SHARED OVERVIEW
//
// Shared properties across multiple html tags.
//
// =============================================================================

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
  -moz-box-sizing: border-box; // Firefox < 29
  -webkit-box-sizing: border-box; // Android < 2.3, iOS < 4
  box-sizing: border-box; // Chrome, IE 8+, Opera, Safari 5.1
}

*:focus {
  outline: 1px solid $WEB_SECONDARY_COLOR;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// https://github.com/typeplate/starter-kit/blob/master/scss/_typeplate-styles.scss#L58
input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
