@import '../settings/colors';
@import '../settings/dimensions';

// =============================================================================
// SHARED OVERVIEW
//
// Shared properties across multiple html tags.
//
// =============================================================================

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
  -moz-box-sizing: border-box; // Firefox < 29
  -webkit-box-sizing: border-box; // Android < 2.3, iOS < 4
  box-sizing: border-box; // Chrome, IE 8+, Opera, Safari 5.1
}

*:focus {
  outline: 1px solid $FOCUS_COLOR;
}

// Used when forcing focus cursor at a particular location on the page.
.w-force-focus {
  outline: none !important;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

// https://github.com/typeplate/starter-kit/blob/master/scss/_typeplate-styles.scss#L58
input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

// Give page headers some padding when they're scrolled into view.
// Don't use scroll-padding-top until https://bugs.chromium.org/p/chromium/issues/detail?id=664246
// is fixed. Otherwise we have weird issues with keyboard focus and sticky
// positioned elements, demonstrated by this codepen: https://codepen.io/robdodson/pen/MWpKOOK
// Use this workaround until we can use scroll-padding-top.
*:not([href])[id]::before {
  content: ' ';
  display: block;
  height: calc(#{$WEB_HEADER_HEIGHT} + 1.5rem);
  margin-top: calc(-#{$WEB_HEADER_HEIGHT} - 1.5rem);
  pointer-events: none;
  visibility: hidden;
}
