@import '../settings/colors';
@import '../settings/type';

// =============================================================================
// TABLES OVERVIEW
//
// Styles for tabular data.
// Keep in mind that if you just want to lay something out in a grid fashion,
// for accessibility reasons a table may not be the right choice.
// These styles should really only be used for data tables.
//
// =============================================================================

.w-table-wrapper {
  @extend %scrollbar;
  margin: 32px 0;
  overflow: auto;
  background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)),
  linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%,
  radial-gradient(
    farthest-side at 0% 50%,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, 0)
  ),
  radial-gradient(
    farthest-side at 100% 50%,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, 0)
  )
  0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

table {
  border-collapse: collapse;
  font-size: inherit; // DevSite override
  margin: 0;
  min-width: 512px;
  width: 100%;
}

tr {
  background: transparent; // DevSite override
  border-bottom: 1px solid #dadce0;
  border-top: 0;
  height: 48px;
}

tr:last-of-type {
  border-bottom: 0;
}

th,
td {
  color: inherit;
  min-width: 120px; // Prevent narrow columns when you have th's like 'JS'
  text-align: left;
}

th {
  font-family: $HEADLINE_FONT;
  font-size: .875em;
  font-weight: 500;
  line-height: 24px;
  padding-right: 24px;
  vertical-align: middle;
}

td {
  line-height: 1.5;
  padding: 16px 24px 16px 0;
}

.w-table--top-align td {
  vertical-align: top;
}

caption {
  background: transparent; // DevSite override
  caption-side: bottom;
  font-size: .875em;
  font-weight: normal; // DevSite override
  line-height: 1.5em;
  margin: 24px 0 0;
  padding: 0; // DevSite override
  text-align: left;
}

table code {
  background: transparent;
  border: 0;
  font-size: .9em; // DevSite override
  font-weight: 400; // DevSite override
  line-height: 1.7em; // DevSite override
  margin: 0;
  padding: 0;
}

table ul:not([class]),
table ol:not([class]) {
  margin: 24px 0;
  padding-left: 40px;
}

table ul:not([class]):first-child,
table ol:not([class]):first-child {
  margin-top: 0;
}

table ul:not([class]):last-child,
table ol:not([class]):last-child {
  margin-bottom: 0;
}

table ul:not([class]) li,
table ol:not([class]) li {
  font-size: inherit;
  line-height: inherit;
}

table ul:not([class]) li::before {
  margin: 8px 0 0;
}

table ol:not([class]) li::before {
  margin: 2px 0 0;
}

td > :last-child > li:last-child {
  margin-bottom: 0;
}
