// =============================================================================
// ALIGNMENT OVERVIEW
//
// Overrides for vertical and text alignment
//
// =============================================================================

.w-text--left {
  text-align: left !important;

  [dir='rtl'] & {
    text-align: right !important;
  }
}

.w-text--right {
  text-align: right !important;

  [dir='rtl'] & {
    text-align: left !important;
  }
}

.w-text--center {
  text-align: center !important;
}

.w-text--justify {
  text-align: justify !important;
}
