.w-display--flex {
  display: flex;
}

.w-display--inline-flex {
  display: inline-flex;
}

.w-flex--row {
  flex-direction: row;
}

.w-flex--column {
  flex-direction: column;
}

.w-align-items--center {
  align-items: center;
}

.w-justify-content--center {
  justify-content: center;
}

