// =============================================================================
// SPACING OVERVIEW
//
// Overrides for common margins and paddings.
//
// =============================================================================

$MARGIN_POSITION_MAP: (
  mb: margin-bottom,
  mt: margin-top,
  ml: margin-left,
  mr: margin-right,
);

$MARGIN_SIZE_MAP: (
  non: 0,
  sm: 8px,
  std: 16px, // Standard margin
  l: 32px,
  xl: 56px,
);

// Loop through each margin setting and create a class with those settings.
// For example, .w-mb--l is a large margin on the bottom.
@each $SIZE_NAME, $SIZE_VALUE in $MARGIN_SIZE_MAP {
  @each $MARGIN_ALIAS, $MARGIN_PROPERTY in $MARGIN_POSITION_MAP {
    .w-#{$MARGIN_ALIAS}--#{$SIZE_NAME} {
      #{$MARGIN_PROPERTY}: $SIZE_VALUE;
    }
  }
}

$PADDING_POSITION_MAP: (
  pb: padding-bottom,
  pt: padding-top,
  pl: padding-left,
  pr: padding-right,
);

$PADDING_SIZE_MAP: (
  non: 0,
  sm: 8px,
  std: 16px, // Standard padding
  l: 32px,
  xl: 56px,
);

// Loop through each padding setting and create a class with those settings.
// For example, .w-pb--l is a large padding on the bottom.
@each $SIZE_NAME, $SIZE_VALUE in $PADDING_SIZE_MAP {
  @each $PADDING_ALIAS, $PADDING_PROPERTY in $PADDING_POSITION_MAP {
    .w-#{$PADDING_ALIAS}--#{$SIZE_NAME} {
      #{$PADDING_PROPERTY}: $SIZE_VALUE;
    }
  }
}

