---
layout: feed
metadata:
  title: web.dev
  url: https://web.dev
  icon: https://web.dev/images/social.png
  logo: https://web.dev/images/shared/rss-banner.png
  author:
    name: Google Developers
  feed:
    subtitle: Let's build the future of the web.
    filename: feed.xml
    path: feed/feed.xml
    url: https://web.dev/feed.xml
    id: https://web.dev/
noindex: true
permalink: "/{{lang}}/feed.xml"
---
