---
permalink: false
layout: sandbox/article
title: cross-links
tags:
  - sandbox
---

<div class="w-cross-links">
  <a href="#" class="w-cross-link" data-icon="open_in_new">Angular</a>
  <a href="#" class="w-cross-link" data-icon="open_in_new">React</a>
</div>