---
layout: sandbox/layout
title: article
tags:
  - sandbox
---

<div class="w-grid">
  <div class="w-grid__columns w-grid__columns--two" role="list">
    <div class="w-grid__item--large" role="listitem">
      <div class="w-card">
        <article class="w-article w-article--large">
          <div class="w-article__cover w-article__cover--large">
            <figure class="w-article__figure">
              <img
                class="w-article__image"
                src="https://4.bp.blogspot.com/-3RHu87FmmvI/XEtf86FEcwI/AAAAAAAAG8k/PcLWlYrRPr8xGXUsQ0RBuOUzK7nSIsyyACLcBGAs/s1600/Gallery%2B%252837%2Bof%2B37%2529.jpg"
                alt="Figure 1"
                width="100%"
              />
            </figure>
            <h2 class="w-article__headline--with-image">
              Serve modern code to modern browsers for faster page loads
            </h2>
            <div class="w-author">
              <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
              <div class="w-author__info">
                <cite class="w-author__name">Houssein Djirdeh</cite>
                <time class="w-author__published">Jan 31, 2019</time>
              </div>
            </div>
          </div>
          <div class="w-article__desc w-article__desc--large">
            <ul class="w-article__info-list">
              <li class="w-article__info-listitem w-article__info-listitem--category">
                Guide
              </li>
              <li class="w-article__info-listitem w-article__info-listitem--published">
                <time>May 24, 2018</time>
              </li>
              <li class="w-article__info-listitem w-article__info-listitem--updated">
                Updated <time>May 24, 2018</time>
              </li>
            </ul>
            <p class="w-article__summary w-article__summary--large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Duis ut tortor lacus. Proin neque arcu, porttitor sit amet
              nisi quis, pharetra rutrum turpis.
            </p>
            <div class="w-chips">
              <a class="w-chip" href="#">Performance</a>
              <a class="w-chip" href="#">Build Tools</a>
              <a class="w-chip" href="#">Tacos 🌮</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="w-grid">
  <div class="w-grid__columns w-grid__columns--three" role="list">
    <div class="w-grid__item" role="listitem">
      <a href="#" class="w-card">
        <article class="w-article">
          <div class="w-article__cover w-article__cover--with-image">
            <figure class="w-article__figure">
              <img
                class="w-article__image"
                src="https://4.bp.blogspot.com/-3RHu87FmmvI/XEtf86FEcwI/AAAAAAAAG8k/PcLWlYrRPr8xGXUsQ0RBuOUzK7nSIsyyACLcBGAs/s1600/Gallery%2B%252837%2Bof%2B37%2529.jpg"
                alt="Figure 1"
                width="100%"
              />
            </figure>
            <h2 class="w-article__headline--with-image">
              Google opens new innovation space in San Francisco for the
              developer community
            </h2>
            <div class="w-author">
              <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
              <div class="w-author__info">
                <cite class="w-author__name">Houssein Djirdeh</cite>
                <time class="w-author__published">Jan 31, 2019</time>
              </div>
            </div>
          </div>
          <div class="w-article__desc">
            <p class="w-article__summary">
              Google's Developer Relations team is opening a new
              innovation space at 543 Howard St. in San Francisco.
            </p>
          </div>
        </article>
      </a>
    </div>
    <div class="w-grid__item" role="listitem">
      <a href="#" class="w-card">
        <article class="w-article">
          <div class="w-article__cover">
            <h2 class="w-article__headline">
              Adapting to the needs of learners, educators and schools
              with Chromebooks
            </h2>
            <div class="w-author">
              <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
              <div class="w-author__info">
                <cite class="w-author__name">Houssein Djirdeh</cite>
                <time class="w-author__published">Jan 31, 2019</time>
              </div>
            </div>
          </div>
          <div class="w-article__desc">
            <p class="w-article__summary">
              Google's Developer Relations team is opening a new
              innovation space at 543 Howard St. in San Francisco.
            </p>
          </div>
        </article>
      </a>
    </div>
    <div class="w-grid__item">
      <a href="#" class="w-card">
        <article class="w-article">
          <div class="w-article__cover">
            <h2 class="w-article__headline">
              Choose your own adventure with 13 Google for Education tools
            </h2>
            <div class="w-author">
              <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
              <div class="w-author__info">
                <cite class="w-author__name">Houssein Djirdeh</cite>
                <time class="w-author__published">Jan 31, 2019</time>
              </div>
            </div>
          </div>
          <div class="w-article__desc">
            <p class="w-article__summary">
              Google's Developer Relations team is opening a new
              innovation space at 543 Howard St. in San Francisco.
            </p>
          </div>
        </article>
      </a>
    </div>
    <div class="w-grid__item" role="listitem">
      <a href="#" class="w-card">
        <article class="w-article">
          <div class="w-article__cover article__cover--with-image">
            <figure class="w-article__figure">
              <img
                class="w-article__image"
                src="https://4.bp.blogspot.com/-3RHu87FmmvI/XEtf86FEcwI/AAAAAAAAG8k/PcLWlYrRPr8xGXUsQ0RBuOUzK7nSIsyyACLcBGAs/s1600/Gallery%2B%252837%2Bof%2B37%2529.jpg"
                alt="Figure 1"
                width="100%"
              />
            </figure>
            <h2 class="w-article__headline--with-image">
              Google opens new innovation space in San Francisco for the
              developer community
            </h2>
            <div class="w-author">
              <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
              <div class="w-author__info">
                <cite class="w-author__name">Houssein Djirdeh</cite>
                <time class="w-author__published">Jan 31, 2019</time>
              </div>
            </div>
          </div>
          <div class="w-article__desc">
            <p class="w-article__summary">
              Google's Developer Relations team is opening a new
              innovation space at 543 Howard St. in San Francisco.
            </p>
          </div>
        </article>
      </a>
    </div>
    <div class="w-grid__item" role="listitem">
      <a href="#" class="w-card">
        <article class="w-article">
          <div class="w-article__cover">
            <h2 class="w-article__headline">
              Adapting to the needs of learners, educators and schools
              with Chromebooks
            </h2>
            <div class="w-author">
              <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
              <div class="w-author__info">
                <cite class="w-author__name">Houssein Djirdeh</cite>
                <time class="w-author__published">Jan 31, 2019</time>
              </div>
            </div>
          </div>
          <div class="w-article__desc">
            <p class="w-article__summary">
              Google's Developer Relations team is opening a new
              innovation space at 543 Howard St. in San Francisco.
            </p>
          </div>
        </article>
      </a>
    </div>
    <div class="w-grid__item">
      <a href="#" class="w-card">
        <article class="w-article">
          <div class="w-article__cover">
            <h2 class="w-article__headline">
              Choose your own adventure with 13 Google for Education tools
            </h2>
            <div class="w-author">
              <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
              <div class="w-author__info">
                <cite class="w-author__name">Houssein Djirdeh</cite>
                <time class="w-author__published">Jan 31, 2019</time>
              </div>
            </div>
          </div>
          <div class="w-article__desc">
            <p class="w-article__summary">
              Google's Developer Relations team is opening a new
              innovation space at 543 Howard St. in San Francisco.
            </p>
          </div>
        </article>
      </a>
    </div>
  </div>
</div>

<hr>

<div class="w-layout-container">
  <div class="w-layout-grid--three">
    <a href="#" class="w-card w-card--raised">
      <article class="w-article">
        <div class="w-article__cover w-article__cover--with-image-small">
          <figure class="w-article__figure">
            <img
              class="w-article__image"
              src="https://4.bp.blogspot.com/-3RHu87FmmvI/XEtf86FEcwI/AAAAAAAAG8k/PcLWlYrRPr8xGXUsQ0RBuOUzK7nSIsyyACLcBGAs/s1600/Gallery%2B%252837%2Bof%2B37%2529.jpg"
              alt="Figure 1"
              width="100%"
            />
          </figure>
          <h3 class="w-article--headline w-article__headline--with-image-small">
            Google opens new innovation space in San Francisco for the
            developer community
          </h3>
        </div>
        <div class="w-author">
          <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
          <div class="w-author__info">
            <cite class="w-author__name">Houssein Djirdeh</cite>
            <time class="w-author__published">Jan 31, 2019</time>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="w-card w-card--raised">
      <article class="w-article">
        <div class="w-article__cover w-article__cover--small">
          <h3 class="w-article--headline w-article__headline--small">
            Adapting to the needs of learners, educators and schools
            with Chromebooks
          </h3>
        </div>
        <div class="w-author">
          <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
          <div class="w-author__info">
            <cite class="w-author__name">Houssein Djirdeh</cite>
            <time class="w-author__published">Jan 31, 2019</time>
          </div>
        </div>
      </article>
    </a>
    <a href="#" class="w-card w-card--raised">
      <article class="w-article">
        <div class="w-article__cover w-article__cover--small">
          <h3 class="w-article--headline w-article__headline--small">
            Choose your own adventure with 13 Google for Education tools
          </h3>
        </div>
        <div class="w-author">
          <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
          <div class="w-author__info">
            <cite class="w-author__name">Houssein Djirdeh</cite>
            <time class="w-author__published">Jan 31, 2019</time>
          </div>
        </div>
      </article>
    </a>
  </div>
</div>