/// ROUNDED BORDER
/// This mixin applies a border on all sides with
/// consistent color and radius by default
@mixin rounded-border(
  $size: $global-radius-base,
  $color: var(--color-stroke),
  $width: 1px
) {
  border-radius: $size;
  border: $width solid $color;
}
