<!-- MARKUP TAKEN FROM GENERATED OUTPUT -->
<div class="toc">
  <ul class="toc__list">
    <li class="toc__listitem">
      <a href="#border-properties" class="toc__anchor w-scroll-spy__active"
        >Border properties</a
      >
      <ul class="toc__list">
        <li class="toc__listitem">
          <a href="#style" class="toc__anchor">Style</a>
        </li>
        <li class="toc__listitem">
          <a href="#shorthand" class="toc__anchor">Shorthand</a>
        </li>
        <li class="toc__listitem">
          <a href="#color" class="toc__anchor">Color</a>
        </li>
        <li class="toc__listitem">
          <a href="#width" class="toc__anchor">Width</a>
        </li>
      </ul>
    </li>
    <li class="toc__listitem">
      <a href="#logical-properties" class="toc__anchor">Logical properties</a>
    </li>
    <li class="toc__listitem">
      <a href="#border-radius" class="toc__anchor">Border radius</a>
    </li>
    <li class="toc__listitem">
      <a href="#border-images" class="toc__anchor">Border images</a>
      <ul class="toc__list">
        <li class="toc__listitem">
          <a href="#border-image-source" class="toc__anchor"
            >border-image-source</a
          >
        </li>
        <li class="toc__listitem">
          <a href="#border-image-slice" class="toc__anchor">border-image-slice</a>
        </li>
        <li class="toc__listitem">
          <a href="#border-image-repeat" class="toc__anchor"
            >border-image-repeat</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>