<div class="prose">
  <p>Add <code>data-screenshot</code> attribute to add a border around a figure.</p>
  <figure data-screenshot="true">
    <img alt="Dog holding a stick."  decoding="auto" height="240" src="https://web-dev.imgix.net/image/tcFciHGuF3MxnTr1y5ue01OGLBn2/QlgeHQrzaD9IOKBXB68I.jpg?auto=format" width="380">
    <figcaption>This figure gets a border.</figcaption>
  </figure>
</div>
