/// VISUALLY HIDDEN UTILITY
/// If you hide an element with display: none, it can also hide it
/// from assistive technology, such as screen readers.
/// This utility allows you to get the effect of display: none,
/// without the a11y issues
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
