/// WRAPPER UTILITY
/// Info: https://web.dev/design-system/css-utilities/#wrapper

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80rem; // For no clamp support
  width: clamp(16rem, 95vw, 80rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-gutter;
  padding-right: $global-gutter;
  position: relative;
}

.wrapper[data-size='narrow'] {
  width: 62rem; // For no clamp support
  width: clamp(16rem, 95vw, 62rem);
  padding-inline: 0;
}
