/// WRAPPER UTILITY
/// Info: https://web.dev/design-system/css-utilities/#wrapper

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90rem; // For no clamp support
  width: clamp(16rem, 90vw, 90rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $global-gutter;
  padding-right: $global-gutter;
  position: relative;
}
