---
permalink: false
layout: sandbox/article
title: columns
tags:
  - sandbox
---

<div class="w-columns">
  <figure class="w-figure">
    <img src="../image-small.png" alt="" style="max-width: 400px;">
    <figcaption class="w-figcaption">
      Small image.
    </figcaption>
  </figure>
  <figure class="w-figure">
    <img src="../image-small.png" alt="" style="max-width: 400px;">
    <figcaption class="w-figcaption">
      Small image.
    </figcaption>
  </figure>
</div>
