---
layout: landing-page
title: A sample landing page
description: This page is used for visual testing of the landing-page layout and also showcases it's capabilities
headlineAction:
  url: /handbook/content-types/example-landing-page/
  text: Test
paged:
  elements:
    - data:
        title: >-
          A post without a thumbnail
        subhead: >-
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In et eros volutpat, commodo neque quis, egestas tortor
        url: /handbook/content-types/example-landing-page/
        thumbnail:
        alt: Lorem Ipsum
        authors:
          - razvancaliman
        tags:
        date: 2022-11-10
        updated: 2022-11-12
        draft: false
    - data:
        title: >-
          If a post has a thumbnail then it will use this layout
        subhead: >-
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In et eros volutpat, commodo neque quis, egestas tortor
        url: /handbook/content-types/example-landing-page/
        thumbnail: image/vgdbNJBYHma2o62ZqYmcnkq3j0o1/yG6HcKRIK416ewhINL0T.jpg
        alt: Lorem Ipsum
        authors:
          - razvancaliman
        tags:
        date: 2022-11-10
        updated: 2022-11-12
        draft: false
    - data:
        title: >-
          This is what a post looks like with two authors
        subhead: >-
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In et eros volutpat, commodo neque quis, egestas tortor
        url: /handbook/content-types/example-landing-page/
        thumbnail: image/vgdbNJBYHma2o62ZqYmcnkq3j0o1/yG6HcKRIK416ewhINL0T.jpg
        alt: Lorem Ipsum
        authors:
          - razvancaliman
          - christiancantrell
        tags:
        date: 2022-11-10
        updated: 2022-11-12
        draft: false
    - data:
        title: >-
          This is what a post looks like with multiple authors
        subhead: >-
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In et eros volutpat, commodo neque quis, egestas tortor
        url: /handbook/content-types/example-landing-page/
        thumbnail: image/vgdbNJBYHma2o62ZqYmcnkq3j0o1/yG6HcKRIK416ewhINL0T.jpg
        alt: Lorem Ipsum
        authors:
          - razvancaliman
          - christiancantrell
          - malteubl
        tags:
        date: 2022-11-10
        updated: 2022-11-12
        draft: false
    - data:
        title: >-
          This is what a post looks like with a single tag
        subhead: >-
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In et eros volutpat, commodo neque quis, egestas tortor
        url: /handbook/content-types/example-landing-page/
        thumbnail: image/vgdbNJBYHma2o62ZqYmcnkq3j0o1/yG6HcKRIK416ewhINL0T.jpg
        alt: Lorem Ipsum
        authors:
          - razvancaliman
        tags:
          - progressive-web-apps
        date: 2022-11-10
        updated: 2022-11-12
        draft: false
    - data:
        title: >-
          This is what a post looks like with multiple tags
        subhead: >-
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In et eros volutpat, commodo neque quis, egestas tortor
        url: /handbook/content-types/example-landing-page/
        thumbnail: image/vgdbNJBYHma2o62ZqYmcnkq3j0o1/yG6HcKRIK416ewhINL0T.jpg
        alt: Lorem Ipsum
        authors:
          - razvancaliman
        tags:
          - progressive-web-apps
          - performance
        date: 2022-11-10
        updated: 2022-11-12
        draft: false
    - data:
        title: >-
          This is what a post looks like without a subhead
        subhead:
        url: /handbook/content-types/example-landing-page/
        thumbnail: image/vgdbNJBYHma2o62ZqYmcnkq3j0o1/yG6HcKRIK416ewhINL0T.jpg
        alt: Lorem Ipsum
        authors:
          - razvancaliman
        tags:
        date: 2022-11-10
        updated: 2022-11-12
        draft: false
  pages: 1
---

{% include 'partials/paged-next.njk' %}
