<ul role="list" class="stack-nav">
  {% for item in data.items %}
    <li>
      <a class="repel" href="{{ item.url }}" {% if item.active %}aria-current="page"{% endif %}>
        <span class="cluster">
          {% if item.prefix %}
          <span class="stack-nav__prefix">{{ item.prefix }}</span>
          {% endif %}
          <span>{{ item.text }}</span>
        </span>
        {% if item.icon %}
          {% include "icons/" + item.icon %}
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>