<ul role="list" class="stack-nav">
  {% for item in data.items %}
    <li>
      <a href="{{ item.url }}" {% if item.active %}aria-current="page"{% endif %}>{{ item.text }}</a>
    </li>
  {% endfor %}
</ul>