---
permalink: false
layout: sandbox/article
title: stats
tags:
  - sandbox
---

<div class="w-stats">
  <div class="w-stat">
    <p class="w-stat__figure">30<sub class="w-stat__sub">%</sub></p>
    <p class="w-stat__desc">Lower cost per conversion</p>
  </div>
  <div class="w-stat">
    <p class="w-stat__figure">13<sub class="w-stat__sub">%</sub></p>
    <p class="w-stat__desc">Higher CTR</p>
  </div>
  <div class="w-stat">
    <p class="w-stat__figure">4<sub class="w-stat__sub">x</sub></p>
    <p class="w-stat__desc">Faster load times</p>
  </div>
</div>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, numquam
  laboriosam reprehenderit aliquam possimus natus magnam nulla illo blanditiis
  corporis nam sed, velit fugiat dolorum placeat. Odio, aut nisi. Fuga!
</p>

<div class="w-stats">
  <div class="w-stat">
    <p class="w-stat__figure">30<sub class="w-stat__sub">%</sub></p>
    <p class="w-stat__desc">Lower cost per conversion</p>
  </div>
  <div class="w-stat">
    <p class="w-stat__figure">13<sub class="w-stat__sub">%</sub></p>
    <p class="w-stat__desc">Higher CTR</p>
  </div>
</div>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt, numquam
  laboriosam reprehenderit aliquam possimus natus magnam nulla illo blanditiis
  corporis nam sed, velit fugiat dolorum placeat. Odio, aut nisi. Fuga!
</p>

<div class="w-stats">
  <div class="w-stat">
    <p class="w-stat__figure">30<sub class="w-stat__sub">%</sub></p>
    <p class="w-stat__desc">Lower cost per conversion</p>
  </div>
</div>
