<div class="homepage__section">
  <div class="wrapper">
    <div class="headline all-center flow">
      <h2 class="headline__title">{{ caseStudies.title }}</h2>
      <p>{{ caseStudies.summary }}</p>
      <div class="headline__action">
        <a href="/tags/case-study/">{{ 'i18n.common.see_all' | i18n(locale) }}</a>
      </div>
    </div>
    <div class="repel gap-top-size-2 wrapper">
    {% for item in collections['case-study'] %}
      {# For some reason, splice() was messing up the data... #}
      {% if loop.index <= 2 %}
      <article class="card">
        {% Img src=item.data.hero, alt=item.data.alt, width="570", height="330", class="card__hero" %}
        <div class="card__content flow">
          <h3 class="card__heading text-size-3">
            <a href="{{ item.url }}">{{ item.data.title }}</a>
          </h3>
          <p>{{ item.data.description }}</p>
        </div>    
        <div class="card__tags cluster" aria-label="tags for this case study">
          {% for tagKey in item.data.tags or [] %}
            {% if tagKey in collections.tags %}
              {% set tag = collections.tags[tagKey] %}
              <a class="pill" href="{{ tag.url }}">{{ tag.overrideTitle or tag.title | i18n(locale) }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </article>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
