{% if event %}
  <article class="hero" data-type="event">
    <div class="wrapper">
      <div class="hero__columns flex-dir-rev switcher">
        <div>
          <span aria-hidden="true" class="hero__eyebrow">{{ event.eyebrow }}</span>
          <div class="hero__content flow">
            <h2 class="hero__title">{{ event.title }}</h2>
            {{ event.summary | md | safe }}
            <div class="cluster gutter-base flow-space-size-2">
              <a class="button" data-type="primary" href="{{ event.primaryButtonUrl }}">{{ event.primaryButtonText }}</a>
              <a class="button" data-type="secondary" href="{{ event.secondaryButtonUrl }}">{{ event.secondaryButtonText }}</a>
            </div>
          </div>
        </div>
        <div>
          <img src="{{ event.image }}" alt="" aria-hidden="true" class="hero__decor" width="{{ event.imageWidth }}" height="{{ event.imageHeight }}" />
        </div>
      </div>
    </div>
  </article>
{% endif %}
