---
layout: 'default-next'
permalink: '/home-new/index.html'
CSS_ORIGIN: 'next'
title: 'web.dev'
intro:
  eyebrow: 'About web.dev'
  title: 'Guides and tools for the modern web'
  summary: |
    Whether you already have a website or you're just getting started, learn to build for the modern web at web.dev.
  buttonText: 'Learn more'
  buttonUrl: '/about/'
  image: 'https://web-dev.imgix.net/image/VbAJIREinuYvovrBzzvEyZOpw5w1/B9KWrQo39fXbKSVYjz1e.svg'
  imageWidth: '330'
  imageHeight: '210'
  featureCards: 
    - theme: 'dark'	
      title: 'Making their web app installable resulted in increased traffic'
      eyebrow: 'Web vitals'
      url: '#'
      background: '/images/feature-cards/web-vitals-feature.png'
    - theme: 'light'
      title: 'Designing in the browser using Dev Tools for design'
      eyebrow: 'Show'
      url: '#'
      background: '/images/feature-cards/design-in-the-browser.jpg'
pageSpeed: 
  eyebrow: 'Page Speed Insights'
  title: 'Measure page quality with PageSpeed Insights'
  summary: |
    See how well your website performs. Then, get tips to improve your user experience.
  image: 'https://web-dev.imgix.net/image/VbAJIREinuYvovrBzzvEyZOpw5w1/6Ye3EKc6quNaopPrigno.png'
  imageWidth: '546'
  imageHeight: '421'
  primaryButtonText: 'Try Page Speed Insights'
  primaryButtonUrl: '/measure'
  secondaryButtonText: 'Learn more'
  secondaryButtonUrl: '#'
event: 
  eyebrow: 'Event'
  title: 'Chrome Dev Summit 2021'
  summary: |
    Join the Chrome team for our two-day summit on the latest techniques for building the modern Web.
  image: 'https://web-dev.imgix.net/image/VbAJIREinuYvovrBzzvEyZOpw5w1/k25FHfpYLo9LQLvYT413.png'
  imageWidth: '530'
  imageHeight: '483'
  primaryButtonText: 'Request an invite'
  primaryButtonUrl: '#'
  secondaryButtonText: 'Add to calendar'
  secondaryButtonUrl: '#'
courses:
  title: 'Featured Courses'
  summary: 'Explore our structured learning paths to discover everything you need to know about building for the modern web.'
caseStudies:
  title: 'Case Studies'
  summary: 'Learn why and how other developers have used the web to create amazing web experiences for their users.'
  buttonText: 'See all'
  buttonUrl: '/tags/case-study/'
podcasts:
  title: 'Podcasts & Shows'
  summary: 'Level up your web development skills by listening to podcasts from Google Developers'
  buttonText: 'See all'
  buttonUrl: '/podcasts/'
patterns: 
  title: 'Patterns'
  summary: 'A collection of code snippets to help you optmize your web projects.'
  buttonText: 'See all'
  buttonUrl: '/patterns/'
---

{% from 'macros/icon.njk' import icon with context %}


<div class="homepage">
  <header class="hero">
    <div class="wrapper">
      <div class="hero__columns switcher">
        <div>
          <span aria-hidden="true" class="hero__eyebrow">{{ intro.eyebrow }}</span>
          <div class="hero__content flow">
            <img src="{{ intro.image }}" alt="" aria-hidden="true" class="hero__decor" width="{{ intro.imageWidth }}" height="{{ intro.imageHeight }}" />
            <h1 class="hero__title">{{ intro.title }}</h1>
            {{ intro.summary | md | safe }}
            <a class="button" data-type="primary" href="{{ intro.buttonUrl }}">{{ intro.buttonText }}</a>
          </div>
        </div>
        <div class="flow">
          {% for item in intro.featureCards %}
          <a class="feature-card" href="{{ item.url }}" data-theme="{{ item.theme }}">
            <span class="feature-card__eyebrow">{{ item.eyebrow }}</span>
            <h3 class="{{ 'visually-hidden' if item.hiddenTitle else 'feature-card__title' }}">{{ item.title }}</h3>
            <img class="feature-card__background" loading="lazy" alt="" aria-hidden="true" src="{{ item.background }}" />
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </header>

  {% if event %}
    <article class="hero" data-type="event">
      <div class="wrapper">
        <div class="hero__columns flex-dir-rev switcher">
          <div>
            <span aria-hidden="true" class="hero__eyebrow">{{ event.eyebrow }}</span>
            <div class="hero__content flow">
              <h2 class="hero__title">{{ event.title }}</h2>
              {{ event.summary | md | safe }}
              <div class="cluster gutter-base flow-space-size-2">
                <a class="button" data-type="primary" href="{{ event.primaryButtonUrl }}">{{ event.primaryButtonText }}</a>
                <a class="button" data-type="secondary" href="{{ event.secondaryButtonUrl }}">{{ event.secondaryButtonText }}</a>
              </div>
            </div>
          </div>
          <div>
            <img src="{{ event.image }}" alt="" aria-hidden="true" class="hero__decor" width="{{ event.imageWidth }}" height="{{ event.imageHeight }}" />
          </div>
        </div>
      </div>
    </article>
  {% endif %}
  <hr />
  <article class="hero bg-core-bg homepage__page-speed-hero">
    <div class="wrapper">
      <div class="hero__columns switcher">
        <div>
          <span aria-hidden="true" class="hero__eyebrow">{{ pageSpeed.eyebrow }}</span>
          <div class="hero__content flow gap-top-size-5">
            <h1 class="hero__title">{{ pageSpeed.title }}</h1>
            {{ pageSpeed.summary | md | safe }}
            <div class="cluster gutter-base flow-space-size-2">
              <a class="button" data-type="primary" href="{{ pageSpeed.primaryButtonUrl }}">{{ pageSpeed.primaryButtonText }}</a>
              <a class="button" data-type="secondary" href="{{ pageSpeed.secondaryButtonUrl }}">{{ pageSpeed.secondaryButtonText }}</a>
            </div>
          </div>
        </div>
        <div class="flow">
          <img src="{{ pageSpeed.image }}" alt="" aria-hidden="true" class="hero__decor" width="{{ pageSpeed.imageWidth }}" height="{{ pageSpeed.imageHeight }}" />
        </div>
      </div>
    </div>
  </article>

  <div class="homepage__section bg-mid-bg">
    <div class="wrapper">
      <div class="headline all-center flow">
        <h2 class="headline__title">{{ courses.title }}</h2>
        <p>{{ courses.summary }}</p>
        <div class="headline__action">
          <a href="/learn">{{ 'i18n.common.see_all' | i18n(locale) }}</a>
        </div>
      </div>
      <div class="reel scrollbar gap-top-size-2" data-scroll="snap">
        {# TODO: wire this up with proper course data #}
        <a href="#" class="card" data-style="branded">
          <div class="card__header repel">
            <p class="color-mid-text">Course</p>
            <div class="counter t-bg-highlights-purple t-color-shades-light-bright">
              <span class="counter__content">24</span>
              {{ icon('mortarboard') }}
            </div>
          </div>
          <img src="/images/courses/css/card-brand.svg" alt="Learn CSS branding" />
          <div class="card__content flow">
            <h3 class="visually-hidden">Learn CSS</h3>
            <img
              class="card__logo"
              src="/images/courses/css/logo.svg"
              alt=""
              aria-hidden="true"
            />
            <p class="text-size-0">
              Let’s gleefully breakdown complex aspects of CSS into digestible episodes
              covering everything from accessibility to z-index.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="homepage__section">
    <div class="wrapper">
      <div class="headline all-center flow">
        <h2 class="headline__title">{{ caseStudies.title }}</h2>
        <p>{{ caseStudies.summary }}</p>
        <div class="headline__action">
          <a href="/tags/case-study/">{{ 'i18n.common.see_all' | i18n(locale) }}</a>
        </div>
      </div>
      <div class="repel gap-top-size-2 wrapper">
      {% for item in collections['case-study'] %}
        {# For some reason, splice() was messing up the data... #}
        {% if loop.index <= 2 %}
        <article class="card">
          {% Img src=item.data.hero, alt=item.data.alt, width="570", height="330", class="card__hero" %}
          <div class="card__content flow">
            <h3 class="card__heading text-size-3">
              <a href="{{ item.url }}">{{ item.data.title }}</a>
            </h3>
            <p>{{ item.data.description }}</p>
          </div>    
          <div class="card__tags cluster" aria-label="tags for this case study">
            {% for tagKey in item.data.tags or [] %}
              {% if tagKey in collections.tags %}
                {% set tag = collections.tags[tagKey] %}
                <a class="pill" href="{{ tag.url }}">{{ tag.overrideTitle or tag.title | i18n(locale) }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </article>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="homepage__section bg-core-bg">
    <div class="wrapper">
      <div class="headline all-center flow">
        <h2 class="headline__title">{{ podcasts.title }}</h2>
        <p>{{ podcasts.summary }}</p>
        <div class="headline__action">
          <a href="/podcasts/">{{ 'i18n.common.see_all' | i18n(locale) }}</a>
        </div>
      </div>
      {% include "./podcasts.njk" %}
    </div>
  </div>

  <div class="homepage__section bg-core-bg">
    <div class="wrapper">
      <div class="headline all-center flow">
        <h2 class="headline__title">{{ patterns.title }}</h2>
        <p>{{ patterns.summary }}</p>
        <div class="headline__action">
          <a href="/patterns/">{{ 'i18n.common.see_all' | i18n(locale) }}</a>
        </div>
      </div>
      <div class="homepage__patterns cluster gap-top-size-3"> 
        {% for setId, set in patterns.sets %}
          {% if (site.env == 'prod' and set.draft) or set.suite %}
            {# Don't display draft suite cards in prod, and don't display
              sets that have a parent suite #}
          {% else %}
          <a href="/patterns/{{ set.id }}"" class="card">
            {% Img src=set.hero, alt=set.title, width="354", height="240", params={fit: 'center', h: '240', w: '354'} %}
            <div class="card__content flow gap-top-size-2">
              <h3 class="card__heading text-size-3">{{ set.title }}</h3>
              <p class="color-mid-text">{{ set.description }}</p>
            </div>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

