---
description: |
  Get the web's modern capabilities on your own sites and apps with useful
  guidance and analysis from web.dev.
date: 2018-11-05
i18n:
  headline: Let's build the future of the web
  subheadline: |
    Get the web's modern capabilities on your own sites and apps with useful
    guidance and analysis from web.dev.
  test_cta: Test my site
  about_subheadline: |
    As the web advances, users' expectations grow. With web.dev's guidance, you
    can give your users the best experience, wherever they are.
  about_cta: About web.dev
  explore_cta: Explore topics
  latest_headline: Latest stories
  latest_subheadline: See our latest news, updates, and stories for developers.
  see_all: See all articles
  explore_subheadline: |
    Learn more about a topic, and practice your skills with a hands-on
    codelab.
  see_topics: See all topics
layout: default
title: web.dev
pageScripts:
  - '/js/home.js'
draft: true
sections:
  shows:
    - designing-in-the-browser
    - http-203
  caseStudies:
    - swappie
    - renault
---
{% from 'macros/post-card.njk' import postCard with context %}
<div>
  <section>
    <h2>Hero area</h2>
    <div style="border: 1px solid;"> Card one => custom markup </div>
    <div style="border: 1px solid;"> Card two: Latest Post


    {% for post in recentPosts %}
      {% if loop.index0 === 0 %}
      {{ post.url }} = {{ post.data.title }}
      {{ postCard(post, loop.first) }}
      {% endif %}
    {% endfor %}

    </div>
  </section>

  <section>
    <h2>Featured area</h2>
    {% include './featured.njk' %}
  </section>

  <section>
    <h2>Courses</h2>
    {% include 'partials/course-cards.njk' %}
  </section>

  <section>
    <h2>Case studies</h2>
    {% for item in collections['case-study'] %}
      {% if item.fileSlug in sections.caseStudies %}
        <p>{{ item.url }}  - {{ item.data.title }}</p>
      {% endif %}
    {% endfor %}
  </section>

  <section class="w-grid">
    <h2>Podcasts & shows</h2>
    {% from 'macros/shows-card.njk' import showsCard with context %}
    <div class="w-grid__columns w-grid__columns--three" role="list">
      {% for showName in sections.shows %}
        {% set show = collections.shows[showName]%}
        {{ showsCard(show) }}
      {% endfor %}
    </div>
  </section>

  <section class="w-grid">
    <h2>Patterns</h2>
    <div class="w-grid__columns w-grid__columns--three" role="list">
      {% from 'macros/patterns-card.njk' import PatternSuiteCard with context %}

      {% for setId, set in patterns.sets %}
        {% if loop.index0 < 2 %}
          {% if (site.env == 'prod' and set.draft) or set.suite %}
            {# Don't display draft suite cards in prod, and don't display
              sets that have a parent suite #}
          {% else %}
            {{ PatternSuiteCard(set) }}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>

  <section class="w-layout-container">
    {% include 'partials/subscribe.njk' %}
  </section>
</div>
