{% for item in data.items %}
<label for="{{ item.id }}">
  {{ item.label }}
  <!--prettier-ignore-->
  <input
    type="radio"
    id="{{ item.id }}"
    name="{{ data.group }}"
    value="{{ item.value }}"
    {% if item.checked %}checked{% endif %}
  />
</label>
{% endfor %}
