<p>This sample gets displayed in the code samples area,
but is not included in demo.html</p>

{% Img src="image/admin/3lZosaL1YXafLn4ZRINl.gif", alt="WalkMe state toggle test.", width="441", height="400" %}