<div class="devsite-book-nav-bg" hidden="" fixed=""></div>
<devsite-book-nav
  ds-is="book-nav"
  scrollbars=""
  hidden=""
  top-level-nav=""
  fixed=""
  style="top: 64px; max-height: 198px;"
>
  <nav class="devsite-book-nav devsite-nav nocontent">
    <div class="devsite-mobile-header">
      <button
        type="button"
        id="devsite-close-nav"
        class="devsite-header-icon-button button-flat material-icons gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="Close navigation"
        aria-label="Close navigation"
      ></button>
    </div>

    <div class="devsite-book-nav-wrapper">
      <div class="devsite-mobile-nav-top">
        <ul class="devsite-nav-list">
          <li class="devsite-nav-item">
            <a
              href="https://web.dev/learn"
              class="devsite-nav-title gc-analytics-event
        "
              data-category="Site-Wide Custom Events"
              data-label="Responsive Tab: Learn"
            >
              <span class="devsite-nav-text">Learn</span>
            </a>
          </li>
          <li class="devsite-nav-item">
            <a
              href="https://web.dev/measure"
              class="devsite-nav-title gc-analytics-event
        "
              data-category="Site-Wide Custom Events"
              data-label="Responsive Tab: Measure"
            >
              <span class="devsite-nav-text">Measure</span>
            </a>
          </li>
          <li class="devsite-nav-item">
            <a
              href="https://web.dev/about"
              class="devsite-nav-title gc-analytics-event
        "
              data-category="Site-Wide Custom Events"
              data-label="Responsive Tab: About"
            >
              <span class="devsite-nav-text">About</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</devsite-book-nav>