{% macro nextGuide(page, paths) %}{% nextGuideLink page, paths %}{% endmacro %}

{% macro getTitleFromUrl(articleUrl, collection) %}
  {% for article in collection %}
    {% if articleUrl == article.url %}
      {{ article.data.title }}
    {% endif %}
  {%- endfor -%}
{% endmacro %}

{% macro getLearningPathTitle(learningPath, collection) %}
  {% for path in collection %}
    {% if path.data.learningPath == learningPath %}
      {{ path.data.title }}
    {% endif %}
  {%- endfor -%}
{% endmacro %}

{% macro getLearningPathDescription(learningPath, collection) %}
  {% for path in collection %}
    {% if path.data.learningPath == learningPath %}
      {{ path.data.description }}
    {% endif %}
  {%- endfor -%}
{% endmacro %}

{% macro getLearningPathUrl(learningPath, collection) %}
  {% for path in collection %}
    {% if path.data.learningPath == learningPath %}
      {{ path.data.page.url }}
    {% endif %}
  {%- endfor -%}
{% endmacro %}