{% macro nextGuide(page, paths) %}
  {% nextGuideLink page, paths %}
{% endmacro %}

{% macro getTitleFromUrl(articleUrl, collection) %}
  {% for article in collection %}
    {% if articleUrl == article.url %}
      {{ article.data.title }}
    {% endif %}
  {%- endfor -%}
{% endmacro %}