---
layout: layout
---

<header class="feature">
  <div class="container">
    <div class="row">
    <div class="feature-right path--{{pathName}}">
      <!-- nb. feature image appears before text for mobile view -->
    </div>
    <div class="feature-left">
      <div>
        <h1 class="no-link">{{title}}</h1>
        <p>{{description}}</p>
      </div>
    </div>
    </div>
  </div>
</header>

<div class="path-landing-page">
  <section>
    <div class="container">
      <div class="row">
        <article class="path-intro">
          <h2 class="no-link">Overview</h2>
          {{ overview }}
        </article>
        <article class="path-learn">
          <h2 class="no-link">What you'll learn</h2>
          <ul>
            {# guideCollections comes from _data #}
            {% for topic in topics %}
              <li>
                <div class="tick" aria-hidden="true">done</div>
                <div>{{topic.title}}</div>
              </li>
            {% endfor %}
          </ul>
        </article>
      </div>
    </div>
  </section>
  <hr>

  <main>
    <div class="container">
      <div class="row">
      {% for topic in topics %}
      <!-- TOPIC -->
      <div class="topic">
        <div class="title">
          <h2 id="{{topic.title | slug}}" class="no-link">{{topic.title}}</h2>
        </div>

        <!-- GUIDES FOR TOPIC  -->
        <ul class="guides">
          {% for slug in topic.guides %}
          <li>
            <div class="marker" aria-hidden="true"></div>
            <a href="./{{slug}}">
              {% getTitleBySlug page.inputPath, slug %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      </div>
    </div>
  </main>
</div>
