---
permalink: false
layout: sandbox/container
title: author
tags:
  - sandbox
---

<div class="w-authors">
  <div class="w-author">
    <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
    <div class="w-author__info">
      <cite class="w-author__name">Houssein Djirdeh</cite>
      <time class="w-author__published">Jan 31, 2019</time>
    </div>
  </div>
</div>
<div>
  <div class="w-author">
    <img class="w-author__image" src="./houssein.jpg" alt="Houssein Djirdeh">
    <div class="w-author__info">
      <cite class="w-author__name">Houssein Djirdeh</cite>
      <ul class="w-author__link-list">
        <li class="w-author__link-listitem">
          <a href="#">Twitter</a>
        </li>
        <li class="w-author__link-listitem">
          <a href="#">GitHub</a>
        </li>
        <li class="w-author__link-listitem">
          <a href="#">Glitch</a>
        </li>
      </ul>
      <time class="w-author__published">Jan 31, 2019</time>
    </div>
  </div>
</div>