To ensure your page's content is pronounced correctly for screen reader users,
use a <a href="https://www.w3.org/International/questions/qa-choosing-language-tags#question" rel="noopener">valid language code</a>
in the `lang` attribute of the `<html>` element.

For example, this sample code sets the language of the document to English:

```html
<html lang="en">
```
