/* Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #000d12;
  height: 100%;
  margin: 50px;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 55px green, 0 0 75px green;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

p {
  color: #fff;
  font-size: 20px;
}