## How to improve your overall Performance score

Unless you have a specific reason for focusing on a particular metric, it's
usually better to focus on improving your overall Performance score.

Use the **Opportunities** section of your Lighthouse report to determine which
improvements will have the most value for your page. The more significant the opportunity,
the greater the effect it will have on your Performance score. For example, the Lighthouse
screenshot below shows that [eliminating render-blocking resources](/render-blocking-resources)
will yield the biggest improvement:

<figure class="w-figure">
  <img class="w-screenshot w-screenshot--filled" src="/images/shared/opportunities.png"
       alt="Lighthouse: Opportunities section">
</figure>

See the [Performance audits landing page](/lighthouse-performance)
to learn how to address the opportunities identified in your Lighthouse report.
