{% Aside 'key-term' %}
Houdini is a set of JavaScript APIs that let developers extend CSS by directly
controlling a browser’s rendering engine. It also lets developers create new CSS
features without waiting for standardization and browser implementation. For more information, see [css-houdini.rocks](https://css-houdini.rocks/).
{% endAside %}
