Origin trials allow you to try new features and give feedback on their
usability, practicality, and effectiveness to the web standards community. For
more information, see the
<a href="https://github.com/GoogleChrome/OriginTrials/blob/gh-pages/developer-guide.md" rel="noopener">Origin Trials Guide for Web Developers</a>.
To sign up for this or another origin trial, visit the
<a href="https://developers.chrome.com/origintrials/#/trials/active" rel="noopener">registration page</a>.
