{% macro responseComponent(component) %}
{% AssessmentResponse component.type, component.cardinality, component.correctAnswers, component.columns %}
{{ component.stem | md | safe }}
{% for option in component.options %}
{% if option.content %}
<span data-role="option">
  {{ option.content | md | safe }}
</span>
{% endif %}
{% if option.rationale %}
{% Block 'rationale' %}
{{ option.rationale | safe }}
{% endBlock %}
{% endif %}
{% endfor %}
{% endAssessmentResponse %}
{% endmacro %}

{% macro assessmentQuestion(question) %}
<web-question>

{% Block 'stimulus' %}
{{ question.stimulus | safe }}
{% endBlock %}

{% for component in question.components %}
{{ responseComponent(component) }}
{% else %}
{{ responseComponent(question) }}
{% endfor %}

</web-question>
{% endmacro %}

{% macro selfAssessment(assessment) %}
<web-assessment class="{% if assessment.questions.length === 1 %}web-assessment--singleton{% endif %}" {% if assessment.height %}style="height: {{ assessment.height }};"{% endif %}>

{% if (assessment.setLeader) and (assessment.questions.length > 1) %}
  <div class="w-callout__blurb web-assessment__set-leader">
    {{ assessment.setLeader | md | safe }}
  </div>
{% endif %}

{% if assessment.questions.length > 1 %}
  <web-tabs class="web-assessment__content" label="{{ assessment.tabLabel }}s for knowledge self check">
  {% for question in assessment.questions %}
  <div class="web-tabs__panel" role="tabpanel" data-label="{{ assessment.tabLabel }}" hidden>
    {{ assessmentQuestion(question) }}
  </div>
  {% endfor %}
  </web-tabs>
{% else %}
  {% for question in assessment.questions %}
  <div class="web-assessment__content">
    {{ assessmentQuestion(question) }}
  </div>
  {% endfor %}
{% endif %}

</web-assessment>
{% endmacro %}
