.about__columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{get-space('size-2')} #{$global-gutter};
}

.about__pod {
  --cluster-horizontal-alignment: center;

  padding: $global-gutter;
  border-radius: $global-radius-large;
  box-shadow: 2px 14px 24px rgba(0, 0, 0, 0.1);
  max-width: 68rem;
  margin-inline: auto;
  text-align: center;

  @include apply-utility('bg', 'core-bg');

  p {
    max-width: 45ch;
  }

  h2,
  p {
    margin-inline: auto;
  }

  a,
  a:visited {
    @include apply-utility('font', 'brand');
    @include apply-utility('color', 'action-text');
  }

  > svg {
    display: block;
  }
}

.about__pod-columns {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: get-space('base');
  gap: $global-gutter;

  img {
    margin-inline: auto;
  }
}

.about__article {
  text-align: center;
  max-width: 28rem;

  > img {
    margin-inline: auto;
  }

  p {
    @include apply-utility('color', 'mid-text');
  }
}

.about__pairs {
  dd {
    margin: 0;

    @include apply-utility('color', 'mid-text');
  }

  dd + dt {
    border-block-start: 1px solid var(--color-stroke);
    margin-block-start: get-space('size-1');
    padding-block-start: get-space('size-1');
  }

  a,
  a:visited {
    font-weight: normal;
    @include apply-utility('font', 'brand');
    @include apply-utility('color', 'action-text');
  }
}

@include media-query('md') {
  .about__pod {
    --cluster-horizontal-alignment: start;
    text-align: left;

    h2,
    p {
      margin-inline-start: 0;
    }
  }

  .about__pod-columns {
    grid-template-columns: 20rem 1fr;
  }

  .about__columns {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: get-space('size-2');
  }

  .about__article {
    text-align: left;

    > img {
      margin-inline-end: 0;
    }
  }
}
