@include media-query('lg') {
  .about {
    .hero__title {
      margin-bottom: 20px;
    }
    .hero__content {
      margin-block-start: get-space('size-4');
    }
  }
}

.about__teams {
  border-block-start: 1px solid var(--color-stroke);

  .card {
    padding-block: get-space('size-1');
  }

  .card > img {
    width: 192px;
    height: 192px;
    border-radius: 50%;
  }

  .authors {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.about__developers {
  p {
    max-width: 75ch;
  }
  .button {
    margin-top: 40px;
  }

  .headline__title {
    margin-top: 1.5em;
  }
}

.about__article {
  text-align: center;
  max-width: 28rem;

  > img {
    margin-inline: auto;
  }

  p {
    @include apply-utility('color', 'mid-text');
  }
}

.about__coupled-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  h5 {
    margin: 0.5em;
  }


  > div:first-child {
    border-right: 1px solid #D2D3D7;
    padding-right: get-space('size-2');
  }

  > div:last-child {
    padding-left: get-space('size-2');
  }
}

@include media-query('md') {
  .about__pod {
    --cluster-horizontal-alignment: start;
    text-align: left;

    h2,
    p {
      margin-inline-start: 0;
    }
  }

  .about__pod-columns {
    grid-template-columns: 20rem 1fr;
  }

  .about__columns {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: get-space('size-2');
  }

  .about__article {
    text-align: left;

    > img {
      margin-inline-end: 0;
    }
  }
}
