.learn {
  .learn__collection {
    border-block-start: 1px solid var(--color-stroke);
    padding-block: get-space('size-1');
  }

  .auto-grid {
    --gutter: #{get-space('size-2')};

    padding-block-end: get-space('size-2');
  }

  .pill {
    min-width: 4rem;
  }
}

@include media-query('md') {
  .learn {
    .auto-grid {
      --auto-grid-min-item-size: 22rem;
    }
  }
}
