.learn__collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  a {
    min-height: 410px;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
  }
}

.learn__hero {
  p {
    max-width: 74ch;
  }
}