@media (min-width: 865px) {
  .learn__path-hero {
    height: auto;
    max-width: initial;
    width: 420px;
  }
}

.learn-header {
  display: block;
  text-align: center;

  @media (min-width: 865px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: initial;
  }
}

.headline-link {
  a {
    display: none;
    margin-left: 4px;
  }
}

.headline-link:hover,
.headline-link:focus {
  a {
    display: inline;
    color: inherit;
  }
}
