.spaces {

  .sm-only {
    @include media-query('md') {
      display: none;
    }
  }

  audio {
    width: 250px;
    @include media-query('md') {
      width: 100%;
    }
  }

  .wrapper.spaces--past {
    padding-inline: 0;
    margin-inline: 0;
    @include media-query('md') {
      padding-inline: $global-gutter;
      margin-inline: auto;
    }

  }

  @include media-query('md') {
    padding-inline: o
  }

  --blue-1: #3740ff;
  --blue-2: #3c82ff;
  --blue-3: #3fc4ff;

  .hero, .hero p {
    background: none;
    color: #fff;
  }

  td {
    vertical-align: top;
    @include media-query('md') {
      vertical-align: middle;
    }
  }

  header {
    min-height: 800px;
    margin-bottom: map-get($gorko-space-scale, 'size-2');
    position: relative;
  }

  header:before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    // background: linear-gradient(90deg, var(--blue-1) 0%, var(--blue-2) 35%, var(--blue-3) 100%);
    background: url('https://web-dev.imgix.net/image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/3tW171hjep8z4WvpAvkw.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
  }

  .hero__columns {
    align-items: center;
  }

  .card__header {
    background-image: url('https://web-dev.imgix.net/image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/x7xXPnsdyuEsWENvc0oZ.svg');
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card:nth-child(n+1)  .card__header {
    --color-core-bg: #3740ff;
    --color-action-bg-primary: var(--blue-3);
  }

  .card:nth-child(n+2) .card__header {
    background-image: url('https://web-dev.imgix.net/image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/Ays4p05JflBuEf9Jn7lg.svg');
    --color-core-bg: #3c82ff;
    --color-action-bg-primary: var(--blue-1)
  }

  .card:nth-child(n+3) .card__header {
    background-image: url('https://web-dev.imgix.net/image/jxu1OdD7LKOGIDU7jURMpSH2lyK2/GfTxIFG0aFNwHR9x5HpU.svg');
    --color-core-bg: #3fc4ff;
    --color-action-bg-primary: var(--blue-2)
  }

  .card__content {
    text-align: initial;
  }

  .avatar {
    --avatar-size: 32px;
    min-width:  var(--avatar-size);
    display: inline-block;
    border: 3px solid var(--color-action-bg-primary);
    outline-color: var(--color-core-bg);
    outline-style: solid;
    outline-width: 2px;

    @include media-query('md') {
      --avatar-size: 72px;
      outline-width: 4px;
    }
  }

  .card__header .avatar {
    --avatar-size: 96px;
    outline-width: 6px;
  }

  .avatars {
    padding-inline-end: 0;
    text-align: right;
    white-space: nowrap;
  }

  .avatar:first-child {
    outline: 0;
  }



  img.avatar + img.avatar,
  .card .avatar + .avatar {
    margin-left: calc(var(--avatar-size) * -0.5);
  }

  .avatar img {
    display: inline-block;
  }

  .icon-button {
    color: var(--color-action-bg-primary);
  }

  table {
    width: 100%;
  }

  p {
    color: var(--color-mid-text);
  }

  ul.hosts {
    list-style: none;
    padding: 0;
  }

  .host {
    padding-right: 1em;
    display: block;

    @include media-query('md') {
      display: inline;
    }
  }

  .pill {
    margin-inline: 1em;
  }

  .ellipsis summary {
    list-style: none;

    span:last-child {

      display: none;
    }

    span:first-child {
      text-overflow: ellipsis;
      white-space: break-all;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    @include media-query('md') {
      display: flex;

      span:first-child {
        white-space: nowrap;
        display: block;
      }

      .ellipsis span:last-child {
        white-space: nowrap;
        font-weight: 500;
        display: block;
      }
    }
  }

  details.ellipsis[open] span:first-child {
    text-overflow: initial;
    white-space: normal;
    display: block;
  }

  details.ellipsis[open] span:last-child {
    display: none;
  }

  details.ellipsis {
    border-block: 0;
    padding-inline: 0;
  }

  details.ellipsis summary {
    max-width: 800px;
    font-size: 1em;
    color: var(--color-mid-text);
  }

  details.ellipsis summary::before,
  details.ellipsis summary::after {
    display: none;
  }

  // Mobile

  td.eyebrow {
    display: none;
    @include media-query('md') {
      display: table-cell;
    }
  }
}