/* Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 */

/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.container {
  display: inline-block;
}

.instructions {
  text-align: center;
  margin-bottom: 16px;
}

button {
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  text-transform: uppercase;
}