@import '../tools/breakpoints';

$ICON_SIZE: 32px;
$IMAGE_WIDTH: 192px;

.w-author-page-header {
  // Not a great solution but annoyingly the page-header doesn't always have
  // bottom padding because it relies on there being a lot of whitespace below
  // it. Since this header has an author image, we're taking up that white space
  // which means we need to add the padding back.
  padding-bottom: 1em;
}

.w-author-page-header__headline {
  @include font($HEADLINE_1);

  @include bp(sm) {
    @include font($HEADLINE_1_XSMALL);
  }
}

.w-author-page__icon {
  height: $ICON_SIZE;
}

.w-author-page__image {
  border-radius: 100%;
  margin-bottom: 9px;
  width: calc(#{$IMAGE_WIDTH} * calc(2/3)); // 128px

  @include bp(sm) {
    width: $IMAGE_WIDTH;
  }
}

.w-author-page__links {
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.w-author-page__link {
  display: inline-block;
  margin: calc(#{$ICON_SIZE} / 4);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
