// sass-lint:disable class-name-format
.codelab-landing-page {
  height: calc(100vh - 64px);
}

.web-codelab-instructions {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 32px;
  width: 600px;
}
// sass-lint:enable class-name-format
