.course-layout {
  display: flex;
  flex-direction: column;
  @include bp(lg) {
    flex-direction: row;
  }
}

.js-navigation-drawer-dismissed .course-layout {
  flex-direction: column;
}

.course-body {
  flex: 1;
  min-width: 0;

  @include bp(lg) {
    margin-left: 0;
  }
}

.course-content {
  display: flex;
  justify-content: center;
  margin: 24px auto;
  max-width: 1080px;
}

.course-content > main {
  flex-grow: 1;
  margin: 0 36px;
  max-width: 80ch;
  min-width: 0;
  padding: 0;
}

.course-pagination {
  display: flex;
}

.course-pagination-control {
  border-top: 1px solid $GREY_300;
  display: block;
  padding: 24px;

  &:first-of-type {
    flex: 4;
    border-right: 1px solid $GREY_300;
  }

  &:last-of-type  {
    flex: 6;
  }
}
