.w-learn-heading {
// Adding 0px margin from top,bottom and 32px margin from right and left to the heading
  margin: 0 32px;
};

.w-learn__collections-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}
