@import '../settings/colors';
@import '../tools/breakpoints';

.w-live-landing-page {
  color: $GREY_800;

  p {
    font-size: 14px;
    line-height: 1.5;
    @include bp(sm) {
      font-size: 16px;
    }
  }

  h2 {
    color: $GREY_900;
  }

  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

.w-live-top {
  // We need this as the live background extends outside the normal l/r of the
  // page. Contain it so it doesn't let users scroll.
  overflow-x: hidden;
}

.w-event-buttons {
  display: inline-flex;
  flex-flow: column wrap;
  margin-bottom: 8px;

  .w-button--primary {
    margin: 0 0 16px;
  }

  .w-button:not(.w-button--primary) {
    color: inherit;
  }

  @include bp(sm) {
    flex-direction: row;

    .w-button--primary {
      margin: 0 16px 0 0;
    }
  }
}

.w-event-heading {
  // We don't use this BEM selector but it's the parent of logo and subhead.
  // This is the "web.dev LIVE" logo.
}

.w-event-heading__logo {
  align-items: center;
  color: #606369;
  display: flex;
  font-size: 32px;
  justify-content: center;

  span {
    opacity: 0;
    position: absolute;
    text-indent: -99999px;
  }

  video {
    height: 1em;
    margin-left: .25ch;
    pointer-events: none;
    width: auto;
  }
}

.w-event-heading__subhead {
  font-family: 'Google Sans', sans-serif;
}

.w-event-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: (64px - $WEB_HEADER_HEIGHT - 48px) auto 64px;
  max-width: 960px;
  padding-top: ($WEB_HEADER_HEIGHT + 48px);
  text-align: center;  // for mobile

  &::before {
    display: none !important;
  }

  @include bp(md) {
    text-align: inherit;
  }
}

.w-event-section--subscribe {
  padding-left: 32px;
  padding-right: 32px;

  // Make the subscribe area less huge as it has its own padding.
  web-subscribe {
    margin-top: -32px;
  }
}


.w-event-hero {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  height: 192px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 64px;
  position: relative;

  &::before {
    background-image: url('../live/hero-bg.png');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: auto 75%;
    content: '';
    height: 100%;
    position: absolute;
    width: 1600px;
    z-index: -1;
  }

  img {
    max-height: 100%;
    min-width: 560px;
  }
}

.w-event-section__column-head {
  width: 100%;
}

.w-event-section__column-left {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  padding: 0 32px;
  text-align: center;
  width: 100%;

  p {
    max-width: 512px - 64px;
  }

  .w-event-buttons {
    margin: 16px 0;
  }
}

.w-event-section__column-right {
  max-width: 512px;
  padding: 0 8px;

  &.w-event-section__column-right__schedule {
    padding: 0px;
  }

  @include bp(sm) {
    // On larger devices, force padding even on the schedule (this wins over
    // ...__schedule, above).
    padding: 0 16px !important;
  }
}

web-tabs.w-event-tabs {
  --primary-color: #{$WEB_PRIMARY_COLOR};
  --hover-color: #{$GOOGLE_BLUE_50};
  --active-color: #{$GOOGLE_BLUE_100};
}

table.w-event-schedule {
  // TODO(robdodson): The generic table has `min-width: 512px`, which extends over the side of
  // small devices.
  min-width: auto;

  .w-event-schedule__speaker {
    min-width: 180px;
    max-width: 50vw;
  }

  td {
    font-size: 14px;
    line-height: 20px;
    padding: 8px;

    @include bp(sm) {
      padding: 16px 8px;
    }
  }

  .w-authors__card {
    // TODO(samthor): This margin is unnessecary for our schedule, and
    // needlessly pads out each row.
    margin-bottom: 0;
  }
}

.w-event-schedule__title {
  width: 60%;
}

.w-event-calendar {
  display: flex;
  align-items: center;

  a.w-button {
    margin-left: 8px;
  }
}

.w-event-calendar__note {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;

  &::before {
    content: '';
    background: url(/images/icons/calendar.svg) center / contain no-repeat;
    width: 24px;
    height: 24px;
  }

  span {
    text-indent: -99999px;
    opacity: 0;
    position: absolute;
  }

  @include bp(md) {
    span {
      margin-left: 6px;
      text-indent: 0;
      opacity: initial;
      position: initial;
    }
  }
}

@include bp(md) {
  .w-event-section__column-head {
    order: -1;
  }

  .w-event-section__column-left {
    align-items: flex-start;
    flex-grow: 0;
    padding-left: 16px;
    text-align: inherit;
    width: 37.5%;
  }

  .w-event-section__column-right {
    max-width: none;
    padding: 0 16px;
    width: 62.5%;
  }
}

.w-event-antihero {
  padding: 0 !important;

  img {
    // nb. 128px is important as it matches the max-width of 512px
    min-height: 128px;
    object-fit: cover;
  }
}
