@import '../settings/colors';
@import '../settings/type';
@import '../tools/breakpoints';

.w-live-landing-page {
  color: $GREY_800;
  --flow-space: 48px;

  @include bp(md) {
    --flow-space: 80px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    margin: 16px 0;

    @include bp(sm) {
      font-size: 16px;
    }
  }

  h2 {
    color: $GREY_900;
    margin-bottom: 24px;
  }

  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  .w-display--mobile-only {
    @include bp(md) {
      display: none;
    }
  }

  .w-display--desktop-only {
    @media (max-width: #{$BREAKPOINT_VALUE_MEDIUM - 1px}) {
      display: none;
    }
  }
}

// A utility for creating consistent vertical rhythm between sections.
.w-live-flow + .w-live-flow {
  margin-top: var(--flow-space);
}

.w-livestream-section {
  background-color: $GREY_50;

  @include bp(md) {
    border-bottom: 1px solid $GREY_300;
  }

  .w-live-chat-notice {
    align-items: center;
    background-color: $WHITE;
    color: $GREY_700;
    display: flex;
    font-size: 12px;
    padding: 19px 16px;

    > :first-child {
      margin-right: 16px;
    }

    // Only display the notice if the device's primary pointing device does not
    // support hover. This lets us filter out phones and tablets.
    @media (hover: hover) {
      display: none;
    }

  }
}

.w-hero-overflow {
  // We need this as the hero image extends outside the normal l/r of the
  // page. Contain it so it doesn't let users scroll.
  overflow-x: hidden;
}

.w-hero-section {
  margin-top: 50px;
}

.w-event-buttons {
  display: inline-flex;
  flex-flow: column wrap;
  margin: 24px 0 0; // jiwoong@

  .w-button--primary {
    margin: 0 0 16px;
  }

  .w-button:not(.w-button--primary) {
    color: inherit;
  }

  @include bp(sm) {
    flex-direction: row;

    .w-button--primary {
      margin: 0 16px 0 0;
    }
  }
}

.w-event-heading {
  .w-event-heading__logo {
    align-items: center;
    color: #606369;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 35px;

    @include bp(md) {
      font-size: 41px;
    }

    span {
      opacity: 0;
      position: absolute;
      text-indent: -99999px;
    }

    video {
      height: 1em;
      margin-left: .25ch;
      pointer-events: none;
      width: auto;
    }
  }

  .w-event-heading__subhead {
    font-family: $HEADLINE_FONT;
    font-size: 16px;
    margin-top: 8px;

    @include bp(md) {
      font-size: 18px;
      margin-top: 12px;
    }
  }
}

.w-event-heading--smaller {
  .w-event-heading__logo {
    font-size: 33px;

    @include bp(md) {
      font-size: 33px;
    }
  }

  .w-event-heading__subhead {
    @include bp(md) {
      font-size: 16px;
    }
  }
}

.w-event-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 960px;
  text-align: center;  // for mobile
  margin-left: auto;
  margin-right: auto;

  &::before {
    display: none !important;
  }

  @include bp(md) {
    text-align: inherit;
  }
}

.w-event-section--subscribe {
  padding-left: 32px;
  padding-right: 32px;

  // Make the subscribe area less huge as it has its own padding.
  // TODO(michaelsolati): Remove the padding overrides in the subscribe include.
  // The spacing for this element should be defined by the containing page.
  web-subscribe {
    margin-top: -32px;
    margin-bottom: -32px;
  }
}

.w-event-hero {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  height: 192px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 50px;
  position: relative;

  @include bp(md) {
    padding: 0 0 64px;
  }

  &::before {
    background-image: url('../live/hero-bg.png');
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: auto 75%;
    content: '';
    height: 100%;
    position: absolute;
    width: 1600px;
    z-index: -1;
  }

  img {
    max-height: 100%;
    min-width: 560px;
  }
}

.w-event-section__column-head {
  width: 100%;

  @include bp(md) {
    order: -1;
  }
}

.w-event-section__column-left {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  max-width: 512px;
  padding: 0 32px;
  text-align: center;
  width: 100%;

  @include bp(md) {
    align-items: flex-start;
    flex-grow: 0;
    padding-left: 16px;
    text-align: inherit;
    width: 37.5%;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  p {
    margin: 0;
    margin-top: 24px;
    max-width: 512px;

    @include bp(md) {
      max-width: 288px;
    }
  }

  .w-event-buttons {
    margin: 16px 0;
  }

  .w-feedback-button {
    margin-top: 49px;

    svg:first-child {
      margin-right: 8px;
    }
  }
}

.w-event-section__column-right {
  max-width: 512px;
  padding: 0 8px;

  @include bp(md) {
    padding: 0 16px;
    width: 62.5%;
    max-width: 62.5%;
  }

  .w-event-carousel {
    display: none;

    @include bp(md) {
      display: flex;
    }
  }
}

.w-event-section__column-right--extra-padding {
  padding: 0 24px;
}

.w-event-section__internal-links {
  margin-top: 32px;
  display: flex;

  @include bp(md) {
    display: block;
  }

  a {
    align-items: center;
    color: $GREY_800;
    display: flex;
    flex-direction: column;
    font-family: $HEADLINE_FONT;
    font-weight: $FONT_WEIGHT_MEDIUM;
    justify-content: center;
    padding: 0 16px;
    width: 132px;

    @include bp(md) {
      display: block;
      padding: 0;
      width: auto;
    }
  }

  > * + * {
    border-left: 1px solid $GREY_300;

    @include bp(md) {
      border: 0;
      margin-top: 24px;
    }
  }
}

.w-event-link,
.w-back-to-top-link {
  font-size: 14px;
}

.w-event-link {
  margin-top: 24px;
}

.w-back-to-top-link {
  font-size: 14px;
  margin: 24px 0 48px;

  @include bp(md) {
    margin: 24px 0 0;
  }
}

.w-event-carousel {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 8px;
  // Firefox only
  // sass-lint:disable no-misspelled-properties
  scrollbar-color: $GREY_500;
  scrollbar-width: thin;
  // sass-lint:enable no-misspelled-properties

  &::-webkit-scrollbar-track {
    padding-top: 4px;
  }

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $GREY_500;
    border-radius: 8px;
  }
}

.w-event-carousel__day {
  color: $GREY_800;
  font-family: $HEADLINE_FONT;
  font-size: 14px;
  font-weight: $FONT_WEIGHT_MEDIUM;
  margin-right: 16px;

  &a:hover,
  &a:focus {
    outline: 0;
    opacity: .9;
    text-decoration: none;
  }

  &a:focus {
    .w-event-carousel__description {
      box-shadow: inset 0 0 0 1px $FOCUS_COLOR;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &.w-event-carousel__pending {
    opacity: .6;
  }
}

.w-event-carousel__thumbnail {
  margin-bottom: 8px;
  background-color: $GREY_200;
  border-radius: 3px;
  overflow: hidden;
  width: 178px;
  height: 110px;

  > img {
    height: 100%;
    object-fit: cover;
  }
}

.w-schedule-section {
  .w-event-heading {
    margin-top: 56px;

    @include bp(md) {
      margin-top: 0;
    }
  }

  .w-event-heading + p {
    margin-top: 32px;

    @include bp(md) {
      margin-top: 24px;
    }
  }
}

.w-livestream-section + .w-schedule-section {
  // If we're displaying the live chat is disabled banner (which we only do on
  // touch devices) then we want to remove the normal 48px margin to move the
  // schedule closer to the video.
  @media (hover: none) {
    --flow-space: 8px;
  }

  // Restore the usual flow-space value.
  @include bp(md) {
    --flow-space: 80px;
  }
}

web-event-schedule {
  display: block;
}

.w-event-carousel + web-event-schedule {
  margin-top: 12px;
}

web-tabs.w-event-tabs {
  --primary-color: #{$WEB_PRIMARY_COLOR};
  --hover-color: #{$GOOGLE_BLUE_50};
  --active-color: #{$GOOGLE_BLUE_100};

  margin-top: 48px;

  @include bp(md) {
    margin-top: 0;
  }
}

.w-event-schedule {
  display: block;
  // Forces a stacking context.
  position: relative;
  text-align: left;
  z-index: 0;

  .w-event-schedule__row {
    border-bottom: 1px solid #dadce0;
    min-height: 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px 16px;

    &:last-of-type {
      border-bottom: 0;
    }

    &:hover,
    &:focus-within {
      background: rgba(0, 0, 0, .05);
    }
  }

  .w-event-schedule__speaker {
    font-size: 14px;
    margin-bottom: 16px;

    a {
      z-index: 10;
      position: relative;
    }
  }

  .w-event-schedule__session {
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
  }

  .w-authors__card {
    // TODO(samthor): This margin is unnessecary for our schedule, and
    // needlessly pads out each row.
    margin-bottom: 0;
  }

  .w-event-schedule__open {
    color: inherit;
    display: inline-block;
    font-family: $HEADLINE_FONT;
    pointer-events: auto;
    font-size: 18px;
    margin-right: 1em;
    flex-grow: 1;

    &:hover,
    &:focus {
      text-decoration: none;

      @media (hover: none) {
        -webkit-tap-highlight-color: transparent;
        outline: none;
      }
    }

    span {
      z-index: 1;
      position: relative;
    }

    // This creates a large clickable area around the link itself.
    &::before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      position: absolute;
      z-index: 0;
    }
  }

  .w-event-schedule__blurb {
    margin-top: 4px;
    color: $GREY_700;
  }
}

.w-event-schedule__video {
  align-self: center;
  font-weight: 500;
  z-index: 1; // bring to front
}

.w-event-calendar {
  display: flex;
  align-items: center;

  a.w-button {
    margin-left: 8px;
  }
}

.w-event-calendar__note {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin-right: 8px;

  &::before {
    content: '';
    background: url(/images/icons/calendar.svg) center / contain no-repeat;
    width: 24px;
    height: 24px;
  }

  span {
    text-indent: -99999px;
    opacity: 0;
    position: absolute;
  }

  @include bp(md) {
    span {
      margin-left: 6px;
      text-indent: 0;
      opacity: initial;
      position: initial;
    }
  }
}

.w-event-antihero {
  padding: 0 !important;

  img {
    // nb. 128px is important as it matches the max-width of 512px
    min-height: 128px;
    object-fit: cover;
  }
}

.w-event-icon-heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include bp(md) {
    display: block;
  }
}

.w-event-icon {
  vertical-align: middle;
  margin: 0 0 8px;
  @include bp(md) {
    margin: 0 16px 0 0;
  }
}

.w-q-and-a-section {
  flex-flow: column;
  align-items: center;

  @include bp(md) {
    flex-flow: row wrap;
    align-items: initial;
  }

  .w-event-section__column-right,
  web-event-q-and-a {
    width: 100%;
  }

  web-event-q-and-a {
    text-align: left;
  }
}

.web-event-q-and-a__details {
  border-top: 1px solid rgba(32, 33, 36, .16);
  color: $GREY_600;
  cursor: pointer;
  font-family: $HEADLINE_FONT;
  font-size: 18px;
  padding: 20px 16px;

  &[open] {
    border-bottom: 1px solid rgba(32, 33, 36, .16);
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, .2), 0 -8px 8px -8px rgba(0, 0, 0, .2);
    color: $GREY_800;
    margin-bottom: -1px;
  }

  p {
    margin: 20px 0 0;
  }

  span {
    margin-right: 13px;
  }

  summary {
    &::marker {
      display: none;
    }
  }
}
