@import '../settings/colors';

$W_PAGINATION_LINK_SPACING: 6px;

@mixin w-pagination__links($COLOR, $ACTIVE: false) {
  color: $COLOR;
  text-decoration: none;

  @if $ACTIVE {
    border-bottom: 2px solid $COLOR;
  } @else {
    &:active,
    &:focus,
    &:hover {
      border-bottom: 2px solid $COLOR;
    }
  }
}

.w-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.w-pagination .w-pagination__container {
  display: flex;
  font-size: 1rem;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  padding: 0px $W_PAGINATION_LINK_SPACING;
}

.w-pagination .w-pagination__link {
  @include w-pagination__links($GREY_700);
}

.w-pagination .w-pagination__link.w-pagination--active {
  @include w-pagination__links($BLACK, true);
}

.w-pagination__spacer {
  color: $GREY_700;
  margin-right: calc(#{$W_PAGINATION_LINK_SPACING} * 2) ;
}
