@import '../settings/global';
@import '../settings/colors';
@import '../tools/breakpoints';

.w-path-intro {
  display: flex;
  flex-direction: column;

  @include bp(md) {
    flex-direction: row;
  }
}

.w-path-intro__overview {
  @include bp(md) {
    flex-basis: 57%;
    margin-right: 54px;
  }
}

.w-path-heading {
  // Pad the heading a bit so it lines up with the card padding for the
  // learning paths.
  padding: 0 56px;
};

.w-path-list {
  list-style: none;
  margin: 32px 0 32px 50px;
  padding-left: 32px;
  position: relative;

  @include bp(sm) {
    margin: 32px 0 32px 67px;
  }
}

.w-path-listitem {
  font-size: 1em;
  line-height: 1.778em;
  margin-bottom: 8px;
}

.w-path-listitem::before {
  background: $GREY_700;
  border-radius: $GLOBAL_ROUNDED;
  color: $WHITE;
  content: '';
  height: 8px;
  left: 0;
  margin: 10px 0 0;
  position: absolute;
  width: 8px;
}

.w-path-link {
  color: $PRIMARY_TEXT_COLOR;
  text-decoration: underline;
  transition: $TRANSITION_SPEED color;
}

.w-path-link:hover {
  color: $WEB_PRIMARY_COLOR;
}

.w-path-link code {
  background: none;
  border: 0;
  color: inherit;
  margin: 0;
  padding: 0;
}

.w-path-link--external::after {
  @include font-material-icon();
  content: 'launch';
  display: inline-block;
  font-size: 1em;
  vertical-align: middle;
}
