.w-path-intro {
  display: flex;
}

.w-path-intro__overview {
  flex-basis: 57%;
  margin-right: 54px;
}

.w-path-heading {
  // Pad the heading a bit so it lines up with the card padding for the
  // learning paths.
  padding: 0 56px;
};

