@import '../settings/colors';
@import '../tools/breakpoints';

// sass-lint:disable class-name-format
.guide-landing-page {
  position: relative;
}
// sass-lint:enable class-name-format

.w-post-breadcrumbs {
  padding: 32px 32px 0;

  @include bp(md) {
    padding: 32px 32px 24px;
  }
}

.w-post-content {
  margin-bottom: 64px;

  @include bp(sm) {
    margin-bottom: 160px;
  }
}

.w-post-github-link {
  color: $GREY_700;
  font-size: .875em;
}

.w-codelabs-callout {
  @include bp(sm) {
    margin-top: 64px;
  }
}
