<div class="flow flow-space-size-2">
  {% for item in data.items %}
  <figure class="compare flow" data-type="{{ item.type }}">
    <p class="compare__label">
      {{ item.label }}
    </p>
    <div class="compare__content flow">
      {{ item.content | md | safe }}
    </div>
    {% if item.caption %}
    <figcaption class="compare__caption">
      <p>{{ item.caption | md | safe }}</p>
    </figcaption>
    {% endif %}
  </figure>
  {% endfor %}
</div>