.author {
  display: flex;
  column-gap: 1em;
  align-items: flex-start;
}

.author__links {
  --gutter: 0 1em;
  --flow-space: 0.3em;

  padding: 0;
  font-size: 0.9em;

  a {
    color: currentColor;
  }
}

.author__name {
  font-style: normal;

  a:not(:hover) {
    text-decoration: none;
  }
}

.author__bio {
  --flow-space: 0.1em;
  font-size: 0.9em;

  @include apply-utility('color', 'mid-text');
}

.author__bio + .author__links {
  --flow-space: 0.8em;
}

.author-profile {
  &__name {
    flex-wrap: nowrap;
    margin-bottom: 30px;

    .headline__title {
      font-size: 24px;
    }

    .avatar,
    .avatar > img {
      width: 80px;
      height: 80px;
    }
  }

  &__socials {
    margin: 2rem 0;
  }

  &__bio {
    display: none;
  }

  &__detail {
    display: flex;
    flex-direction: column-reverse;

    > details {
      display: block;
    }
  }

  a:not(:hover) > svg {
    @include apply-utility('color', 'mid-text');
  }

  @include media-query('md') {
    &__name {
      flex-wrap: nowrap;

      .headline__title {
        font-size: 36px;
      }

      .avatar,
      .avatar > img {
        width: 120px;
        height: 120px;
      }
    }

    &__detail {
      display: flex;
      flex-direction: column;
      margin-top: 0 !important;

      > details {
        display: none;
      }
    }

    &__socials {
      margin: 1.25rem 0 1rem;
    }

    &__bio {
      display: block;
    }
  }
}

.author-profile .wrapper > .switcher {
  // sass-lint:disable-block border-zero
  column-gap: 0.25rem;

  .headline {
    min-width: 100%;
  }

  @include media-query('md') {
    column-gap: 3rem;
  }

  @include media-query('lg') {
    column-gap: 6.25rem;

    .headline {
      min-width: 60%;
    }
  }
}

.author-profile .author-featured {
  a {
    flex-flow: column-reverse;

    @include media-query('md') {
      flex-flow: column;
    }
  }

  .card {
    @include card-base-styles();
    max-width: 37rem;

    @media (min-width: 625px) {
      max-width: calc(50% - 15px);
    }

    @include media-query('lg') {
      max-width: 25rem;
    }

    &__content {
      margin: 20px 0 10px;

      @include media-query('md') {
        margin: 25px 0;
      }
    }

    &.bg-dark {
      @include card-theme-styles(#26373d);
    }

    &.bg-quaternary {
      @include card-theme-styles(get-color('core-quaternary'));
    }

    &.bg-tertiary {
      @include card-theme-styles(get-color('core-tertiary'));
    }

    &.bg-pink {
      @include card-theme-styles(get-color('core-secondary-shade'));
    }

    &.bg-blue {
      @include card-theme-styles(get-color('core-primary'));
    }
  }

  .card > img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    margin-top: 10px;

    @include media-query('md') {
      width: 100%;
      margin-top: 0;
    }
  }

  .card__eyebrow {
    align-items: center;
    display: flex;

    @include media-query('md') {
      margin-top: 1.75rem;
    }

    span {
      margin: 0.125rem 0 0 .5rem;
    }
  }
}
