/// COMPONENT LIBRARY LOCATION
/// Webdev-infra/web-components/AnnouncementBanner
.banner {
  --gutter: 0.5rem;

  padding: 1.5em $global-gutter;
  display: flex;
  gap: 0 $global-gutter;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: get-size('size-0');
}

.banner__content {
  @include apply-utility('leading', 'short');
}

.banner__img {
  max-width: 2.5em;
  max-height: 2.5em;
  /// A slightly lighter background, regardless of current color
  background: rgba(255, 255, 255, 0.5);
}

a:visited {
  color: var(--color-highlight-text);
}

[data-banner-close-btn]{
  color: var(--color-highlight-text);
  cursor: pointer;
  margin-left: 0.4rem;
  text-decoration: underline;
}

[data-banner-close-btn]:hover{
  background: var(--color-highlight-interact-bg);
}

[data-banner-dismissed] .banner{
  display:none
}

/// Hides banner in print mode
@media print {
  .banner {
    display: none !important;
  }
}
