/// PATTERN LIBRARY LOCATION
/// https://web.dev/design-system/pattern/browser-compat
.browser-compat {
  --gutter: 1rem #{get-utility-value('pad-block', 'size-2')};
}

/// This should be a figcaption, so we need to normalize
.browser-compat__label {
  margin: 0;
  font-style: normal;

  @include apply-utility('color', 'mid-text');
}

/// List of browsers
.browser-compat__items {
  --gutter: 1rem #{$global-gutter};
  padding: 0;
  margin: 0;
}

/// the browser icon and indicator relationship
.browser-compat__item {
  display: flex;
  flex-shrink: 0;
  gap: 0.5rem;

  img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
  }
}
