/// PATTERN LIBRARY LOCATION
/// https://web.dev/design-system/pattern/browser-compat
.browser-compat {
  --gutter: 1rem #{get-utility-value('pad-block', 'size-2')};
  align-items: center;
  color: get-utility-value('color', 'mid-text');
  display: flex;
  flex-wrap: wrap;

  @include media-query('md') {
    flex-wrap: nowrap;
  }
}

// Icons
.browser-compat__icon {
  height: 24px;
  width: 24px;
  margin-left: 24px;
  margin-right: 6px;
  display: inline-block;
  background: content-box no-repeat transparent;

  &[data-browser='chrome'] {
    background-image: url('/images/icons/chrome.svg');
    margin-left: 0;

    @include media-query('md') {
      margin-left: 24px;
    }
  }

  &[data-browser='firefox'] {
    background-image: url('/images/icons/firefox.svg');
  }

  &[data-browser='edge'] {
    background-image: url('/images/icons/edge.svg');
  }

  &[data-browser='safari'] {
    background-image: url('/images/icons/safari.svg');
  }
}

.browser-compat__items {
  display: flex;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
}

// Version
.browser-compat__version {
  border-radius: 100%;
  font-size: get-size('size-0');
  height: 20px;
  line-height: 20px;
  text-align: center;
  min-width: 20px;
  display: inline-block;

  &[data-compat='yes'] {
    background: get-utility-value('bg', 'state-good-bg');
    color: get-utility-value('color', 'state-good-text');
  }

  &[data-compat='preview'] {
    background: get-utility-value('bg', 'state-warn-bg');
    color: get-utility-value('color', 'state-warn-text');
  }

  &[data-compat='flag'] {
    background: get-utility-value('bg', 'state-warn-bg');
    color: get-utility-value('color', 'state-warn-text');
  }

  &[data-compat='deprecated'] {
    background: get-utility-value('bg', 'state-bad-bg');
    color: get-utility-value('color', 'state-bad-text');
  }

  &[data-compat='no'] {
    background: get-utility-value('bg', 'state-bad-bg');
    color: get-utility-value('color', 'state-bad-text');
  }
}

.browser-compat__label {
  color: get-utility-value('color', 'mid-text');
  flex: 0 0 100%;
  font-style: normal;
  margin-right: 1rem;
  width: 100%;

  @include media-query('md') {
    margin-bottom: 0;
    flex: none;
    width: auto;
  }
}

.browser-compat__link {
  flex: 0 0 100%;
  margin-left: 0;

  @include media-query('md') {
    flex: none;
    margin-left: 24px;
  }
}

