/// PATTERN LIBRARY LOCATION
/// https://web.dev/design-system/pattern/button
.button {
  text-transform: uppercase;
  letter-spacing: 0.03ch;
  border-radius: $global-radius-base;
  padding: 1.4em 1em;

  @include button-base-styles();
}
