/// COMPONENT LIBRARY LOCATION
/// https://web.dev/design-system/component/carousel
.carousel {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  gap: $global-gutter-narrow;
  align-items: center;

  .icon-button {
    height: 36px;
    width: 36px;

    &:focus-visible {
      outline: none;

      > svg {
        border-radius: 100%;
        border: 2px solid var(--color-focus-ring);
        height: 36px;
        padding: 4px;
        width: 36px;
      }
    }

    &:not(:hover) {
      @include apply-utility('color', 'mid-text');
    }

    > svg {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/// Allows inner hover states to show
.carousel__track {
  padding: 1rem 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .carousel__track {
    scroll-behavior: smooth;
  }
}
