/// PATTERN LIBRARY LOCATION
/// https://web.dev/design-system/pattern/card
.card {
  @include card-base-styles();

  &:hover {
    @include apply-utility('bg', 'mid-bg');
  }

  &:link:hover {
    @include apply-utility('bg', 'highlight-interact-bg');
  }
}

.card__content {
  flex: auto;

  @include apply-utility('gap-top', 'size-1');

  a:not([class]) {
    color: currentColor;
  }

  a:not(:hover) {
    text-decoration: none;
  }

  p,
  li {
    @include apply-utility('color', 'mid-text');
  }
}

.card__action {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;

  @include apply-utility('flow-space', 'size-1');
  @include apply-utility('weight', 'medium');
  @include apply-utility('leading', 'flat');
  @include apply-utility('gap-top', 'size-1');

  /// This breakout element allows the whole card to be hovered
  /// More: https://piccalil.li/tutorial/create-a-semantic-break-out-button-to-make-an-entire-element-clickable/
  &::before {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.card__avatars {
  --gutter: 0.5rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}

.card__authors {
  --gutter: 1ex;

  padding: 0;
  flex: auto;

  // All hover styles are reset on .card:hover,
  // but we want these to behave independently
  a:hover {
    text-decoration: underline;
  }
}

.card__meta {
  font-size: 0.9em;
  padding: 0;
  margin: 0 0 1em 0;

  &,
  li {
    display: flex;
    gap: 0.5rem;
  }

  li + li::before {
    content: '·';
    display: block;
  }

  /// Adds a little line above the first item
  li:first-of-type {
    position: relative;

    @include apply-utility('color', 'highlight-text');

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background: get-utility-value('color', 'highlight-text');
      position: absolute;
      inset: -0.5ex 0 0 0;
    }
  }
}

.card__header {
  width: 100%;
  margin-bottom: get-space('size-1');
}

.card__logo {
  height: 34px;
}

.card__hero {
  width: 100%;
  aspect-ratio: 5/3;
  object-fit: cover;
  border-radius: $global-radius-large;
}

.card__tags {
  --gutter: 0.5rem;
  margin-block-start: get-space('base');
}

/// EXCEPTIONS
.card[data-style='branded'] {
  max-width: 25rem;
}
