/// PATTERN LIBRARY LOCATION
/// https://web.dev/design-system/pattern/compare
.compare {
  --compare-highlight-color: #{get-utility-value('color', 'state-info-text')};

  padding-inline-start: 1rem;
  border-inline-start: 3px solid var(--compare-highlight-color);
}

.compare__label {
  color: var(--compare-highlight-color);
  font-size: get-size('size-2');

  @include apply-utility('font', 'brand');
}

.compare__content {
  --flow-space: 1rem;
}

.compare__caption {
  --flow-space: 0.8rem;
  text-align: left;
  margin-inline-start: 0;
  font-style: normal;

  @include apply-utility('color', 'mid-text');
}

/// TYPE EXCEPTIONS
.compare[data-type='better'] {
  --compare-highlight-color: #{get-utility-value('color', 'state-good-text')};
}

.compare[data-type='worse'] {
  --compare-highlight-color: #{get-utility-value('color', 'state-bad-text')};
}
