.enhanced-select {
  &__wrapper {
    height: 100%;
  }

  label {
    cursor: pointer;
    height: 100%;
    min-width: 80px;
    padding: 0 0.8em;
    transform: none !important;

    svg {
      margin-left: 0.75rem;
      width: 0.625rem;
    }
  }

  &__options {
    background: #fff;
    bottom: 0;
    border-radius: 0.625rem;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.4);
    display: none;
    left: calc(50% - 0.75rem);
    list-style: none;
    margin: 0;
    max-height: 24.5rem;
    min-width: 18rem;
    overflow-y: auto;
    padding: 1.125rem 0;
    position: absolute;
    transform: translateY(calc(100% + 1.25rem));
    z-index: 10;

    li {
      align-items: center;
      color: get-color('shades-gray');
      cursor: pointer;
      display: flex;
      font-family: 'Google Sans', sans-serif;
      font-size: 1.125rem;
      line-height: 1.913;
      padding: 0.625rem 1.438rem;
      text-align: left;
    }

    li:first-child {
      margin-top: 0;
    }

    li:last-child {
      margin-bottom: 0;
    }

    input[type="checkbox"]{
      align-self: center;
      background: transparent;
      border: 2px solid #D2D3D7;
      border-radius: 2px;
      color:#fff;
    }

    input:checked{
      background-color: get-color('core-primary');
      border: none;
      color:#fff;
    }

    input[type="checkbox"]:checked::before {
      content: "\2713";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__select {
    display: none;
  }
}

.enhanced-select[open] {
  .enhanced-select__options {
    display: block;
  }
}

enhanced-select {
  align-items: center;
  color: get-color('core-primary');
  display: none;
  font-family: 'Google Sans', sans-serif;
  font-size: 1.125rem;
  height: 2.5rem;
  line-height: 1.913rem;
  position: relative;

  &:defined {
    display: inline-flex;
  }

  select {
    max-height: 100%;
  }
}
