.filters {
  align-items: center;
  display: flex;
  justify-content: start;
  padding: 1rem 0;

  @include media-query('xs') {
    display: none;
  }

  > span {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;
  }
  
  .enhanced-select__wrapper {
    border: 0;
    color: #1a73e8;
    font-weight: 500;
  }

  .enhanced-select label {
    margin-left: 1rem;
  }

  .enhanced-select__options {
    padding-right: 0.75rem;
  }    
}

.filter-modal {

  @include media-query('md') {
    display: none;
  }

  &__selected {
    padding: 1.5rem;

    @include media-query('xs') {
      margin-top: 1.5rem;
    }
  }


  

  &__dialog {
    border: 0;
    border-radius: 4px;
    margin-right: 0;

    checkbox-group label {
      font-size: px-to-rem(14px);
      font-weight: 400;
    }

    checkbox-group input {
      height: 20px;
      width: 20px;
    } 
  }

  &__opener {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.25rem 0.75rem;

    @include media-query('xs') {
      display: none;
    }

    svg {
      margin-right: 10px;
    }
  }

}

[clear-filters] {
  color: get-color('shades-gray');
  cursor: pointer;
  font-family: 'Google Sans';
  font-size: 1.125rem;
}
