// DEVREL RIBBON
// Chrome DevRel statement in floating ribbon floats vertically center on right in the viewport.

@import '../../styles/settings/colors';

.devrel-ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 56px;
  width: 172px;
  right: -58px;
  text-decoration: none;
  top: calc(50% - 30px);
  transform: rotate(270deg);
  z-index: 9;

  svg {
    height: 24px;
    width: 24px;
  }

  span {
    font-size: 12px;
    margin-right: 12px;
    color: $WHITE;
  }
}
