// DEVREL RIBBON
// Chrome DevRel statement in floating ribbon floats vertically center on right in the viewport.

@import '../../styles/settings/colors';

.devrel-ribbon {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  left: 0;
  text-decoration: none;
  bottom: 0;
  z-index: 9;

  @media (min-width: 1000px) {
    bottom: auto;
    left: auto;
    right: 14px;
    top: calc(50% - 60px);
    transform-origin: right;
    transform: rotate(-90deg);
  }

  &:hover,
  &:focus,
  &:active {
    background: get-color('shades-charcoal');
  } 

  svg {
    height: 12px;
    width: 12px;
    margin: 0 4px;
  }

  span {
    font-size: 12px;
    font-family: inherit;
    color: $WHITE;
  }
}
