/// COMPONENT LIBRARY LOCATION
/// https://web.dev/design-system/component/spinner
.spinner {
  fill: none;
  animation: cubic-bezier(0.25, 0, 0.6, 1) infinite both 1.5s spinner--spin;
  stroke: var(--color, black);
  stroke-width: 0.5px;
}

@-webkit-keyframes spinner--spin {
  0% {
    transform: rotate(0);
    stroke-dasharray: 1px, 15px;
    stroke-dashoffset: 1px;
  }

  100% {
    transform: rotate(360deg);
    stroke-dasharray: 15px, 15px;
    stroke-dashoffset: -15px;
  }
}