/// COMPONENT LIBRARY LOCATION
/// https://web.dev/design-system/component/tables
.table-wrapper {
  @include overflow-shadow(#{get-utility-value('bg', 'core-bg')});

  table {
    min-width: 30rem;
    width: 100%;
  }

  td,
  th {
    min-width: 8rem;
  }

  [colspan],
  [rowspan] {
    min-width: 15rem;
  }
}
