.tag-pill {
  align-items: center;
  border: 1px solid get-color('shades-gray-glare');
  background-color: get-color('core-primary-bright');
  border-radius: 2rem;
  color: get-color('core-primary');
  display: inline-flex;
  font-family: 'Google Sans';
  font-size: 0.875rem;
  padding: 0.563rem 1rem;
  margin-right: 0.5rem;

  svg {
    fill: get-color('core-primary');
    margin-left: 0.5rem
  }
}

