To be announced properly by assistive technologies,
both
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Forms" rel="noopener">built-in HTML controls</a>
and
<a href="https://www.w3.org/TR/wai-aria-practices-1.1/#aria_ex" rel="noopener">custom ARIA controls</a>
must have [accessible names](/labels-and-text-alternatives)
that convey their purpose.
