## How to fix duplicate IDs

Change an ID value if it is used more than once.

For example, the following code sample includes two elements with the same ID.
One ID should be changed:

```html/0-1
<input type="radio" id="huey" name="newphews" value="Huey" checked>
<input type="radio" id="huey" name="newphews" value="Dewey" checked>
<input type="radio" id="louie" name="newphews" value="Louie" checked>
```
