<div class="table-wrapper scrollbar">
  <table>
    <thead>
      <tr>
        <th>Element type</th>
        <th>How to add a name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          HTML document
        </td>
        <td>
          <a href="#label-documents-and-frames">Label documents and frames</a>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;frame&gt;</code> or <code>&lt;iframe&gt;</code> elements
        </td>
        <td>
          <a href="#label-documents-and-frames">Label documents and frames</a>
        </td>
      </tr>
      <tr>
        <td>
          Image elements
        </td>
        <td>
          <a href="#include-text-alternatives-for-images-and-objects">
            Include text alternatives for images and objects
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;input type="image"&gt;</code> elements
        </td>
        <td>
          <a href="#include-text-alternatives-for-images-and-objects">
            Include text alternatives for images and objects
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;object&gt;</code> elements
        </td>
        <td>
          <a href="#include-text-alternatives-for-images-and-objects">
            Include text alternatives for images and objects
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Buttons
        </td>
        <td>
          <a href="#label-buttons-and-links">Label buttons and links</a>
        </td>
      </tr>
      <tr>
        <td>
          Links
        </td>
        <td>
          <a href="#label-buttons-and-links">Label buttons and links</a>
        </td>
      </tr>
      <tr>
        <td>
          Form elements
        </td>
        <td>
          <a href="#label-form-elements">Label form elements</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>