<div class="tooltip" data-alignment="{{ data.modifier }}">
  <button class="fab" aria-labelledby="{{ data.tooltipID }}">
    {% include "icons/plus.svg" %}  
  </button>
  <span class="tooltip__content" role="tooltip" id="{{ data.tooltipID }}">{{ data.tooltip }}</span>
</div>