<devsite-header
  ds-is="header"
  no-lower-row=""
  top-row--height="64"
  bottom-row--height="0"
  bottom-tabs--height="0"
  bottom-row--hidden=""
  fixed=""
  style="opacity: 1;"
>
  <div class="devsite-header--inner">
    <div class="devsite-top-logo-row-wrapper-wrapper">
      <div class="devsite-top-logo-row-wrapper">
        <div class="devsite-top-logo-row">
          <button
            type="button"
            id="devsite-hamburger-menu"
            class="devsite-header-icon-button button-flat material-icons gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Navigation menu button"
            aria-label="Close menu"
          ></button>
          <div class="devsite-product-name-wrapper">
            <a
              href="/"
              class="devsite-site-logo-link gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Site logo"
            >
              <img
                src="/images/lockup.svg"
                class="devsite-site-logo"
                alt="web.dev"
              />
            </a>
          </div>
          <div class="devsite-top-logo-row-middle">
            <div class="devsite-header-upper-tabs">
              <devsite-tabs ds-is="tabs" class="upper-tabs" connected="">
                <div class="devsite-tabs-wrapper">
                  <tab>
                    <a
                      href="/learn"
                      class="gc-analytics-event"
                      data-category="Site-Wide Custom Events"
                      data-label="Tab: Learn"
                    >
                      Learn
                    </a>
                  </tab>
                  <tab>
                    <a
                      href="/measure"
                      class="gc-analytics-event"
                      data-category="Site-Wide Custom Events"
                      data-label="Tab: Measure"
                    >
                      Measure
                    </a>
                  </tab>
                  <tab>
                    <a
                      href="/blog"
                      class="gc-analytics-event"
                      data-category="Site-Wide Custom Events"
                      data-label="Tab: Blog"
                    >
                      Blog
                    </a>
                  </tab>
                  <tab>
                    <a
                      href="/about"
                      class="gc-analytics-event"
                      data-category="Site-Wide Custom Events"
                      data-label="Tab: About"
                    >
                      About
                    </a>
                  </tab>
                  <tab overflow-tab="" hidden=""
                    ><a
                      href="/fast/use-imagemin-to-compress-images#"
                      class="devsite-icon devsite-icon-arrow-drop-down"
                      >More</a
                    >
                    <div
                      class="devsite-tabs-overflow-menu"
                      scrollbars=""
                      hidden=""
                    ></div
                  ></tab></div
              ></devsite-tabs>
            </div>
            <web-search>
              <form
                class="devsite-search-form"
                action="/results/"
                method="GET"
              >
                <div class="devsite-search-container">
                  <div id="searchbox" class="devsite-searchbox">
                    <input
                      placeholder="Search"
                      type="text"
                      class="devsite-search-field devsite-search-query"
                      name="q"
                      value=""
                      autocomplete="off"
                      aria-label="Search box"
                    />
                    <div
                      class="devsite-search-image material-icons"
                    ></div>
                  </div>
                </div>
              </form>
              <div class="web-search__popout"></div>
            </web-search>
          </div>

          <web-profile-switcher-container></web-profile-switcher-container>
        </div>
      </div>
    </div>
    <div
      class="devsite-collapsible-section
      devsite-header-no-lower-tabs
"
    >
      <div class="devsite-header-background"></div>
    </div>
  </div>
</devsite-header>