<devsite-footer-promos ds-is="footer-promos" class="devsite-footer">
</devsite-footer-promos>
<devsite-footer-linkboxes
  ds-is="footer-linkboxes"
  class="devsite-footer"
>
  <nav class="devsite-footer-linkboxes nocontent">
    <ul class="devsite-footer-linkboxes-list">
      <li class="devsite-footer-linkbox ">
        <h3 class="devsite-footer-linkbox-heading">Contribute</h3>
        <ul class="devsite-footer-linkbox-list">
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://github.com/GoogleChrome/web.dev/issues/new?template=documentation-bug.md"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 1)"
            >
              File a bug
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://github.com/googlechrome/web.dev"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 2)"
            >
              View source
            </a>
          </li>
        </ul>
      </li>
      <li class="devsite-footer-linkbox ">
        <h3 class="devsite-footer-linkbox-heading">Related content</h3>
        <ul class="devsite-footer-linkbox-list">
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://developers.google.com/web/updates/"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 1)"
            >
              Updates
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://developers.google.com/web/"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 2)"
            >
              Web Fundamentals
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://developers.google.com/web/showcase/"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 3)"
            >
              Case studies
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://devwebfeed.appspot.com/"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 4)"
            >
              DevWeb Content Firehose
            </a>
          </li>
        </ul>
      </li>
      <li class="devsite-footer-linkbox ">
        <h3 class="devsite-footer-linkbox-heading">Connect</h3>
        <ul class="devsite-footer-linkbox-list">
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://www.twitter.com/@ChromiumDev"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 1)"
            >
              Twitter
            </a>
          </li>
          <li class="devsite-footer-linkbox-item">
            <a
              href="https://www.youtube.com/user/ChromeDevelopers"
              class="devsite-footer-linkbox-link
            gc-analytics-event"
              data-category="Site-Wide Custom Events"
              data-label="Footer Link (index 2)"
            >
              YouTube
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</devsite-footer-linkboxes>
<devsite-footer-utility ds-is="footer-utility" class="devsite-footer">
  <div class="devsite-footer-utility">
    <nav class="devsite-nav devsite-footer-sites">
      <a
        href="https://developers.google.com/"
        class="devsite-footer-sites-logo-link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="Footer Google Developers Link"
      >
        <img
          loading="lazy" width="185" height="33"
          class="devsite-footer-sites-logo"
          src="https://web.dev/_static/images/lockup-color.png"
          alt="Google Developers"
        />
      </a>
      <ul class="devsite-footer-sites-list">
        <li class="devsite-footer-sites-item">
          <a
            href="https://developer.chrome.com/home"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer Chrome Link"
          >
            Chrome
          </a>
        </li>
        <li class="devsite-footer-sites-item">
          <a
            href="https://firebase.google.com/"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer Firebase Link"
          >
            Firebase
          </a>
        </li>
        <li class="devsite-footer-sites-item">
          <a
            href="https://cloud.google.com/"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer Google Cloud Platform Link"
          >
            Google Cloud Platform
          </a>
        </li>
        <li class="devsite-footer-sites-item">
          <a
            href="https://developers.google.com/products"
            class="devsite-footer-sites-link
          gc-analytics-event"
            data-category="Site-Wide Custom Events"
            data-label="Footer All products Link"
          >
            All products
          </a>
        </li>
      </ul>
    </nav>

    <nav class="devsite-nav">
      <ul class="devsite-footer-utility-list">
        <li
          class="devsite-footer-utility-item
          "
        >
          <a
            class="devsite-footer-utility-link
          gc-analytics-event"
            href="https://developers.google.com/terms/site-terms"
            data-category="Site-Wide Custom Events"
            data-label="Footer Terms link"
          >
            Terms
          </a>
        </li>
        <li
          class="devsite-footer-utility-item
          "
        >
          <a
            class="devsite-footer-utility-link
          gc-analytics-event"
            href="https://policies.google.com/privacy"
            data-category="Site-Wide Custom Events"
            data-label="Footer Privacy link"
          >
            Privacy
          </a>
        </li>
        <li
          class="devsite-footer-utility-item
          devsite-footer-utility-button"
        >
          <span class="devsite-footer-utility-description"
            >Sign up for the Google Developers newsletter</span
          >
          <a
            class="devsite-footer-utility-link
          gc-analytics-event"
            href="https://services.google.com/fb/forms/googledevelopersnewsletter/?utm_medium=referral&amp;utm_source=google-products&amp;utm_team=googledevs&amp;utm_campaign=201611-newsletter-launch"
            data-category="Site-Wide Custom Events"
            data-label="Footer Subscribe link"
          >
            Subscribe
          </a>
        </li>
      </ul>
    </nav>
  </div>
</devsite-footer-utility>
