<figure>
  <img alt="Dog holding a stick."  decoding="auto" height="240" src="https://web-dev.imgix.net/image/tcFciHGuF3MxnTr1y5ue01OGLBn2/QlgeHQrzaD9IOKBXB68I.jpg?auto=format" width="380">
  <figcaption>This is the caption</figcaption>
</figure>
