---
permalink: false
layout: sandbox/article
title: buttons
tags:
  - sandbox
---

<div>
  <button class="w-button">
    Text button
  </button>
</div>
<br>

<div>
  <button class="w-button w-button--with-icon" data-icon="file_download">
    Text button with icon
  </button>
</div>
<br>

<div>
  <button class="w-button w-button--primary">
    Primary button
  </button>
</div>
<br>

<div>
  <button class="w-button w-button--primary w-button--with-icon" data-icon="file_download">
    Primary button with icon
  </button>
</div>
<br>

<div>
  <button class="w-button w-button--secondary">
    Secondary button
  </button>
</div>
<br>

<div>
  <button class="w-button w-button--secondary w-button--with-icon" data-icon="file_download">
    Secondary button with icon
  </button>
</div>
<br>
