@import '../settings/colors';
@import '../settings/typography';
@import '../settings/mixins';

// =============================================================================
// TYPOGRAPHY OVERVIEW
//
// Styles for generalized typographical elements.
//
// =============================================================================

// http://csswizardry.com/2016/02/managing-typography-on-large-apps/
h1, h2, h3, h4, h5, h6 {
  font-size: $HEADLINE_TEXT_SIZE;
  font-weight: $HEADLINE_FONT_WEIGHT;
}

.headline {
  @include font_smoothing($FONT_SMOOTHING_MOZ, $FONT_SMOOTHING_WEBKIT, $FONT_SMOOTHING_RENDERING);

  color: $PRIMARY_TEXT_COLOR;
  font-family: $HEADLINE_FONT;
  font-weight: $HEADLINE_FONT_WEIGHT;
  // https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-wrap: initial;
  word-wrap: initial;

  &.headline--display-one {
    @include font($DISPLAY_1_MOBILE);
    @include create_margins($DISPLAY_1_MOBILE);

    // @include bp(s) {
    //   @include h-calculate-unitless-line-height(
    //       $h-headline-display-one-tablet-line-height,
    //       $h-headline-display-one-tablet-font-size);
    //   @include h-create-margins($h-headline-display-one-tablet-margin);

    //   font-size: $h-headline-display-one-tablet-font-size;
    //   letter-spacing: $h-headline-display-one-tablet-letter-spacing;
    // }

    // @include bp(m) {
    //   @include h-calculate-unitless-line-height(
    //       $h-headline-display-one-desktop-line-height,
    //       $h-headline-display-one-desktop-font-size);
    //   @include h-create-margins($h-headline-display-one-desktop-margin);

    //   font-size: $h-headline-display-one-desktop-font-size;
    //   letter-spacing: $h-headline-display-one-desktop-letter-spacing;
    // }
  }
}