<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
    <meta name="full_width" value="true" />
    <link rel="preconnect" href="//www.gstatic.com" crossorigin="" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin="" />
    <link rel="preconnect" href="//fonts.googleapis.com" crossorigin="" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:400,400italic,500,500italic,700,700italic|Roboto+Condensed:400|Roboto+Mono:400,500,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="/all.css"
    />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
