---
metadata:
  title: web.dev
  url: https://web.dev
  icon: https://web.dev/images/social.png
  logo: https://web.dev/images/rss-banner.png
  author:
    name: Google Developers
  feed:
    subtitle: Let's build the future of the web.
    filename: feed.xml
    path: feed/feed.xml
    url: https://web.dev/feed.xml
    id: https://web.dev/
noindex: true
permalink: "/{{lang}}/feed.xml"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.blogPosts | reverse | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  <icon>{{ metadata.icon }}</icon>
  <logo>{{ metadata.logo }}</logo>
  {% for post in collections.blogPosts -%}
  {% set absolutePostUrl -%}{{ post.url | stripLanguage | url | absoluteUrl(metadata.url) }}{%- endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | replace("web-copy-code", "div") | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    {% for entry in post.data.authors %}
    {%- set author =  contributors[entry] -%}
    <author>
      <name>{{ author.title }}</name>
    </author>
    {%- endfor %}
  </entry>
  {%- endfor %}
</feed>