---
layout: layout
title: web.dev
description: |
  Get the web's modern capabilities on your own sites and apps with useful
  guidance and analysis from web.dev.
show_banner: false
date: 2018-11-05
---

{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}

<div class="home-landing-page">
  <header class="w-masthead-home">
    <div class="w-masthead-home__container">
      <div class="w-masthead-home__left">
        <h1 class="w-headline--two w-font-weight--medium">
          Let's build the future of the web
        </h1>
        <p>
          Get the web's modern capabilities on your own sites and apps with useful
          guidance and analysis from web.dev.
        </p>
        <div class="w-masthead-home__buttons">
          <a
            class="w-button w-button--primary w-masthead-home__button--primary gc-analytics-event"
            data-category="web.dev"
            data-label="home, test site"
            data-action="click"
            href="/measure"
          >
            Test my site
          </a>
          <a
            class="w-button w-button--secondary gc-analytics-event"
            data-category="web.dev"
            data-label="home, start learning"
            data-action="click"
            href="/learn"
          >
            Explore topics
          </a>
        </div>
      </div>
    </div>
  </header>

  {# <section class="w-layout-container w-text--center">
    <p class="w-headline--two-small">
      As the web advances, users' expectations grow. With web.dev's guidance, you
      can give your users the best experience, wherever they are.
    </p>
    <a
      class="w-button gc-analytics-event"
      data-category="web.dev"
      data-label="home, learn about"
      data-action="click"
      href="/about"
    >
      About web.dev
    </a>
  </section> #}

  {# IMPORTANT — Restore the about section above when we take down this banner #}
  <section class="w-home-promo" id="live">
    <div class="w-home-promo__grid">
      <div class="w-home-promo__box" aria-hidden="true">
        <a href="/live/" tabindex="-1"><img src="/live/banner.png" alt="" width="1320" height="740" /></a>
      </div>
      <div>
        <p>
          Join us for <a href="/live/">a three day digital event</a>, to
          celebrate the web community’s actions, learn modern web techniques and
          connect with each other. 
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="w-layout-container w-pb--non">
      <header class="w-text--center">
        <h2 class="w-headline--two-faded">
          Latest stories
        </h2>
        <p>
          See our latest news, updates, and stories for developers.
        </p>
      </header>
    </div>
    <div class="w-grid w-pb--std">
      <div class="w-grid__columns w-grid__columns--featured" role="list">
        {% for post in collections.recentBlogPosts %}
          {% if loop.first %}
            {% PostCard post, true %}
          {% else %}
            {% PostCard post %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="w-layout-container w-pt--non w-pb--xl">
      <div class="w-text--center">
        <a class="w-button" href="/blog">
          See all articles
        </a>
      </div>
    </div>
  </section>

  <section>
    <div class="w-layout-container w-pb--non">
      <header class="w-text--center">
        <h2 class="w-headline--two-faded">
          Explore topics
        </h2>
        <p>
          Learn more about a topic, and practice your skills with a hands-on
          codelab.
        </p>
      </header>
    </div>
    <div class="w-grid w-pb--std">
      <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three" role="list">
        {% for path in home.paths %}
          {% PathCard path, lang %}
        {% endfor %}
      </div>
    </div>
    <div class="w-layout-container w-pt--non w-pb--xl">
      <div class="w-text--center">
        <a
          class="w-button gc-analytics-event"
          data-category="web.dev"
          data-label="home, all paths"
          data-action="click"
          href="/learn"
        >
          See all topics
        </a>
      </div>
    </div>
  </section>

  <hr>

  <section class="w-layout-container w-text--center">
    <h2 class="w-headline--two-faded">
      Save your progress
    </h2>
    <p>
      See how your website performs over time, and keep track as you learn on
      your own schedule.
    </p>
    <div>
      <a
        class="w-button w-button--primary gc-analytics-event"
        data-category="web.dev"
        data-label="home, create profile"
        data-action="click"
        href="/measure"
      >
        Test my site
      </a>
    </div>
  </section>
</div>
