---
layout: layout
title: Newsletter
permalink: /en/{{ newsletter.permalink }}/index.html
description: Our latest news, updates, and stories for developers
renderData:
  title: "{{ newsletter.data.title or title }}"
  date: "{{ newsletter.date }}"
pagination:
  data: collections.newsletters
  size: 1
  alias: newsletter
---
<web-newsletter>
  <iframe frameborder="0" scrolling="yes" width="100%" height="1000px" srcdoc="{{ newsletter.templateContent }}"></iframe>
</web-newsletter>
