---
permalink: false
layout: sandbox/article
title: lists
tags:
  - sandbox
---

<ol>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper.
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper.
    <figure class="w-figure">
      <img class="w-screenshot w-screenshot--filled" src="../image-screenshot.png" alt="">
      <figcaption class="w-figcaption">
        Filled screenshot.
      </figcaption>
    </figure>
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper.
  </li>
</ol>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a massa
  sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus nibh varius
  at. Cras ligula lacus, porta vitae maximus a, ultrices a mauris. Vestibulum
  porta dolor erat, vel molestie dolor posuere in.
</p>

<ul>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper.
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper.
  </li>
  <li>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper.
  </li>
</ul>
