<div class="switcher">
  {% for item in data.items %}
  <figure class="compare flow" data-type="{{ item.type }}">
    <pre class="compare__code">{{ item.code | md | safe }}</pre>
    <figcaption class="compare__caption">
      <p class="compare__label">
        {{ item.label }}
      </p>
      {% if item.caption %}
        <p>— {{ item.caption | md | safe }}</p>
      {% endif %}
    </figcaption>
  </figure>
  {% endfor %}
</div>
