{% Aside 'key-term' %}
  ARIA attributes let you modify the way HTML elements are represented
  to assitive technologies like screen readers. Learn more in this
  [Introduction to
  ARIA](https://developers.google.com/web/fundamentals/accessibility/semantics-aria/).
{% endAside %}
