{% Aside 'key-term' %}
  ARIA elements let you bridge areas with accessibility issues that can't be managed with native HTML.
  These elements provide missing information about custom elements so that screen readers can interpret them. 
  Learn more in this [Introduction to ARIA](https://developers.google.com/web/fundamentals/accessibility/semantics-aria/).
{% endAside %}