To be announced properly by assistive technologies,
custom controls must have either inner text
or the `aria-label` or `aria-labelledby` attribute.
These techniques provide [accessible names](/labels-and-text-alternatives)
that you can use to convey the purpose of custom controls.
