To ensure correct pronunciation,
screen readers use a different sound library
for each language they support.
Screen readers can switch between these language libraries easily,
but only if a web page specifies which language to read
for a given piece of content.
