{% Aside 'note' %}
  The Lighthouse Accessibility score is a weighted average of all the accessibility audits.
  See the
  [Lighthouse accessibility scoring](/accessibility-scoring) post
  for more information.
{% endAside %}
