## Captions, subtitles, and audio descriptions

You may have noticed that the example(s) above include two kinds of tracks:
`captions` and `descriptions`.
Each of these track kinds, plus `subtitles`,
serves a different accessibility need:
- `captions` provide audio information for users with hearing impairments.
- `descriptions` provide information about a video's visuals
  for users with visual impairments.
- `subtitles` provide translations for users who
  don't speak the language(s) in a video.

In general, you should provide `captions` and `descriptions` for all videos.
Provide `subtitles` when possible, based on the needs of your users.
