{% Aside 'caution' %}
Most common input types can be created with standardized HTML elements,
which come with built-in behaviors and accessible semantics
that can be time consuming to replicate.
Consider [using built-in elements](/semantics-and-screen-readers/#use-semantic-html)
instead of ARIA roles if possible.
{% endAside %}
