{% Aside 'caution' %}
Most common input types can be created with native HTML elements,
which come with built-in behaviors and accessible semantics
that can be time consuming to replicate.
Consider [using native elements](/semantics-and-screen-readers/#use-semantic-html)
instead of ARIA roles if possible.
{% endAside %}
