Captions make audio and video content accessible to users who are deaf or hard of hearing.
Captions show who is talking and what they're saying and provide information
about other meaningful sounds in a media clip.
