Screen readers have commands to quickly jump between headings or to specific
landmark regions. In fact,
<a href="http://www.heydonworks.com/article/responses-to-the-screen-reader-strategy-survey" rel="noopener">a survey of screen reader users</a>
found that they most often navigate an unfamiliar page by exploring the
headings.

By using correct heading and landmark elements, you can dramatically
improve the navigation experience on your site for users of assistive technologies.
