{#
  @typedef {AuthorsItem} author - The author to display in card format.
#}
{% macro authorCard(author) %}

{% set title = author.title | i18n(locale) %}
{% set description = author.description | i18n(locale) %}
{% set url = author.url %}
{% set data = author.data %}
{% set image = data.thumbnail or data.hero or null %}

<article class="card">
  {% if image %}
    <a href="{{ url }}" aria-hidden="true" class="avatar-xl">
      {% Img src=image, alt=title, width="192", height="192", params={fit: 'crop', h: '192', w: '192'} %}
    </a>
  {% endif %}
  <div class="card__content flow">
    <h2 class="card__heading text-size-3">
      <a href="{{ url }}">{{ title }}</a>
    </h2>
    <p>{{ description }}</p>
  </div>
</article>
{% endmacro %}
