{#
  @typedef {AuthorsItem} author - The author to display in card format.
#}
{% macro authorCard(author) %}

{% set title = author.title | i18n(locale) %}
{% set description = author.description | i18n(locale) %}
{% set url = author.url %}
{% set data = author.data %}
{% set thumbnail = data.thumbnail or data.hero or null %}

<div class="w-card w-card-author" role="listitem">
  <article class="w-card-base w-card-base__with--cover">
    <div class="w-card-base__cover">
      {#
        Because we are not adding descriptive alt text to this image,
        and because the link is duplicated when we link the author's name below,
        we chose to hide this link from screenreaders to make their navigation a bit more efficient.
      #}
      <a href="{{url}}" class="w-card-base__link" tabindex="-1" aria-hidden="true">
        <figure class="w-card-base__figure w-card-author__figure">
          {% Img src=thumbnail, alt=title, width="192", height="192", class="w-card-author__image", params={fit: 'crop', h: '192', w: '192'} %}
        </figure>
      </a>
    </div>
    <div class="w-card-base__blurb">
      <a href="{{url}}" class="w-card-base__link">
        <h2 class="w-card-base__headline--with-image">{{title}}</h2>
      </a>
      <div class="w-card-base__desc w-card-author__desc">
        {% if description %}
          <a class="w-card-base__link" tabindex="-1" href="{{url}}">
            <p class="w-card-base__subhead">{{description}}</p>
          </a>
        {% endif %}
      </div>
    </div>
  </article>
</div>
{% endmacro %}
