{#
  @typedef {AuthorsItem} author - The author to display in card format.
#}
{% macro authorCard(author) %}

{% set title = author.title | i18n(locale) %}
{% set description = author.description | i18n(locale) %}
{% set url = author.url %}
{% set data = author.data %}
{% set thumbnail = data.thumbnail or data.hero or null %}

<a href="{{ url }}" class="card">
  {% if thumbnail %}
    {% Img src=thumbnail, alt=title, width="192", height="192", params={fit: 'crop', h: '192', w: '192'} %}
  {% endif %}
    <div class="card__content flow">
    <h3 class="card__heading text-size-3">{{ title }}</h3>
    <p>{{ description }}</p>
  </div>
</a>
{% endmacro %}
