{# 

Use PascalCase to name component macros. This helps avoid shadowing. For
example, if you have a macro named `author()` you cannot call it if you also
have a variable named `author` in the same scope. Name it Author() instead.
Think of it like React components :)

#}

{% macro Collection(ctx) %}
<a href="{{ ctx.url }}" class="w-card">
  <div class="w-collection">
    <div class="w-collection__info">
      <ul class="w-collection__info-list">
        <li
          class="w-collection__info-listitem w-collection__info-listitem--category"
        >
          Collection
        </li>
        <li
          class="w-collection__info-listitem w-collection__info-listitem--more-info"
        >
          {% getGuidesCount ctx %} resources
        </li>
        <li
          class="w-collection__info-listitem w-collection__info-listitem--updated"
        >
          Updated <time>{{ ctx.date }}</time>
        </li>
      </ul>
    </div>
    <div class="w-collection__cover">
      <img
        class="w-collection__cover-image"
        src="{{ ctx.cover }}"
        alt=""
      />
    </div>
    <div class="w-collection__desc">
      <h2 class="w-collection__headline">{{ ctx.title }}</h2>
      <p class="w-collection__summary">
        {{ ctx.description }}
      </p>
      {# <div class="w-chips">
        {% for tag in ctx.tags %}
          <span class="w-chip" href="#">{{ tag }}</span>
        {% endfor %}
      </div> #}
    </div>
  </div>
</a>
{% endmacro %}

{% macro Author(author, avatar, showSocialMedia=false) %}
{% set fullName = author.name.given + ' ' + author.name.family %}
<div class="w-author">
  <img class="w-author__image" src="/images/authors/{{ avatar }}.jpg" alt="{{ fullName }}">
  <div class="w-author__info">
    <cite class="w-author__name">{{ fullName }}</cite>
    {% if showSocialMedia %}
    <ul class="w-author__link-list">
      <li class="w-author__link-listitem">
        <a href="{{ author.twitter }}">Twitter</a>
      </li>
      <li class="w-author__link-listitem">
        <a href="{{ author.github }}">GitHub</a>
      </li>
      <li class="w-author__link-listitem">
        <a href="{{ author.glitch }}">Glitch</a>
      </li>
    </ul>
    {% endif %}
    <time class="w-author__published">Jan 31, 2019</time>
  </div>
</div>
{% endmacro %}

{# Article cards used on the blog page #}
{% macro Article(post, author) %}
{% set url = post.url | stripLanguage %}
{% set hero = post.data.hero %}
<a href="{{ url }}" class="w-card">
  <article class="w-article">
    <div class="w-article__cover {{ 'w-article__cover--with-image' if hero }}">
      {% if hero %}
      <figure class="w-article__figure">
        <img class="w-article__image" src="{{ url + hero }}" alt="{{ post.data.alt }}">
      </figure>
      {% endif %}

      <h2 class="{{ 'w-article__headline--with-image' if hero else 'w-article__headline' }}">
        {{ post.data.title }}
      </h2>

      {{ Author(author, post.data.author) }}
    </div>
    <div class="w-article__desc">
      <p class="w-article__summary">
        {{ post.data.meta.description }}
      </p>
    </div>
  </article>
</a>
{% endmacro %}

{# Smaller article cards used on the home page #}
{% macro ArticleSmall(post, author) %}
{% set hero = post.data.hero %}
<a href="{{ post.url | stripLanguage }}" class="w-card w-card--raised">
  <article class="w-article w-article--small">
    <div class="w-article__cover {{ 'w-article__cover--with-image-small' if hero else 'w-article__cover--small' }}">
      {% if hero %}
      <figure class="w-article__figure">
        <img class="w-article__image--small" src="{{ post.url }}/{{ hero }}" alt="{{ post.data.alt }}">
      </figure>
      {% endif %}

      <h3 class="w-article__headline {{ 'w-article__headline--with-image-small' if hero else 'w-article__headline--small' }}">
        {{ post.data.title }}
      </h3>
    </div>

    {{ Author(author, post.data.author) }}
  </article>
</a>
{% endmacro %}