{#
  @typedef {AuthorsItem|ShowsItem|TagsItem} item - The item to display in card format.
  @typedef {boolean} isAuthor - Conditional if author image style should be used.
#}
{% macro i18nCard(item, isAuthor) %}

{% set title = item.overrideTitle or item.title | i18n(locale) %}
{% set description = item.description | i18n(locale) %}
{% set url = item.url %}
{% set data = item.data %}
{% set thumbnail = data.thumbnail or data.hero or null %}

<article class="card">
  {% if thumbnail %}
    {% if isAuthor %}
      <a href="{{ url }}" aria-hidden="true" class="avatar gap-inline-auto" data-size="large">
        {% Img src=thumbnail, alt=title, width="192", height="192", params={fit: 'crop', h: '192', w: '192'} %}
      </a>
    {% else %}
      <a href="{{ url }}" aria-hidden="true">
        {% Img src=thumbnail, alt=title, width="570", height="330", class="card__hero" %}
      </a>
    {% endif %}
  {% endif %}
  <div class="card__content flow">
    <h2 class="card__heading text-size-3">
      <a href="{{ url }}">{{ title }}</a>
    </h2>
    <p>{{ description }}</p>
  </div>
</article>
{% endmacro %}
