{#
  @typedef {PatternSuite} patternSuite - The PatternSuite to display in card format.
#}
{% macro PatternSuiteCard(patternSuite) %}

<div class="w-card" role="listitem">
  <article class="w-card-base {{ 'w-card-base__with--cover' if hero }}">
    {% if patternSuite.hero %}
      <div class="w-card-base__cover">
        {#
          We intentionally hide the hero image from screen readers because it appears out of context
          from the rest of the article content and may be confusing. Since the link for the article is duplicated
          in the heading down below, this might be an OK tradeoff.
        #}
        <a href="/patterns/{{patternSuite.id}}" class="w-card-base__link" tabindex="-1" aria-hidden="true">
          {% Img src=patternSuite.hero, alt=title, width="354", height="240", params={fit: 'center', h: '240', w: '354'} %}
        </a>
      </div>
    {% endif %}
    <div class="w-card-base__blurb">
      <a href="/patterns/{{patternSuite.id}}" class="w-card-base__link">
        <h2 class="{{ 'w-card-base__headline--with-image' if hero else 'w-card-base__headline' }}">{{patternSuite.title}}</h2>
      </a>
      <div class="w-card-base__desc">
        {% if patternSuite.description %}
          <a class="w-card-base__link" tabindex="-1" href="/patterns/{{patternSuite.id}}">
            <p class="w-card-base__subhead">{{patternSuite.description}}</p>
          </a>
        {% endif %}
      </div>
    </div>
  </article>
</div>
{% endmacro %}
