{% from 'macros/tag-pills.njk' import tagPills with context %}

{#
  @typedef {EleventyCollectionItem} post - The post to display in card format.
  @property {boolean} [featured] - If a card should be a featured card.
  @property {string} [className] - A space separated list of classes to apply.
#}
{% macro postCard(post, featured=false, className = '') %}

{% set url = post.url %}
{% set data = post.data %}
{% set thumbnail = data.thumbnail or data.hero or null %}
{% set alt = data.alt or '' %}
{% set isDraft = data.draft %}
{% set authors = data.authors or [] %}

<article class="card">
  {% if isDraft %}
    <div class="card__header cluster flex-justify-end">
      <p class="pill">DRAFT</p>
    </div>
  {% endif %}
  {% if thumbnail %}
    <a href="{{ url }}" aria-hidden="true">
      {% Img src=thumbnail, alt=alt, width="570", height="330", class="card__hero" %}
    </a>
  {% endif %}
  <div class="card__content flow">
    <h2 class="card__heading text-size-3">
      <a href="{{ url }}">{{ data.title }}</a>
    </h2>
    <p>{{ data.subhead }}</p>
  </div>

  <div class="gap-top-size-1">
    {% AuthorsDate authors=authors, date=post.date, updated=data.updated, locale=data.locale %}
  </div>

  <div class="card__tags cluster gap-top-base" aria-label="tags for this post">
    {{ tagPills(data.tags) }}
  </div>
</article>
{% endmacro %}
