{#
  @typedef {ShowsItem} show - The show to display in card format.
#}
{% macro showsCard(show) %}

{% set title = show.title | i18n(locale) %}
{% set description = show.description | i18n(locale) %}
{% set url = show.url %}
{% set data = show.data %}
{% set thumbnail = data.hero or null %}

<article class="card">
  {% if thumbnail %}
    <a href="{{ url }}" aria-hidden="true">
      {% Img src=thumbnail, alt=title, width="570", height="330", class="card__hero", params={fit: 'center', h: '330', w: '570'} %}
    </a>
  {% endif %}
  <div class="card__content flow">
    <h2 class="card__heading text-size-3">
      <a href="{{ url }}">{{ title }}</a>
    </h2>
    <p>{{ description }}</p>
  </div>
</article>
{% endmacro %}
