{#
  @typedef {ShowsItem} show - The show to display in card format.
#}
{% macro showsCard(show) %}

{% set title = show.title | i18n(locale) %}
{% set description = show.description | i18n(locale) %}
{% set url = show.url %}
{% set data = show.data %}
{% set hero = data.hero or null %}

<a href="{{ url }}" class="card">
  {% if hero %}
    {% Img src=hero, alt=title, width="354", height="240", params={fit: 'center', h: '240', w: '354'}, class="shows-card" %}
  {% endif %}
    <div class="card__content flow">
    <h3 class="card__heading text-size-3">{{ title }}</h3>
    {% if description %}
      <p>{{ description }}</p>
    {% endif %}
  </div>
</a>
{% endmacro %}
