{#
  @typedef {TagsItem} tag - The tag to display in card format.
#}
{% macro tagCard(tag) %}

{% set title = tag.overrideTitle or tag.title | i18n(locale) %}
{% set description = tag.description | i18n(locale) %}
{% set url = tag.url %}
{% set data = tag.data %}
{% set thumbnail = data.thumbnail or data.hero or null %}

<a href="{{ url }}" class="card">
  {% if thumbnail %}
    {% Img src=thumbnail, alt=title, width="354", height="240", params={fit: 'center', h: '240', w: '354'} %}
  {% endif %}
    <div class="card__content flow">
    <h3 class="card__heading text-size-3">{{ title }}</h3>
    <p>{{ description }}</p>
  </div>
</a>
{% endmacro %}
