{#
  @param {string[]} tags - An array of tag keys to display.
  @param {string} [className] - A space separated list of classes to apply.
#}
{% macro tagPills(tags, className = '') %}
<div class="card__tags cluster gap-top-base {{className}}" aria-label="tags for this post">
  {% for tagKey in tags or [] %}
    {% if tagKey in collections.tags %}
      {% set tag = collections.tags[tagKey] %}
      <a class="pill" href="{{ tag.url }}">{{ tag.overrideTitle or tag.title | i18n(locale) }}</a>
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}
