{#
  @typedef {TagsItem} tag - The tag to display in card format.
#}
{% macro tagCard(tag) %}

{% set title = tag.title | i18n(locale) %}
{% set description = tag.description | i18n(locale) %}
{% set url = tag.url %}
{% set data = tag.data %}
{% set thumbnail = data.thumbnail or data.hero or null %}

<div class="w-card" role="listitem">
  <article class="w-card-base {{ 'w-card-base__with--cover' if thumbnail }}">
    {% if thumbnail %}
      <div class="w-card-base__cover">
        {#
          We intentionally hide the thumbnail image from screen readers because it appears out of context
          from the rest of the article content and may be confusing. Since the link for the article is duplicated
          in the heading down below, this might be an OK tradeoff.
        #}
        <a href="{{url}}" class="w-card-base__link" tabindex="-1" aria-hidden="true">
          <figure>
            {% Img src=thumbnail, alt=title, width="354", height="240", params={fit: 'center', h: '240', w: '354'} %}
          </figure>
        </a>
      </div>
    {% endif %}
    <div class="w-card-base__blurb">
      <a href="{{url}}" class="w-card-base__link">
        <h2 class="{{ 'w-card-base__headline--with-image' if thumbnail else 'w-card-base__headline' }}">{{title}}</h2>
      </a>
      <div class="w-card-base__desc">
        {% if description %}
          <a class="w-card-base__link" tabindex="-1" href="{{url}}">
            <p class="w-card-base__subhead">{{description}}</p>
          </a>
        {% endif %}
      </div>
    </div>
  </article>
</div>
{% endmacro %}
