---
layout: base
---

{# This is the standard layout that most pages will use. #}
{% include 'partials/header-default.njk' %}
{% include 'partials/navigation-drawer-default.njk' %}
<main>
  <div id="content">
    {% if show_banner %}
      {% include 'partials/banner.njk' %}
    {% endif %}
    <iframe style="width: 100%; max-width: 100%; min-height: 480px; aspect-ratio: 16 / 9;" src="/chrometober-2022/chrometober.html"></iframe>
  </div>
</main>
{% include 'partials/footer.njk' %}