---
layout: layout
---

<div class="about-landing-page">
  <header class="w-masthead-about">
    <div class="w-masthead-about__container">
      <div class="w-masthead-about__left">
        <h1 class="w-headline--two w-font-weight--medium">
          Where you can learn and measure
        </h1>
        <p>
          Whether you already have a website or you're just getting started,
          learn to build for the modern web at web.dev. Then, apply your new
          skills and solutions to any personal or professional site you work on.
        </p>
        <p>
          After you've launched your site, come back to web.dev and measure how
          well it supports your users. If there are areas where it can improve,
          you'll get immediate steps to increase your metrics.
        </p>
        <p>
          As the web advances, users' expectations get higher. With web.dev's
          guidance, you can give your users the best possible experience,
          wherever they are.
        </p>
      </div>
      <div class="w-masthead-about__right">
        <img class="w-masthead-about__image" src="/images/headers/about.svg" alt="">
      </div>
    </div>
  </header>
</div>