---
layout: default
title: About
description: |
  web.dev is the ultimate resource for developers of all backgrounds to learn,
  create, and solve on the web.
date: 2018-11-05
---
<div class="about-landing-page">
  <header class="w-masthead-about">
    <div class="w-masthead-about__container">
      <div class="w-masthead-about__left">
        <h1 class="w-headline--two w-font-weight--medium w-mt--non">
          Where you can learn and measure
        </h1>
        <p>
          Whether you already have a website or you're just getting started,
          learn to build for the modern web at web.dev. Then, apply your new
          skills and solutions to any personal or professional site you work on.
        </p>
        <p>
          After you've launched your site, come back to web.dev and measure how
          well it supports your users. If there are areas where it can improve,
          you'll get immediate steps to increase your metrics.
        </p>
        <p>
          As the web advances, users' expectations get higher. With web.dev's
          guidance, you can give your users the best possible experience,
          wherever they are.
        </p>
      </div>
      <div class="w-masthead-about__right">
        <img class="w-masthead-about__image" src="/images/headers/about.svg" alt="">
      </div>
    </div>
  </header>

  <div class="w-about-principles">
    <div class="w-layout-container">
      <h2 class="w-headline w-headline--two w-font-weight--medium">
        What the web can be
      </h2>
      <p>
        You know your users, and you have solutions for their needs. But, to win
        your users' loyalty, you also need to give them the best possible
        experience with your site.
      </p>
      <p>
        Make sure your audience can:
      </p>
      <ul class="w-unstyled-list w-grid-list">
        <li class="w-grid-list__item">
          Find your site
        </li>
        <li class="w-grid-list__item">
          Open your site from any device
        </li>
        <li class="w-grid-list__item">
          Load your site on a poor network connection
        </li>
        <li class="w-grid-list__item">
          Use your site with assistive technology, like a screen reader
        </li>
      </ul>
      <p>
        While these principles seem basic, there's a lot of room for improvement
        across the web. With web.dev, you can see how your website is
        performing, and learn tips to improve your user experience.
      </p>
      <h2 class="w-headline w-headline--two w-font-weight--medium">
        Reaching users on the mobile web
      </h2>
      <div class="w-about-video-wrapper">
        {% YouTube '3bKMnYJzrqI' %}
      </div>
      <p>
        At first, Pinterest's mobile site pushed all their users to
        download their app. Then, they invested in building a modern web
        experience.
      </p>
      <p>
        With a new focus on speed and performance, Pinterest's mobile
        site became more engaging to their users. Now, the mobile web is
        their top channel where new users sign up to join Pinterest.
      </p>
    </div>
  </div>

  <div class="w-layout-container">
    <h2 class="w-headline w-headline--two w-font-weight--medium w-text--center">
      Your tools for success
    </h2>
    <p class="w-text--center">
      To get started, all you need is a basic understanding of HTML, CSS, and
      JavaScript.
    </p>
    <div class="w-about-boxes">
      <div class="w-about-box">
        <h3 class="w-about-box__headline">
          Measure
        </h3>
        <p class="w-about-box__copy">
          Audit your site with Lighthouse to get guidance you can use to improve:
        </p>
        <ul>
          <li>
            Performance
          </li>
          <li>
            Progressive Web App status
          </li>
          <li>
            Accessibility
          </li>
          <li>
            Use of best practices
          </li>
          <li>
            Search engine optimization
          </li>
        </ul>
        <div class="w-text--center">
          <a
            class="w-button gc-analytics-event"
            data-category="web.dev"
            data-label="about, explore measure"
            data-action="click"
            href="/measure"
          >
            Test my site
          </a>
        </div>
      </div>
      <div class="w-about-box">
        <h3 class="w-about-box__headline">Learn</h3>
        <p class="w-about-box__copy">
          Practice new skills for the modern web and expand your
          knowledge on:
        </p>
        <ul>
          <li>
            Load speed
          </li>
          <li>
            Network reliability
          </li>
          <li>
            Data security
          </li>
          <li>
            Site discoverability
          </li>
          <li>
            Accessibility for all users
          </li>
        </ul>
        <div class="w-text--center">
          <a
            class="w-button gc-analytics-event"
            data-category="web.dev"
            data-label="about, explore learn"
            data-action="click"
            href="/learn"
          >
            Explore topics
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
