<div class="cluster gutter-base flex-align-start">
  <input
    id="{{ data.id }}"
    name="{{ data.name }}"
    type="checkbox"
  />
  <label for="{{ data.id }}" class="w-ml--l">{{ data.label }}</label>
</div>
