---
permalink: false
layout: sandbox/layout
title: article-navigation
tags:
  - sandbox
---

<article class="w-layout-container--narrow">
  <h2>Sample article with {{ title }}</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus
    nibh varius at. Cras ligula lacus, porta vitae maximus a, ultrices a
    mauris. Vestibulum porta dolor erat, vel molestie dolor posuere in.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum a
    massa sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus
    nibh varius at. Cras ligula lacus, porta vitae maximus a, ultrices a
    mauris. Vestibulum porta dolor erat, vel molestie dolor posuere in.
  </p>
</article>

<nav class="w-article-navigation">
  <a class="w-article-navigation__link w-article-navigation__link--back" href="#">
    Return to all articles
  </a>
  <a class="w-article-navigation__link w-article-navigation__link--forward" href="#">
    <div class="w-article-navigation__column">
      <h3 class="w-article-navigation__heading">Next article</h3>
      Tell search engines translated pages are equivalent
    </div>
  </a>
</nav>
