---
layout: layout
title: Blog
permalink: /en/blog/index.html
override:tags: []
---

{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}
<div class="blog-landing-page">
  {# Make sure Actions are first in the tab order. #}
  <web-actions-controller page="blog"></web-actions-controller>
  {% Actions %}
    {% SubscribeAction %}
  {% endActions %}

  <div class="w-layout-container w-pb--non">
    <header class="w-page-header">
      <h1 class="w-page-header__headline">{{ title }}</h1>
      <p class="w-page-header__copy">
        Our latest news, updates, and stories for developers
      </p>
    </header>
  </div>

  <section class="w-grid">
    <div class="w-grid__columns w-grid__columns--three" role="list">
      {% for post in collections.posts %}
        {% PostCard {post: post} %}
      {% endfor %}
    </div>
  </section>
</div>
