---
layout: default
title: Blog
permalink: /{{lang}}{{ paged.href }}{% if paged.index > 0 %}{{ paged.index + 1 }}/{% endif %}index.html
override:tags: []
description: Our latest news, updates, and stories for developers
date: 2018-11-05
pagination:
  data: collections.blogPosts
  size: 1
  alias: paged
---

{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}
<div class="blog-landing-page">
  {# Make sure Actions are first in the tab order. #}
  <div class="w-actions">
    {% include 'partials/subscribe-action.njk' %}
  </div>

  <div class="w-layout-container w-pb--non">
    <header class="w-page-header">
      <h1 class="w-page-header__headline">{{ title }}</h1>
      <p class="w-page-header__copy">{{ description }}</p>
    </header>
  </div>
  {% include 'partials/paged.njk' %}
</div>
