---
permalink: false
layout: sandbox/layout
title: post-card
tags:
  - sandbox
---

{# <section class="w-grid">
  <div class="w-grid__columns w-grid__columns--three" role="list">
    {% set post = 'en/test-post' | findByUrl %}
    {% PostCard {post: post, author: authors[post.data.author]} %}

    {% set post = 'en/another-post' | findByUrl %}
    {% PostCard {post: post, author: authors[post.data.author]} %}

    {% set post = 'en/yet-another-post' | findByUrl %}
    {% PostCard {post: post, author: authors[post.data.author]} %}
  </div>
</section> #}