---
permalink: false
layout: sandbox/layout
title: post-card
tags:
  - sandbox
---

{# <section class="w-grid">
  <div class="w-grid__columns w-grid__columns--three" role="list">
    {% set post = 'test-post' | findBySlug %}
    {% PostCard {post: post, author: authors[post.data.author]} %}

    {% set post = 'another-post' | findBySlug %}
    {% PostCard {post: post, author: authors[post.data.author]} %}

    {% set post = 'yet-another-post' | findBySlug %}
    {% PostCard {post: post, author: authors[post.data.author]} %}
  </div>
</section> #}