// MATERIAL COLOR PALETTE
// =============================================================================
// Shades of grey, including black and white

$WHITE: #fff;

$GREY_50: #f8f9fa;
$GREY_100: #f1f3f4;
$GREY_200: #e8eaed;
$GREY_300: #dadce0;
$GREY_400: #bdc1c6;
$GREY_500: #9aa0a6;
$GREY_600: #80868b;
$GREY_700: #5f6368;
$GREY_800: #3c4043;
$GREY_900: #202124;

$BLACK: #000;

// =============================================================================
// Material colors

$BLUE_50: #e3f2fd;          // Public palette only
$BLUE_100: #bbdefb;         // Public palette only
$BLUE_400: #42a5f5;         // Public palette only
$BLUE_500: #2196f3;         // Public palette only
$BLUE_600: #1e88e5;         // Public palette only
$BLUE_700: #1976d2;         // Public palette only
$BLUE_800: #1565c0;         // Public palette only
$BLUE_900: #0d47a1;         // Public palette only

$BLUE_GREY_50: #eceff1;
$BLUE_GREY_100: #cfd8dc;
$BLUE_GREY_200: #b0bec5;
$BLUE_GREY_300: #90a4ae;
$BLUE_GREY_400: #78909c;
$BLUE_GREY_500: #607d8b;
$BLUE_GREY_600: #546e7a;
$BLUE_GREY_700: #455a64;
$BLUE_GREY_800: #37474f;
$BLUE_GREY_900: #263238;

$CYAN_50: #e4f7fb;
$CYAN_100: #cbf0f8;
$CYAN_200: #a1e4f2;
$CYAN_300: #78d9ec;
$CYAN_400: #43cde6;
$CYAN_500: #24c1e0;
$CYAN_600: #12b5cb;
$CYAN_700: #129eaf;
$CYAN_800: #098591;
$CYAN_900: #007b83;

$DEEP_ORANGE_400: #ff7043;
$DEEP_ORANGE_500: #ff5722;
$DEEP_ORANGE_600: #f4511e;
$DEEP_ORANGE_700: #e64a19;
$DEEP_ORANGE_900: #bf360c;
$DEEP_ORANGE_A700: #dd2c00;

$DEEP_PURPLE_100: #ede7f6;
$DEEP_PURPLE_200: #e1bee7;
$DEEP_PURPLE_300: #9575cd;
$DEEP_PURPLE_400: #7e57c2;
$DEEP_PURPLE_500: #673ab7;
$DEEP_PURPLE_600: #5e35b1;
$DEEP_PURPLE_700: #512da8;

$GOOGLE_BLUE_50: #e8f0fe;
$GOOGLE_BLUE_100: #d2e3fc;
$GOOGLE_BLUE_200: #aecbfa;
$GOOGLE_BLUE_300: #8ab4f8;
$GOOGLE_BLUE_400: #669df6;
$GOOGLE_BLUE_500: #4285f4;
$GOOGLE_BLUE_600: #1a73e8;
$GOOGLE_BLUE_700: #1967d2;
$GOOGLE_BLUE_800: #185abc;
$GOOGLE_BLUE_900: #174ea6;

$GOOGLE_GREEN_50: #e6f4ea;
$GOOGLE_GREEN_100: #ceead6;
$GOOGLE_GREEN_200: #a8dab5;
$GOOGLE_GREEN_300: #81c995;
$GOOGLE_GREEN_400: #5bb974;
$GOOGLE_GREEN_500: #34a853;
$GOOGLE_GREEN_600: #1e8e3e;
$GOOGLE_GREEN_700: #188038;
$GOOGLE_GREEN_800: #137333;
$GOOGLE_GREEN_900: #0d652d;
$GOOGLE_GREEN_A700: #00c853;

$GOOGLE_RED_50: #fce8e6;
$GOOGLE_RED_100: #fad2cf;
$GOOGLE_RED_200: #f6aea9;
$GOOGLE_RED_300: #f28b82;
$GOOGLE_RED_400: #ee675c;
$GOOGLE_RED_500: #ea4335;
$GOOGLE_RED_600: #d93025;
$GOOGLE_RED_700: #c5221f;
$GOOGLE_RED_800: #b31412;
$GOOGLE_RED_900: #a50e0e;
$GOOGLE_RED_A400: #ff1744;
$GOOGLE_RED_A700: #d50000;

$GOOGLE_YELLOW_50: #fef7e0;
$GOOGLE_YELLOW_100: #feefc3;
$GOOGLE_YELLOW_200: #fde293;
$GOOGLE_YELLOW_300: #fdd663;
$GOOGLE_YELLOW_400: #fcc934;
$GOOGLE_YELLOW_500: #fbbc04;
$GOOGLE_YELLOW_600: #f9ab00;
$GOOGLE_YELLOW_700: #f29900;
$GOOGLE_YELLOW_800: #ea8600;
$GOOGLE_YELLOW_900: #e37400;

$GREEN_50: #e8f5e9;
$GREEN_100: #c8e6c9;
$GREEN_200: #a5d6a7;
$GREEN_300: #81c784;
$GREEN_400: #66bb6a;
$GREEN_500: #4caf50;
$GREEN_600: #43a047;
$GREEN_700: #388e3c;
$GREEN_800: #2e7d32;
$GREEN_900: #1b5e20;

$INDIGO_50: #e8eaf6;
$INDIGO_100: #c5cae9;
$INDIGO_200: #9fa8da;
$INDIGO_300: #7986cb;
$INDIGO_400: #5c6bc0;
$INDIGO_500: #3f51b5;
$INDIGO_600: #3949ab;
$INDIGO_700: #303f9f;

$LIGHT_BLUE_50: #e1f5fe;
$LIGHT_BLUE_100: #b3e5fc;
$LIGHT_BLUE_200: #81d4fa;
$LIGHT_BLUE_300: #4fc3f7;
$LIGHT_BLUE_400: #29b6f6;
$LIGHT_BLUE_500: #03a9f4;
$LIGHT_BLUE_600: #039be5;
$LIGHT_BLUE_700: #0288d1;
$LIGHT_BLUE_800: #0277bd;
$LIGHT_BLUE_900: #01579b;

$LIGHT_GREEN_50: #f1f8e9;
$LIGHT_GREEN_100: #dcedc8;
$LIGHT_GREEN_200: #c5e1a5;
$LIGHT_GREEN_300: #aed581;
$LIGHT_GREEN_400: #9ccc65;
$LIGHT_GREEN_500: #8bc34a;
$LIGHT_GREEN_600: #7cb342;
$LIGHT_GREEN_700: #689f38;
$LIGHT_GREEN_800: #558b2f;
$LIGHT_GREEN_900: #33691e;

$LIME_A200: #eeff41;

$ORANGE_50: #feefe3;
$ORANGE_100: #fedfc8;
$ORANGE_200: #fdc69c;
$ORANGE_300: #fcad70;
$ORANGE_400: #fa9033;
$ORANGE_500: #fa7b17;
$ORANGE_600: #e8710a;
$ORANGE_700: #d56e0c;
$ORANGE_800: #c26401;
$ORANGE_900: #b06000;

$PINK_50: #fde7f3;
$PINK_100: #fdcfe8;
$PINK_200: #fba9d6;
$PINK_300: #ff8bcb;
$PINK_400: #ff63bb;
$PINK_500: #f439a0;
$PINK_600: #e52592;
$PINK_700: #d01884;
$PINK_800: #b80672;
$PINK_900: #9c166b;

$PURPLE_50: #f3e8fd;
$PURPLE_100: #e9d2fd;
$PURPLE_200: #d7aefb;
$PURPLE_300: #c58af9;
$PURPLE_400: #af5cf7;
$PURPLE_500: #a142f4;
$PURPLE_600: #9334e6;
$PURPLE_700: #8430ce;
$PURPLE_800: #7627bb;
$PURPLE_900: #681da8;

$RED_50: #ffebee;
$RED_100: #ffcdd2;
$RED_200: #ef9a9a;
$RED_400: #ef5350;
$RED_500: #f44336;
$RED_600: #e53935;
$RED_700: #d32f2f;
$RED_800: #c62828;
$RED_900: #b71c1c;

$TEAL_50: #e0f2f1;
$TEAL_100: #b2dfdb;
$TEAL_200: #80cbc4;
$TEAL_400: #26a69a;
$TEAL_500: #009688;
$TEAL_600: #00897b;
$TEAL_700: #00796b;

$YELLOW_50: #fffde7;
$YELLOW_100: #fff9c4;
$YELLOW_200: #fff59d;
$YELLOW_300: #fff176;
$YELLOW_600: #fdd835;
$YELLOW_700: #fbc02d;
$YELLOW_800: #f9a825;

$WEB_PRIMARY_COLOR_50: #e7e8ff;
$WEB_PRIMARY_COLOR_100: #c3c6ff;
$WEB_PRIMARY_COLOR_200: #9ba0ff;
$WEB_PRIMARY_COLOR_300: #7379ff;
$WEB_PRIMARY_COLOR_400: #555dff;
$WEB_PRIMARY_COLOR_500: #464fff;
$WEB_PRIMARY_COLOR_600: #3740ff;
$WEB_PRIMARY_COLOR_700: #2e36ff;
$WEB_PRIMARY_COLOR_800: #272eff;
$WEB_PRIMARY_COLOR_900: #1d23ff;

// BRAND COLORS
// =============================================================================
// Note: These are slight variations on material palette colors. We spoke with
// googleguidance@ and they said we're allowed to make reasonable tweaks to
// the palette.
$WEB_PRIMARY_COLOR: $WEB_PRIMARY_COLOR_600;
$WEB_SECONDARY_COLOR: #3fc4ff;
$WEB_EXTENDED_SECONDARY_COLOR: #e51661;
$WEB_EXTENDED_TERTIARY_COLOR: #6001ff;
$WEB_VITALS_COLOR: #2962ff;

$PRIMARY_TEXT_COLOR: $GREY_900;
$LINK_COLOR: $WEB_PRIMARY_COLOR;
$FOCUS_COLOR: $WEB_PRIMARY_COLOR;
$BORDER_COLOR: $GREY_300;

// LIGHTHOUSE SCORING COLORS
$FAIL_COLOR: rgb(229, 57, 53);
$FAIL_COLOR_LIGHT: rgba(229, 57, 53, .20);

$AVERAGE_COLOR: rgb(251, 140, 0);
$AVERAGE_COLOR_LIGHT: rgba(251, 140, 0, .20);

$PASS_COLOR: rgb(24, 182, 99);
$PASS_COLOR_LIGHT: rgba(24, 182, 99, .20);

// LIGHTHOUSE AUDITS TABLE COLORS
$HIGH_IMPACT_BACKGROUND_COLOR: #fcebea;
$HIGH_IMPACT_COLOR: #d5100c;

$MEDIUM_IMPACT_BACKGROUND_COLOR: #fef3e5;
$MEDIUM_IMPACT_COLOR: #c6320d;

$LOW_IMPACT_BACKGROUND_COLOR: #ebebff;
$LOW_IMPACT_COLOR: #3740ff;

// SEMANTIC COLORS
$NOTE_COLOR: $WEB_PRIMARY_COLOR;
$CAUTION_COLOR: #c0580c;
$WARNING_COLOR: #eb0f00;
$SUCCESS_COLOR: #018642;
$KEY_POINT_COLOR: #6001ff;

// SELF-ASSESSMENT COLORS
$SELF_ASSESSMENT_PRIMARY_COLOR: $SUCCESS_COLOR;
$SELF_ASSESSMENT_HOVER_COLOR: $GREEN_50;
$SELF_ASSESSMENT_ACTIVE_COLOR: $GREEN_100;
$SELF_ASSESSMENT_INCORRECT_COLOR: $WEB_EXTENDED_SECONDARY_COLOR;
