$WEB_HEADER_HEIGHT: 64px;
$TOC_WIDTH_DESKTOP: 268px;
// -----------------------------------------------------------------------------
// !!! DEPRECATED !!!
//
// These breakpoints are from the beta of the site and are only used by the
// components on the measure page. These will be phased out soon. Do not use!
// -----------------------------------------------------------------------------

/// @deprecated
$BREAKPOINT_VALUE_DESKTOP: 1440px;
/// @deprecated
$BREAKPOINT_VALUE_TABLET_LANDSCAPE: 1024px;
/// @deprecated
$BREAKPOINT_VALUE_TABLET: 840px;
/// @deprecated
$BREAKPOINT_VALUE_MOBILE: 600px;
/// @deprecated
$BREAKPOINT_VALUE_MOBILE_SMALL: 380px;

// ---------------------------------------------------------------------------
// !!! DEPRECATED !!!
//
// GRID LAYOUTS
// These variables are for the old grid used on the beta of web.dev.
// Complex components on the measure page still use it but it should be phased
// out. Please do not use this with new components!
// ---------------------------------------------------------------------------

// 4-column grid, 599px to minimum size
/// @deprecated
$GRID_COLUMN_SMALL: 59.904px; // calc(288px * .208);
/// @deprecated
$GRID_GAP_SMALL: 16.128px; // calc(288px * .056);

// 12-column grid, 1023px - 600px
/// @deprecated
$GRID_COLUMN_MEDIUM: 44.9856px; // calc(704px * .0639);
/// @deprecated
$GRID_GAP_MEDIUM: 14.9248px; // calc(704px * .0212);

// 12-column grid, 1440px - 1024px
/// @deprecated
$GRID_COLUMN_LARGE: 61.344px; // calc(960px * .0639);
/// @deprecated
$GRID_GAP_LARGE: 20.352px; // calc(960px * .0212);

// 12-column grid, 1441px+
/// @deprecated
$GRID_COLUMN_EXTRA_LARGE: 81.792px; // calc(1280px * .0639);
/// @deprecated
$GRID_GAP_EXTRA_LARGE: 27.136px; // calc(1280px * .0212);

/// @deprecated
$CONTAINER_PADDING_LARGE: 140px;
/// @deprecated
$CONTAINER_PADDING_SMALL: 80px;
