// =============================================================================
// GLOBAL OVERVIEW
//
// Global variables used across multiple files.
//
// =============================================================================

$base-font-size: 16px;

// We use these to make sure border radius matches unless we want it different.
$GLOBAL_RADIUS: 3px;
$GLOBAL_RADIUS_MEDIUM: 8px;
$GLOBAL_RADIUS_LARGE: 20px;
$GLOBAL_ROUNDED: 50%;

// We use this as cursor values for enabling the option of having custom cursors
// in the whole site's stylesheet
$CURSOR_AUTO_VALUE: auto;
$CURSOR_CROSSHAIR_VALUE: crosshair;
$CURSOR_DEFAULT_VALUE: default;
$CURSOR_POINTER_VALUE: pointer;
$CURSOR_HELP_VALUE: help;
$CURSOR_TEXT_VALUE: text;

// Default transition speed.
$TRANSITION_SPEED: .2s;
$TRANSITION_EASE: cubic-bezier(0.4, 0.0, 0.2, 1);
