@import 'colors';

// =============================================================================
// TYPOGRAPHY OVERVIEW
//
// All constants and mixins in this file concern font properties, such as
// font-size, font-family, etc.
//
// Constants are mobile-first, starting at feature phone sizes and working up.
// When adding new constants that are specific to a particular responsive
// breakpoint, append the breakpoint name to the constant. For example,
// additional constants for a hypothetical $FINEPRINT constant would be
// $FINEPRINT_XSMALL and $FINEPRINT_MEDIUM.
//
// =============================================================================

// Smoothing.
$FONT_SMOOTHING_MOZ: grayscale;
$FONT_SMOOTHING_WEBKIT: antialiased;
$FONT_SMOOTHING_RENDERING: optimizeSpeed;

// Fonts.
$HEADLINE_FONT: 'Google Sans', sans-serif;
$PRIMARY_FONT: Segoe UI, system-ui, -apple-system, sans-serif;
$CODE_FONT: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;

// Weights.
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_BOLD: 700;

// -----------------------------------------------------------------------------
// DEFAULT
// (0 — 240px)
// -----------------------------------------------------------------------------

// Set all h1-h6 elements to these initial values.
// This acts as a kind of reset.
$BASE_HEADLINE: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE: 18,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 24,
);

$HEADLINE_1: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   38,
  FONT_WEIGHT: 500,
  LETTER_SPACING: -.5,
  LINE_HEIGHT: 50,
  MARGIN_BOTTOM: 9,
  MARGIN_TOP: 0,
);

$HEADLINE_2: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   18,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 24,
  MARGIN_BOTTOM: 24,
  MARGIN_TOP: 48,
);

$HEADLINE_2_ARTICLE: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   18,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 24,
  MARGIN_BOTTOM: 24,
  MARGIN_TOP: 48,
);

$HEADLINE_2_SMALL_CAPS: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE:   18,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 24,
  MARGIN_BOTTOM: 24,
  MARGIN_TOP: 48,
  TEXT_TRANSFORM: uppercase,
);

$HEADLINE_3: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   13.5,
  FONT_WEIGHT: 500,
  LINE_HEIGHT: 20,
  MARGIN_BOTTOM: 12,
  MARGIN_TOP: 36,
);

$HEADLINE_4: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   13.5,
  FONT_WEIGHT: 500,
  LINE_HEIGHT: 20,
  MARGIN_BOTTOM: 6,
  MARGIN_TOP: 24,
);

// This is the text that a user will read in blog posts and in guides.
// It should be a bit larger than regular body text.
$ARTICLE: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE:   13.5,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 21,
  MARGIN_BOTTOM: 27,
  MARGIN_TOP: 27,
);

$BODY: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE:   12,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 18,
);

$EYEBROW: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE: 12,
  FONT_WEIGHT: $FONT_WEIGHT_MEDIUM,
  LETTER_SPACING: 1.5,
  LINE_HEIGHT: 11,
  TEXT_TRANSFORM: uppercase,
);

// -----------------------------------------------------------------------------
// XXSMALL
// (241px — 321px)
// -----------------------------------------------------------------------------

$HEADLINE_1_XXSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   49,
  FONT_WEIGHT: 500,
  LETTER_SPACING: -.5,
  LINE_HEIGHT: 65,
  MARGIN_BOTTOM: 10,
  MARGIN_TOP: 0,
);

$HEADLINE_2_XXSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   31.5,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 38,
  MARGIN_BOTTOM: 28,
  MARGIN_TOP: 56,
);

$HEADLINE_2_ARTICLE_XXSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   21,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 28,
  MARGIN_BOTTOM: 28,
  MARGIN_TOP: 56,
);

$HEADLINE_2_SMALL_CAPS_XXSMALL: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE:   21,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 28,
  MARGIN_BOTTOM: 28,
  MARGIN_TOP: 56,
  TEXT_TRANSFORM: uppercase,
);

$HEADLINE_3_XXSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   16,
  FONT_WEIGHT: 500,
  LINE_HEIGHT: 22,
  MARGIN_BOTTOM: 14,
  MARGIN_TOP: 42,
);

$HEADLINE_4_XXSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   16,
  FONT_WEIGHT: 500,
  LINE_HEIGHT: 15,
  MARGIN_BOTTOM: 7,
  MARGIN_TOP: 28,
);

$ARTICLE_XXSMALL: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE:   15,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 28,
  MARGIN_BOTTOM: 31.5,
  MARGIN_TOP: 31.5,
);

$BODY_XXSMALL: (
  FONT_WEIGHT: 400,
  FONT_SIZE:   14,
  LINE_HEIGHT: 21,
  FONT_FAMILY: $PRIMARY_FONT
);

// -----------------------------------------------------------------------------
// XSMALL
// (321px+)
// -----------------------------------------------------------------------------

$HEADLINE_1_XSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   56,
  FONT_WEIGHT: 500,
  LETTER_SPACING: -.5,
  LINE_HEIGHT: 74,
  MARGIN_BOTTOM: 11,
  MARGIN_TOP: 0,
);

$HEADLINE_2_XSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   36,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 44,
  MARGIN_BOTTOM: 32,
  MARGIN_TOP: 64,
);

$HEADLINE_2_ARTICLE_XSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   24,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 32,
  MARGIN_BOTTOM: 32,
  MARGIN_TOP: 64,
);

$HEADLINE_2_SMALL_CAPS_XSMALL: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE:   24,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 32,
  MARGIN_BOTTOM: 32,
  MARGIN_TOP: 64,
  TEXT_TRANSFORM: uppercase,
);

$HEADLINE_3_XSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   20,
  FONT_WEIGHT: 500,
  LINE_HEIGHT: 24,
  MARGIN_BOTTOM: 16,
  MARGIN_TOP: 48,
);

$HEADLINE_4_XSMALL: (
  FONT_FAMILY: $HEADLINE_FONT,
  FONT_SIZE:   19,
  FONT_WEIGHT: 500,
  LINE_HEIGHT: 20,
  MARGIN_BOTTOM: 10,
  MARGIN_TOP: 32,
);

$ARTICLE_XSMALL: (
  FONT_FAMILY: $PRIMARY_FONT,
  FONT_SIZE:   18,
  FONT_WEIGHT: 400,
  LINE_HEIGHT: 32,
  MARGIN_BOTTOM: 36,
  MARGIN_TOP: 36,
);

$BODY_XSMALL: (
  FONT_WEIGHT: 400,
  FONT_SIZE:   16,
  LINE_HEIGHT: 24,
  FONT_FAMILY: $PRIMARY_FONT
);
