{% set analyticsScript %}
window.dataLayer = window.dataLayer || [];
window.dataLayer.push({'gtm.start': new Date().getTime(),event:'gtm.js'})
window.dataLayer.push({'ga_ua': '{{ site.analytics.ids.ua }}'})
window.dataLayer.push({'ga_ga4': '{{ site.analytics.ids.ga4 }}'})
{% if (site.env != 'prod') %}
  {# In development, log debug events to the console instead of sending them to GA #}
  window.gtag = console.debug;
{% endif %}
{% endset %}
<script>{{ analyticsScript | minifyJs | cspHash | safe }}</script>
