{% set analyticsScript %}
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
loadScript('https://www.googletagmanager.com/gtag/js?id={{ site.analytics.ids.ga4 }}', null);
{% if (site.env != 'prod') %}
  {# In development, log debug events to the console instead of sending them to GA #}
  window.gtag = console.debug;
{% endif %}
{% endset %}
<script>{{ analyticsScript | minifyJs | cspHash | safe }}</script>
