<div class="flow">
  {%- for item in authors -%}
    {%- set author = collections.authors[item] -%}
    {%- set authorName = author.title | i18n(locale) -%}
    {%- set authorDesc = author.description | i18n(locale) -%}
    <div class="author">
      <a class="avatar" href="{{ author.url }}">
        {% Img src=author.image, alt=authorName, width="80", height="80" %}
      </a>
      <div class="flow">
        <cite class="author__name">
          <a href="{{ author.url }}">{{ authorName }}</a>
        </cite>
        {%- if authorDesc -%}
          <p class="author__bio">{{ authorDesc }}</p>
        {%- endif -%}
        <ul class="author__links cluster" role="list">
          {%- if author.homepage -%}
          <li>
            <a href="{{ author.homepage }}">Homepage</a>
          </li>
          {%- endif -%}
          {%- if author.twitter -%}
          <li>
            <a href="https://twitter.com/@{{ author.twitter }}">Twitter</a>
          </li>
          {%- endif -%}
          {%- if author.github -%}
          <li>
            <a href="https://github.com/{{ author.github }}">GitHub</a>
          </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  {%- endfor -%}
</div>
