{% if cards %}
  {% for topic in cards %}
    {% set featured = null %}

    {% set url = topic.url %}
    {% set title = topic.title %}
    {% set thumbnail = topic.thumbnail %}
    {% set alt = featured.title %}
    {% set description = topic.description %}

    {% if topic.featuredCollection %}
      {% set featured = collections[topic.featuredCollection] | reverse %}
      {% set featured = featured[0] %}
    {% endif %}
    {% if topic.blogUrl %}
      {% set featured = topic.blogUrl | findByUrl %}
    {% endif %}

    {% if featured %}
      {% set url = featured.url %}
      {% set title = featured.data.title %}
      {% set thumbnail = featured.data.thumbnail or featured.data.hero %}
      {% set alt = featured.data.alt %}
      {% set description = featured.data.description %}
    {% endif %}

    <a
      {% if url %} href="{{ url }}" {% endif %}
      class="card {% if topic.cardLayout %}card-{{topic.cardLayout}}{% endif %}{% if topic.row %} row-{{topic.row}}{% endif %}{% if topic.column %} col-{{topic.column}}{% endif %}{% if topic.theme %} bg-{{topic.theme}}{% endif %}"
      data-category="web.dev"
      data-label="Topic: {{title}}"
      data-action="click"
      role="listitem"
    >
      {% if thumbnail %}
        {% Img src=thumbnail, alt="{{ alt }}", width="370", height="220" %}
      {% endif %}

      <div class="content">
        <div class="card__eyebrow flow">
          {{ icon(topic.eyebrow.icon) }}
          <span class="text-size-0 color-mid-text">{{ topic.eyebrow.text }}</span>
        </div>

        <div class="card__content flow">
          <h4 class="card__heading color-core-text">{{ title }}</h4>
          <p class="text-size-1 color-mid-text">{{ description }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
{% endif %}