{% from 'macros/icon.njk' import svg with context %}
{%- set courseData = courses[projectKey] -%}
{% set path = paths[pathName] %}
{% set topics = path.topics | removeDrafts %}

<div class="course-fyi">
<div class="wrapper">
  <div class="pad-block-size-1 flow">
    <h3>Learn web development</h3>
    <p>{{path.coursefyi | i18n(locale) | safe}}</p>
    <a class="button" data-type="primary" href="{{path.course}}">
      {{path.coursename | i18n(locale) | safe}}
    </a>
    </div>
    </div>
</div>
