{% from 'macros/icon.njk' import icon with context %}

<web-side-nav>
  <nav data-nav-container>

    <div>
      <button
        data-nav-close-button
        class="default-nav__hide w-button--svg w-button--round"
        aria-label="Close"
      >
        {{ icon('close') }}
        <span class="w-tooltip">Close</span>
      </button>
    </div>

    <a href="/learn/">Learn</a>
    <a href="/learn/">Learn</a>
    <a href="/learn/">Learn</a>
    <a href="/learn/">Learn</a>

  </nav>
</web-side-nav>