{% from 'macros/icon.njk' import icon with context %}

{% macro preferredTitle(item) %}
  {%- set title = item.data.title or '' -%}
  {%- if item.title -%}
    {%- set title = item.title | i18n(locale) -%}
  {%- endif -%}
  {{- title -}}
{% endmacro %}

<nav class="course-pagination" aria-label="pagination">
  {% for item in pageNavigation.list %}
    {% if item.url === page.url %}
      {% if item.prev %}
        {% set prev = item.prev %}
        <a href="{{ prev.url }}" class="course-pagination-control" data-prev>
          <div class="course-pagination-control__top display-flex align-center">
            {{ icon('arrow-back', {label: 'previous'}) }}
            <span class="font-mono display-none md:display-inline case-upper">{{ 'i18n.common.prev' | i18n(locale) }}</span>
            <span class="font-mono">{{ prev.counter }}</span>
          </div>

          <div class="course-pagination-control__title">{{ preferredTitle(prev) }}</div>
        </a>
      {% endif %}
      {% if item.next %}
        {% set next = item.next %}
        <a href="{{ next.url }}" class="course-pagination-control" data-next>
          <div class="course-pagination-control__top display-flex align-center">
            <span class="font-mono case-upper">{{ 'i18n.common.next' | i18n(locale) }}</span>
            <span class="font-mono">{{ next.counter }}</span>
            {{ icon('arrow-forward', {label: 'next'}) }}
          </div>

          <div class="course-pagination-control__title">{{ preferredTitle(next) }}</div>
          <div class="course-pagination-control__desc">{{ next.data.description }}</div>
        </a>
      {% endif %}
    {% endif %}
  {% endfor %}
</nav>
