<enhanced-select id="removal-date" class="deprecations-filter gap-right-300" label="Removal date" fixedLabel multiple>
    <select name="removal-date">
      <option value="7">7 days</option>
      <option value="30">30 days</option>
      <option value="90">3 months</option>
      <option value="180">6 months</option>
      <option value="365">1 year</option>
    </select>
  </enhanced-select>