<footer class="w-footer">
  <nav class="w-footer__linkboxes">
    <ul class="w-footer__linkboxes-list">
      <li class="w-footer__linkbox">
        <h3 class="w-footer__linkbox-heading">Contribute</h3>
        <ul class="w-footer__linkbox-list">
          <li class="w-footer__linkbox-item">
            <a href="https://github.com/GoogleChrome/web.dev/issues/new?assignees=&labels=bug&template=bug_report.md&title="
              class="w-footer__linkbox-link" data-category="Site-Wide Custom Events" data-label="Footer Link (index 1)">
              {{ 'i18n.footer.file_a_bug' | i18n(locale) }}
            </a>
          </li>
          <li class="w-footer__linkbox-item">
            <a href="https://github.com/googlechrome/web.dev" class="w-footer__linkbox-link"
              data-category="Site-Wide Custom Events" data-label="Footer Link (index 2)">
              {{ 'i18n.footer.view_source' | i18n(locale) }}
            </a>
          </li>
        </ul>
      </li>
      <li class="w-footer__linkbox">
        <h3 class="w-footer__linkbox-heading">Related content</h3>
        <ul class="w-footer__linkbox-list">
          <li class="w-footer__linkbox-item">
            <a href="https://developers.google.com/web/updates/" class="w-footer__linkbox-link"
              data-category="Site-Wide Custom Events" data-label="Footer Link (index 1)">
              {{ 'i18n.footer.updates' | i18n(locale) }}
            </a>
          </li>
          <li class="w-footer__linkbox-item">
            <a href="https://developers.google.com/web/" class="w-footer__linkbox-link"
              data-category="Site-Wide Custom Events" data-label="Footer Link (index 2)">
              {{ 'i18n.footer.web_fundamentals' | i18n(locale) }}
            </a>
          </li>
          <li class="w-footer__linkbox-item">
            <a href="https://developers.google.com/web/showcase/" class="w-footer__linkbox-link"
              data-category="Site-Wide Custom Events" data-label="Footer Link (index 3)">
              {{ 'i18n.footer.case_studies' | i18n(locale) }}
            </a>
          </li>
          <li class="w-footer__linkbox-item">
            <a href="https://devwebfeed.appspot.com/" class="w-footer__linkbox-link"
              data-category="Site-Wide Custom Events" data-label="Footer Link (index 4)">
              DevWeb Content Firehose
            </a>
          </li>
          <li class="w-footer__linkbox-item">
            <a href="/podcasts/" class="w-footer__linkbox-link"
              data-category="Podcasts" data-label="Footer Link (index 5)">
              {{ 'i18n.footer.podcasts' | i18n(locale) }}
            </a>
          </li>
        </ul>
      </li>
      <li class="w-footer__linkbox">
        <h3 class="w-footer__linkbox-heading">{{ 'i18n.footer.connect' | i18n(locale) }}</h3>
        <ul class="w-footer__linkbox-list">
          <li class="w-footer__linkbox-item">
            <a href="https://www.twitter.com/@ChromiumDev" class="w-footer__linkbox-link"
              data-category="Site-Wide Custom Events" data-label="Footer Link (index 1)">
              Twitter
            </a>
          </li>
          <li class="w-footer__linkbox-item">
            <a href="https://www.youtube.com/user/ChromeDevelopers" class="w-footer__linkbox-link"
              data-category="Site-Wide Custom Events" data-label="Footer Link (index 2)">
              YouTube
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="w-footer__utility">
    <nav class="w-footer__utility-nav">
      <a href="https://developers.google.com/" class="w-footer__utility-logo-link"
        data-category="Site-Wide Custom Events" data-label="Footer Google Developers Link">
        <img loading="lazy" width="185" height="33" class="w-footer__utility-logo" src="/images/lockup-color.png"
          alt="Google Developers" />
      </a>
      <ul class="w-footer__utility-list">
        <li class="w-footer__utility-item">
          <a class="w-footer__utility-link" href="https://developer.chrome.com/home"
            data-category="Site-Wide Custom Events" data-label="Footer Chrome Link">
            Chrome
          </a>
        </li>
        <li class="w-footer__utility-item">
          <a class="w-footer__utility-link" href="https://firebase.google.com/" data-category="Site-Wide Custom Events"
            data-label="Footer Firebase Link">
            Firebase
          </a>
        </li>
        <li class="w-footer__utility-item">
          <a class="w-footer__utility-link" href="https://cloud.google.com/" data-category="Site-Wide Custom Events"
            data-label="Footer Google Cloud Platform Link">
            Google Cloud Platform
          </a>
        </li>
        <li class="w-footer__utility-item">
          <a class="w-footer__utility-link" href="https://developers.google.com/products"
            data-category="Site-Wide Custom Events" data-label="Footer All products Link">
            {{ 'i18n.footer.all_products' | i18n(locale) }}
          </a>
        </li>
      </ul>
      <web-language-select current="{{ lang }}"></web-language-select>
    </nav>
    <nav class="w-footer__utility-nav">
      <ul class="w-footer__utility-list">
        <li class="w-footer__utility-item">
          <a class="w-footer__utility-link" href="https://policies.google.com/" data-category="Site-Wide Custom Events"
            data-label="Footer Terms and Privacy link">
            {{ 'i18n.footer.terms_and_privacy' | i18n(locale) }}
          </a>
        </li>
        <li class="w-footer__utility-item">
          <a class="w-footer__utility-link" href="/community-guidelines/" data-category="Site-Wide Custom Events"
            data-label="Footer Community Guidelines link">
            {{ 'i18n.footer.community_guidelines' | i18n(locale) }}
          </a>
        </li>
      </ul>
      <div class="w-footer__license">
        <p>
          Except as otherwise noted, the content of this page is licensed
          under the
          <a href="https://creativecommons.org/licenses/by/4.0/">
          Creative Commons Attribution 4.0 License</a>,
          and code samples are licensed under the
          <a href="https://www.apache.org/licenses/LICENSE-2.0">
          Apache 2.0 License</a>. For details, see the
          <a href="https://developers.google.com/site-policies">
          Google Developers Site Policies</a>.
        </p>
      </div>
    </nav>
  </div>
</footer>
