<web-header role="navigation">
  <button class="w-button--icon w-button--round web-header__hamburger-btn unresolved" aria-label="Open menu">
    <span class="w-tooltip w-tooltip--left">Open menu</span>
  </button>

  <a
    href="/"
    class="web-header__logo-link gc-analytics-event"
    data-category="Site-Wide Custom Events"
    data-label="Site logo"
  >
    <img class="web-header__logo" src="/images/lockup.svg" alt="web.dev" />
  </a>

  <div class="web-header__middle">
    <div class="web-header__links">
      <a
        href="/learn/"
        class="web-header__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="Tab: Learn"
      >
        {{ 'i18n.header.learn' | i18n(locale) }}
      </a>

      <a
        href="/measure/"
        class="web-header__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="Tab: Measure"
      >
        {{ 'i18n.header.measure' | i18n(locale) }}
      </a>

      <a
        href="/blog/"
        class="web-header__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="Tab: Blog"
      >
        {{ 'i18n.header.blog' | i18n(locale) }}
      </a>

      <a
        href="/about/"
        class="web-header__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="Tab: About"
      >
        {{ 'i18n.header.about' | i18n(locale) }}
      </a>
    </div>
    <web-search></web-search>
  </div>

  <web-profile-switcher-container></web-profile-switcher-container>
</web-header>