<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if CSS_ORIGIN === 'next' %}
  {% include "partials/theme-script.njk" %}
  {# hashForProd() will cache bust the css in dev with a random string. #}
  <link rel="stylesheet" href="{{ helpers.hashForProd('/css/next.css') }}">
  <link rel="stylesheet" href="{{ helpers.hashForProd('/css/legacy-rollout.css') }}">
  <link rel="preload" as="font" crossorigin="anonymous" href="/fonts/material-icons/regular.woff2">
{% else %}
  {% if process.env.ELEVENTY_ENV === 'prod' %}
    {# CSS will be injected by purify-css transform. #}
    <!-- __PURGECSS_INJECT -->
  {% else %}
    {# hashForProd() will cache bust the css in dev with a random string. #}
    <link rel="stylesheet" href="{{ helpers.hashForProd('/css/main.css') }}">
  {% endif %}

  <link rel="preload" as="font" crossorigin="anonymous" href="/fonts/material-icons/regular.woff2">
{% endif %}

<link rel="preload" as="font" crossorigin="anonymous" href="/fonts/google-sans/regular/latin.woff2">
<link rel="preload" as="font" crossorigin="anonymous" href="/fonts/google-sans/bold/latin.woff2">
<link rel="preconnect" href="https://{{site.imgixDomain}}">

<meta name="theme-color" content="#fff"/>

{% if (noindex and noindex != "false") or draft -%}
  <meta name="robots" content="noindex" />
{%- endif %}
{% if offline %}
  <meta name="offline" content="true" />
{%- endif %}

{% Meta locale, page, renderData %}

<link rel="manifest" href="/manifest.webmanifest" />
{# Include default icon even though we have a manifest #}
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="mask-icon" color="#0054ff" href="/images/safari-pinned-tab.svg">

{# Script loader for sourced scripts, as they cannot be authorized by a CSP hash. #}
{% include 'partials/script-loader.njk' %}

{% include 'partials/analytics.njk' %}

{# Dogfood automatic prerender origin trial #}
<meta http-equiv="origin-trial" content="AuvDj0sNbsmN01Zw2Gg1+wDt6DampaNwj+ydUpWmsL2l1Ritum74apPitLRO0FL3VwFRqpVPTZXhPlxCl23vhwIAAACIeyJvcmlnaW4iOiJodHRwczovL2RlcGxveS1wcmV2aWV3LTk1MzItLXdlYi1kZXYtc3RhZ2luZy5uZXRsaWZ5LmFwcDo0NDMiLCJmZWF0dXJlIjoiU3BlY3VsYXRpb25SdWxlc1ByZWZldGNoRnV0dXJlIiwiZXhwaXJ5IjoxNjk0MTMxMTk5fQ==">
{% set specRules %}
{"prerender": [
   {"source": "document",
    "where": {"or": [
       {"href_matches": "/blog/*\\?*",
        "relative_to": "document"}
    ]}}
]}
{% endset %}
<script type="speculationrules">{{ specRules | minifyJSON | cspHash | safe }}</script>
