{% from 'macros/icon.njk' import icon with context %}

<web-header class="header-course lg:display-none" role="navigation" style="--header-course-background: {{ courseData.meta.background }}">
  <button data-open-drawer-button class="w-button--svg w-button--round" aria-label="{{ 'i18n.header.open_menu' | i18n(locale) }}">
    {{ icon('menu') }}
    <span class="w-tooltip w-tooltip--left">{{ 'i18n.header.open_menu' | i18n(locale) }}</span>
  </button>

  <div class="header-course__title">
    {% include 'partials/course-gradient-title.njk' %}
  </div>
</web-header>
