{% for slug in section.pathItems %}
  {% set url = ['', lang, slug, ''] | join('/') %}
  {% set item = url | findByUrl %}

  {% if item %}

    {% if item.data.draft %}
      {# noop #}
    {% else %}

      <li class="w-path-listitem">
        <a
          class="w-path-link"
          href="{{ item.data.canonicalUrl }}"
        >
          {{ item.data.title | md | safe }}
        </a>
      </li>
    {% endif %}
  {% endif %}
{% endfor %}
