<span class="post-signpost__title">
  {% set languages = page | supportedlanguages(lang) %}
  {% set numberOfLanguages = languages.length %}

  {% if (numberOfLanguages) %}
    {{'i18n.post.available_in' | i18n(locale)}}:
    {% for language in languages %}
      {% set lang = language[0] %}
      {% set langHref = language[1] %}
      {% set langName = language[2] %}

      <span>
        <a href={{langHref}} class="post-signpost__link" translate="no" lang={{lang}}>{{langName}}</a>
        {%- if loop.index !== numberOfLanguages -%}, {%- endif -%}
        {% if loop.index === (numberOfLanguages - 1) %} and {% endif %}
      </span>
    {% endfor %}
  {% endif %}
</span>
