{% from 'macros/icon.njk' import icon with context %}

<web-navigation-drawer type="standard">
  <nav data-drawer-container>

    <div class="course-nav flow flow-space-300">
      <div class="course-nav__header">
        <button data-drawer-close-button class="w-button--svg w-button--round" aria-label="Close">
          {{ icon('close') }}
          <span class="w-tooltip">Close</span>
        </button>

        <div class="course-nav__title">
          {% include 'partials/course-gradient-title.njk' %}
        </div>
      </div>

      <div class="course-nav__search">
        <div class="input"></div>
      </div>

      <div class="course-nav__links scrollbar">
        {% for i in range(0, 40) %}
        <a class="course-nav__link" {% if i == 2 %} data-active {% endif %} {% if i == 4 %} data-complete {% endif %} href="/learn/">
          <span class="course-nav__link-counter font-mono">{{ i | padStart(3, '0') }}</span>
          {% if i % 2 == 0 %}
          <span class="course-nav__link-title gap-left-400">Flexbox</span>
          {% else %}
          <span class="course-nav__link-title gap-left-400">Learn borders and shadows and this is pretty long</span>
          {% endif %}
          {{ icon('done', 'course-nav__link-check gap-left-auto') }}
        </a>
        {% endfor %}
      </div>
    </div>

  </nav>
</web-navigation-drawer>
