{% from 'macros/icon.njk' import icon with context %}

<web-navigation-drawer class="drawer-default" type="modal">
  <nav data-drawer-container>
    <div class="drawer-default__contents">
      <div class="drawer-default__header">
        <button
          data-drawer-close-button
          class="drawer-default__hide w-button--svg w-button--round"
          aria-label="{{ 'i18n.common.close' | i18n(locale) }}"
        >
          {{ icon('close') }}
          <span class="w-tooltip">{{ 'i18n.common.close' | i18n(locale) }}</span>
        </button>
        <a
          href="/"
          class="gc-analytics-event"
          data-category="Site-Wide Custom Events"
          data-label="Site logo"
        >
          <img
            class="drawer-default__logo"
            src="/images/lockup.svg"
            alt="web.dev"
          />
        </a>
      </div>
      <a
        href="/learn/"
        class="drawer-default__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="SideNav: Learn"
      >
        {{ 'i18n.header.learn' | i18n(locale) }}
      </a>
      <a
        href="/measure/"
        class="drawer-default__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="SideNav: Measure"
      >
        {{ 'i18n.header.measure' | i18n(locale) }}
      </a>
      <a
        href="/blog/"
        class="drawer-default__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="SideNav: Blog"
      >
        {{ 'i18n.header.blog' | i18n(locale) }}
      </a>
      <a
        href="/about/"
        class="drawer-default__link gc-analytics-event"
        data-category="Site-Wide Custom Events"
        data-label="SideNav: About"
      >
        {{ 'i18n.header.about' | i18n(locale) }}
      </a>
    </div>
  </nav>
</web-navigation-drawer>
