<header class="region">
  <div class="wrapper">
    <div class="headline all-center flow">
      <h1 class="headline__title">{{ title }}</h1>
      <p>{{ i18n.no_connection }} 📶</p>
    </div>
  </div>
</header>