<div class="w-layout-container--large">
  <header class="w-page-header">
    <h1 class="w-page-header__headline w-code">{{ title }}</h1>
    <p class="w-page-header__copy">
      {{ i18n.no_connection }} 📶
    </p>
  </header>
</div>
