{% from 'macros/post-card.njk' import postCard with context %}
{% from 'macros/feed-card.njk' import feedCard with context %}

{% set isAuthor = false %}
{% if path %}
  {% set isAuthor = path === 'authors' %}
{% endif %}

<div class="region">
  <div class="wrapper {% if isAuthor %}feed-grid {% else %}auto-grid {% endif %}">
    {% for element in paged.elements %}
      {% set data = element.data %}

      {% if isAuthor %}
        {{ feedCard({
          title: data.title,
          subhead: data.subhead,
          url: element.url,
          thumbnail: data.thumbnail or data.hero,
          alt: data.alt or data.title or '',
          source: data.source,
          draft: data.draft
        }) }}
      {% else %}
        {{ postCard({
          title: data.title,
          subhead: data.subhead,
          url: element.url,
          thumbnail: data.thumbnail or data.hero,
          alt: data.alt or data.title or '',
          authors: data.authors,
          tags: data.tags,
          date: element.date,
          updated: data.updated,
          draft: data.draft
        }) }}
      {% endif %}
    {% endfor %}
  </div>

  <div class="wrapper gap-top-size-3">
    {% include "partials/pagination.njk" %}
  </div>
</div>
