{# *-landing-page classes are a holdover from devsite. #}
{# It would be great to remove them as part of the v1 migration. #}
<div class="guide-landing-page">
  {% if path === undefined  %}
    {% set postPaths = page | getPaths %}
    {# Use first found path as a default path. #}
    {% set path = paths[postPaths[0]] %}
  {% endif %}
  {% set safeTitle = title | md | safe %}

  {% if hero %}
    {% Hero {
      hero: hero,
      alt: alt,
      heroPosition: hero_position,
      heroFit: hero_fit
    } %}
  {% endif %}

  <web-table-of-contents title="{{ safeTitle }}" title-id="{{ safeTitle | slugify }}">
    {{ content | toc | safe }}
  </web-table-of-contents>
  <web-table-of-contents-button></web-table-of-contents-button>

  {# Make sure Actions are first in the tab order. #}
  <div class="w-actions">
    <share-action authors="{{ authors | expandAuthors(collections.authors) }}"
      class="gc-analytics-event w-actions__fab w-actions__fab--share"
      data-category="web.dev"
      data-label="share"
      data-action="click"
      data-icon="share"
      tabindex="0"
      role="button"
    >
      <span>Share</span>
    </share-action>
    {% include 'partials/subscribe-action.njk' %}
  </div>

  <div class="w-toc__button-wrapper">
    <label for="w-toc__open-state" class="w-toc__button w-button w-button--secondary w-button--icon" data-icon="list_alt" aria-label="Toggle table of contents"></label>
  </div>

  <div class="w-layout-container--narrow w-post-content">
    <header class="w-article-header">
      {% if 'blog' in tags %}
        <div class="w-post-breadcrumbs">
          {% Breadcrumbs {title: 'All articles', slug: 'blog'} %}
        </div>
      {% endif %}

      <h1 id="{{ safeTitle | slugify }}" class="w-article-header__headline">{{ safeTitle }}</h1>
      {% if subhead %}
        <p class="w-article-header__subhead w-mb--non">
          {{ subhead | md | safe }}
        </p>
      {% endif %}

      {% if date %}
        <div class="w-author__published">
          <time>{{date | prettyDate}}</time>
          {% if updated %} <span class="w-author__separator">•</span> Updated <time>{{ updated | prettyDate }}</time> {% endif %}
        </div>
      {% endif %}
      {% SignPosts page.fileSlug %}

      {% if authors %}
        <div class="w-authors w-mt--xl w-pt--sm">
          {% for author in authors %}
            {% Author {
              id: author,
              author: collections.authors[author],
              showSocialMedia: true}
            %}
          {% endfor %}
        </div>
      {% endif %}
    </header>

    {% if draft and site.env === 'dev' %}
      <div class="w-banner w-banner--warning w-banner--body">
        🚨 This post is a draft! 🚨
      </div>
    {% endif %}

    {{ content | safe }}

    <div class="w-chips">
      {% for tag in tags | findTags %}
        <a class="w-chip" href="{{ tag.href }}">{{ tag.title }}</a>
      {% endfor %}
    </div>

    <div class="w-post-github-link w-mt--l w-mb--l">
      <span class="w-mr--sm">
        {% if updated %}
        Last updated: <time>{{ updated | prettyDate }}</time>
        {% else %}
        Last updated: <time>{{ date | prettyDate }}</time>
        {% endif %}
      </span>
      <a
        href="{{ page.inputPath | githubLink }}"
      >
        Improve article
      </a>
      {# Hide suggest translation for now. #} {#
      <a href="#">Suggest translation</a> #}
    </div>

    {% if codelabs %}
      {% CodelabsCallout codelabs, lang %}
    {% endif %}

    <web-feedback></web-feedback>
  </div>

  {% if 'blog' in tags %}
    {# Find next blog post #}
    {% ArticleNavigation {
      back: '/blog',
      backLabel: 'Return to all articles'
    } %}
  {% elif path %}
    {# Find next item in this learning path #}
    {% ArticleNavigation {
      back: '/' + path.slug,
      backLabel: 'Return to all articles'
    } %}
  {% endif %}
</div>
