<web-question>

{% Block 'stimulus' %}
{{ question.stimulus | safe }}
{% endBlock %}

{% AssessmentResponse question.type, question.cardinality, question.correctAnswers, question.columns %}
{{ question.stem | md | safe }}
{% for option in question.options %}
{% if option.content %}
<span data-role="option">
  {{ option.content | md | safe }}
</span>
{% endif %}
{% if option.rationale %}
{% Block 'rationale' %}
{{ option.rationale | safe }}
{% endBlock %}
{% endif %}
{% endfor %}
{% endAssessmentResponse %}

</web-question>
