<web-question>
  {{ question.stimulus | md | safe }}

  {% AssessmentResponse question.type, question.cardinality, question.correctAnswers, question.columns %}
  {{ question.stem | md | safe }}
  {% for option in question.options %}
  {% if option.content %}
  <span data-role="option">
    {{ option.content | md | safe }}
  </span>
  {% endif %}
  {% if option.rationale %}
  <div data-role="rationale">
    {{ option.rationale | md | safe }}
  </div>
  {% endif %}
  {% endfor %}
  {% endAssessmentResponse %}
</web-question>
