<web-side-nav class="unresolved" logo="/images/lockup.svg">
  <a
    href="/learn/"
    class="web-side-nav__link gc-analytics-event"
    data-category="Site-Wide Custom Events"
    data-label="SideNav: Learn"
  >
    Learn
  </a>
  <a
    href="/measure/"
    class="web-side-nav__link gc-analytics-event"
    data-category="Site-Wide Custom Events"
    data-label="SideNav: Measure"
  >
    Measure
  </a>
  <a
    href="/blog/"
    class="web-side-nav__link gc-analytics-event"
    data-category="Site-Wide Custom Events"
    data-label="SideNav: Blog"
  >
    Blog
  </a>
  <a
    href="/live/"
    class="web-side-nav__link gc-analytics-event"
    data-category="Site-Wide Custom Events"
    data-label="SideNav: Live"
  >
    Live
  </a>
  <a
    href="/about/"
    class="web-side-nav__link gc-analytics-event"
    data-category="Site-Wide Custom Events"
    data-label="SideNav: About"
  >
    About
  </a>
</web-side-nav>