{% set postPaths = postToPaths[slug] %}

{% if postPaths %}
  <div class="flow post-signpost">
    {% set numberOfPaths = postPaths.length %}

    {% if numberOfPaths !== 0 %}
      <span class="post-signpost__title">
        {{'i18n.post.appears_in' | i18n(locale)}}:
      </span>

      {% for pathName in postPaths %}
        {% set postHref = '/' + paths[pathName].slug + '/' %}

        <a href={{postHref}} class="post-signpost__link">{{paths[pathName].title | i18n(locale)}}</a>

        {% if loop.index !== numberOfPaths %}
          <span class="post-signpost__divider"> | </span>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
