<theme-toggle>
  <!-- As part of the patterns, we'll build out a switch block and use that here -->
  <label for="theme-toggle">
    Dark mode
    <input type="checkbox" role="switch" id="theme-toggle" />
  </label>
</theme-toggle>