<theme-toggle>
  <label class="toggle-switch" for="theme-toggle">
    <span class="toggle-switch__label ">Dark theme</span>
    <input type="checkbox" role="switch" class="toggle-switch__input" id="theme-toggle" />
    <div class="toggle-switch__decor focus-ring" aria-hidden="true">
      <div class="toggle-switch__thumb"></div>
    </div>
  </label>
</theme-toggle>