<a class="w-actions__fab w-actions__fab--subscribe gc-analytics-event" data-category="web.dev" data-label="view-subscribe" data-action="click" href="/newsletter/">
  <span>{{ 'i18n.subscribe.subscribe' | i18n(locale) }}</span>
</a>
