<a class="fab gc-analytics-event" data-type="primary" data-category="web.dev" data-label="view-subscribe" data-action="click" href="/newsletter/">
  {% include "icons/subscribe.svg" %}
  <span class="fab__label">{{ 'i18n.subscribe.subscribe' | i18n(locale) }}</span>
</a>
