<web-subscribe class="w-pt--l w-pb--l">
  <div class="w-subscribe">
    <div class="w-display--flex w-justify-content--center">
      <h1 class="w-text--center">{{ subscribeTitle | default('Developer Newsletter', false) }}</h1>
    </div>
    <div class="w-display--flex w-justify-content--center">
      <div class="w-subscribe--padded">
        <p class="w-text--center w-mt--non w-subscribe__message">{{ subscribeNotes | default('Get the latest news, techniques and updates straight to your inbox.', false) }}</p>
      </div>
    </div>
    <form class="w-subscribe__form" action="{{ site.subscribeForm }}" method="post">
      <div class="w-subscribe__fields">
        <div class="w-subscribe__field">
          <label class="w-visually-hidden" for="sub-firstname">{{ 'i18n.subscribe.first_name' | i18n(locale) }}</label>
          <input id="sub-firstname" name="FirstName" placeholder="{{ 'i18n.subscribe.first_name' | i18n(locale) }}" required
            type="text" />
        </div>
        <div class="w-subscribe__field">
          <label class="w-visually-hidden" for="sub-lastname">{{ 'i18n.subscribe.last_name' | i18n(locale) }}</label>
          <input id="sub-lastname" name="LastName" placeholder="{{ 'i18n.subscribe.last_name' | i18n(locale) }}" required
            type="text" />
        </div>
      </div>
      <div class="w-subscribe__field w-display--flex">
        <label class="w-visually-hidden" for="sub-email">{{ 'i18n.subscribe.your_email' | i18n(locale) }}</label>
        <input id="sub-email" name="EmailAddress" placeholder="{{ 'i18n.subscribe.your_email' | i18n(locale) }}" required
          type="email" />
      </div>
      <div class="w-subscribe__field w-display--flex">
        <label class="w-visually-hidden" for="sub-country">{{ 'i18n.subscribe.country' | i18n(locale) }}</label>
        <select class="w-subscribe__select w-select--full-width" id="sub-country" name="Country" required>
          {% for country in countries %}
            {% if country[1] === "United States" %}
              <option selected value="{{country[0]}}">{{country[1]}}</option>
            {% else %}
              <option value="{{country[0]}}">{{country[1]}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="w-subscribe__field w-text--center w-display--flex">
        <span class="w-subscribe__notice">{{ 'i18n.subscribe.notice' | i18n(locale) }}</span>
      </div>
      <div class="w-display--flex w-justify-content--center">
        <div class="w-subscribe__field w-subscribe--padded">
          <div class="w-display--inline-flex">
            <input id="sub-newsletter" name="WebDevNewsletter" required value="Unconfirmed" class="w-checkbox" type="checkbox" />
            <label for="sub-newsletter" class="w-ml--std w-text--left">{{ 'i18n.subscribe.add_me' | i18n(locale) }}</label>
          </div>
        </div>
      </div>
      <div class="w-display--flex w-justify-content--center">
        <div class="w-subscribe__field w-subscribe--padded">
          <div class="w-display--inline-flex">
            <input id="sub-pii-spii" name="collects-pii-spii-checkbox" required value="Unconfirmed" class="w-checkbox" type="checkbox" />
            <label for="sub-pii-spii" class="w-ml--std w-text--left">
              {{ 'i18n.subscribe.i_accept_terms' | i18n(locale) | safe}}
            </label>
          </div>
        </div>
      </div>
      <div class="w-visually-hidden">
        <label for="sub-is-it-just-me-or-was-this-form-filled-out-by-a-robot">Congrats on finding this field, I'd recommend you not filling it out though...</label>
        <input type="text" id="sub-is-it-just-me-or-was-this-form-filled-out-by-a-robot" name="is-it-just-me-or-was-this-form-filled-out-by-a-robot" tabindex="-1" />
        <label for="sub-language">{{ 'i18n.subscribe.language' | i18n(locale) }}</label>
        <select id="sub-language" name="LanguagePreference" required tabindex="-1">
          <option selected value="en-US">en-US</option>
        </select>
      </div>
      <div class="w-subscribe__field w-text--center">
        <button class="w-subscribe__button w-button w-button--primary" type="submit">
          {{ 'i18n.subscribe.subscribe' | i18n(locale) }}
        </button>
      </div>
    </form>
    <div class="w-subscribe__error w-text--center w-mt--sm">
      <noscript>{{ 'i18n.subscribe.no_javascript' | i18n(locale) }}</noscript>
    </div>
  </div>
</web-subscribe>
