// =============================================================================
// BREAKPOINTS OVERVIEW
//
// Media query breakpoints used across the site.
//
// =============================================================================

// sass-lint:disable variable-name-format

// Feature phones
$BREAKPOINT_VALUE_XXSMALL: 241px;

// Smart phones
$BREAKPOINT_VALUE_XSMALL: 321px;
// Update src/lib/Assessment/index.js and src/lib/AssessmentFeedbackContainer/index.js
// if $BREAKPOINT_VALUE_SMALL changes.
$BREAKPOINT_VALUE_SMALL: 481px;

// Tablets
$BREAKPOINT_VALUE_MEDIUM: 865px;

// Desktops
$BREAKPOINT_VALUE_LARGE: 1264px;

// Large desktops
$BREAKPOINT_VALUE_XLARGE: 1441px;

// Media breakpoint helper
// Credit: http://css-tricks.com/conditional-media-query-mixins/
@mixin bp($point) {
  @if $point == xxsm {
    @media (min-width: #{$BREAKPOINT_VALUE_XXSMALL}) { @content; }
  } @else if $point == xsm {
    @media (min-width: #{$BREAKPOINT_VALUE_XSMALL}) { @content; }
  } @else if $point == sm {
    @media (min-width: #{$BREAKPOINT_VALUE_SMALL}) { @content; }
  } @else if $point == md {
    @media (min-width: #{$BREAKPOINT_VALUE_MEDIUM}) { @content; }
  } @else if $point == lg {
    @media (min-width: #{$BREAKPOINT_VALUE_LARGE}) { @content; }
  } @else if $point == xl {
    @media (min-width: #{$BREAKPOINT_VALUE_XLARGE}) { @content; }
  }
}
