@import '../settings/colors';
@import '../settings/global';
@import '../settings/type';
@import 'functions';
@import 'breakpoints';

// =============================================================================
// MIXINS OVERVIEW
//
// Helpful mixins used throughout the site.
//
// =============================================================================

// sass-lint:disable variable-name-format

// Mixin for element elevations per Google Material specs.

// @param {?number} $level - Elevation height of element via 'box-shadow'
//    property where 1 appears closer to the surface and 5 appears further away.
//    If no value is specified, then 'box-shadow' property is explicitly set
//    to 'none'.
// @param {?string=} $inset - Renders an inset shadow if value is 'inset'
//    and $level is 2.
@mixin elevation($level, $inset: null) {
  @if $level == 0 {
    border: 1px solid $GREY_300;
    box-shadow: none;

  } @else if $level == 1 {
    box-shadow:
    0 1px 2px 0 rgba($GREY_800, .3),
    0 1px 3px 1px rgba($GREY_800, .15);

  } @else if $level == 2 {
    @if $inset == 'inset' {
      box-shadow:
      0 1px 2px 0 rgba($GREY_800, .3),
      0 2px 6px 2px rgba($GREY_800, .15),
      inset 0 4px 6px -4px rgba($GREY_500, .5);

    } @else {
      box-shadow:
      0 1px 2px 0 rgba($GREY_800, .3),
      0 2px 6px 2px rgba($GREY_800, .15);
    }

  } @else if $level == 3 {
    box-shadow:
    0 1px 3px 0 rgba($GREY_800, .3),
    0 4px 8px 3px rgba($GREY_800, .15);

  } @else if $level == 4 {
    box-shadow:
    0 2px 3px 0 rgba($GREY_800, .3),
    0 6px 10px 4px rgba($GREY_800, .15);

  } @else if $level == 5 {
    box-shadow:
    0 4px 4px 0 rgba($GREY_800, .3),
    0 8px 12px 6px rgba($GREY_800, .15);

  } @else {
    box-shadow: none;
  }
}

// Mixin to add custom scrollbars to an element

// @param {?string=} $size - Width of the scrollbar in pixels
// @param {?string=} $thumbColor - Color of the scrollbar thumb
// @param {?string=} $trackColor - Color of the scrollbar track
@mixin scrollbars($size: 10px, $thumbColor: $GREY_600, $trackColor: transparent) {
  & {
    // Sass Lint doesn't recognize these shiny new properties
    // sass-lint:disable-block no-misspelled-properties
    scrollbar-color: $thumbColor $trackColor;
    scrollbar-width: thin;
  }

  &::-webkit-scrollbar {
    height: $size;
    width:  $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumbColor;
    background-clip: padding-box;
    border: $size / 4 solid $trackColor;
    border-radius: $size / 2;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($thumbColor, 12%);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: darken($thumbColor, 22%);
  }

  &::-webkit-scrollbar-track {
    background: $trackColor;
  }
}

// Mixin for overflowing text to ellipsis (…).
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Mixin for base button styles
@mixin base-button() {
  -webkit-tap-highlight-color: transparent; // Prevents tap highlight on hidden tooltips
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: $GLOBAL_RADIUS;
  color: $WEB_PRIMARY_COLOR;
  cursor: pointer;
  display: inline-flex;
  font: 500 .875rem/2.25rem $PRIMARY_FONT;
  height: 56px;
  justify-content: center;
  letter-spacing: 1px;
  outline: 0;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $TRANSITION_SPEED, box-shadow $TRANSITION_SPEED;
  @include font_smoothing(
    $FONT_SMOOTHING_MOZ,
    $FONT_SMOOTHING_WEBKIT,
    $FONT_SMOOTHING_RENDERING
  );
}

// Mixin for exposing hover styles only on devices that support hover
@mixin hover() {
  @media (hover: hover) { @content; }
}

// Mixin for styling typography via maps containing required integer values for
// font-family, font-size, font-weight, and line-height; with an optional value
// for letter-spacing.
// @param {!map} $specs - SCSS map with key/value pairs for rendering shorthand
//     'font' property.
// @prop {!number} $specs.FONT_WEIGHT
// @prop {!number} $specs.FONT_SIZE
// @prop {!number} $specs.LINE_HEIGHT
// @prop {!string} $specs.FONT_FAMILY
// @prop {?number} $specs.LETTER_SPACING
// @prop {?string} $specs.TEXT_TRANSFORM
@mixin font($specs) {
  $font_weight: map-get($specs, FONT_WEIGHT);
  $font_size: map-get($specs, FONT_SIZE);
  $font_family: map-get($specs, FONT_FAMILY);
  $line_height: map-get($specs, LINE_HEIGHT);

  // Print font styles in shorthand syntax.
  // sass-lint:disable-block indentation
  font: $font_weight #{$font_size}px / #{calculate_unitless_line_height(
      $line_height,
      $font_size
    )} $font_family;
  // sass-lint:enable-block indentation

  // Add letter-spacing if it's defined in the map.
  @if map-has-key($specs, LETTER_SPACING) {
    $letter_spacing: map-get($specs, LETTER_SPACING);
    letter-spacing: #{$letter_spacing}px;
  }

  // Add text-transform if it's defined in the map.
  @if map-has-key($specs, TEXT_TRANSFORM) {
    $text_transform: map-get($specs, TEXT_TRANSFORM);
    text-transform: $text_transform;
  }

  // Add margin-top if it's defined in the map.
  @if map-has-key($specs, MARGIN_TOP) {
    $margin_top: map-get($specs, MARGIN_TOP);
    margin-top: #{$margin_top}px;
  }

  // Add margin-bottom if it's defined in the map.
  @if map-has-key($specs, MARGIN_BOTTOM) {
    $margin_bottom: map-get($specs, MARGIN_BOTTOM);
    margin-bottom: #{$margin_bottom}px;
  }
}

// Mixin for a Material icon. This mimics the important parts of the
// 'material-icons' class defined at http://fonts.googleapis.com/css?family=Material+Icons.
// You can look up the name of an icon at https://material.io/icons/.
@mixin font-material-icon() {
  -moz-osx-font-smoothing: $FONT_SMOOTHING_MOZ; // @alternate
  -webkit-font-smoothing: $FONT_SMOOTHING_WEBKIT; // @alternate
  font: normal normal normal 24px / 1 'Material Icons';
  font-feature-settings: 'liga';
  text-rendering: $FONT_SMOOTHING_RENDERING;
  text-transform: none;
  word-wrap: normal;
}

// Sets font smoothing variables
// @param {string} $moz The value for moz-osx-font-smoothing
// @param {string} $webkit The value for webkit-font-smoothing
// @param {string} $rendering The value for text-rendering
@mixin font-smoothing($moz, $webkit, $rendering) {
  -moz-osx-font-smoothing: $moz;
  -webkit-font-smoothing: $webkit;
  text-rendering: $rendering;
}

// Sets font styles.
@mixin font-setup($size, $height, $weight: false, $rem: true) {
  @if $rem {
    font-size: px-to-rem($size);
  } @else {
    font-size: px-to-em($size);
  }

  line-height: ($height / $size);
  @if $weight {
    font-weight: $weight;
  }
}

// Sets a flexible font size
//
// @param {length()} $sm - List of lengths, in px, representing font size and line height of the smallest size
// @param {length()} $md - List of lengths, in px, representing font size and line height of the medium size
// @param {length()} $lg - List of lengths, in px, representing font size and line height of the largest size
// @param {number | boolean} $weight - Font weight, or false
@mixin flex-font($sm, $md, $lg, $weight: false) {
  // Setup basic font styling from medium size
  @include font-setup(nth($md, 1), nth($md, 2), $weight);

  // Determine scaling factor so that the large font size is reached at 1024px
  $font-scale: nth($lg, 1) / 10.24px * 1vw;
  // Set up clamp function
  $font-clamp: clamp(#{px-to-em(nth($sm, 1))}, #{$font-scale}, #{px-to-em(nth($lg, 1))});

  // Check for support for clamp function
  @supports (font-size: $font-clamp) {
    // Set font size to clamp
    font-size: $font-clamp;
    // Set line height to ratio of largest line height to font size (unitless number)
    line-height: nth($lg, 2) / nth($lg, 1);
  }
}

// -----------------------------------------------------------------------------
// Typography
//
// Elements should extend these placeholders to get consistent font styles.
// This is recommended over using mixins like @include font($SOME_FONT_MAP).
//
// -----------------------------------------------------------------------------

// For elements that want the standard font-size and line-height that appears
// on the learn and measure pages.
@mixin w-body-text {
  @include font($BODY);

  @include bp(xxsm) {
    @include font($BODY_XXSMALL);
  }

  @include bp(xsm) {
    @include font($BODY_XSMALL);
  }
}

// For elements that want the larger font-size and line-height that appears in
// articles and guides.
@mixin w-article-text {
  @include font($ARTICLE);

  @include bp(xxsm) {
    @include font($ARTICLE_XXSMALL);
  }

  @include bp(xsm) {
    @include font($ARTICLE_XSMALL);
  }
}

@mixin w-headline {
  @include font($BASE_HEADLINE);
  color: $PRIMARY_TEXT_COLOR; // DevSite override
  margin: 0;
  overflow: visible;
}

@mixin w-headline--one {
  @include font($HEADLINE_1);

  @include bp(xxsm) {
    @include font($HEADLINE_1_XXSMALL);
  }

  @include bp(xsm) {
    @include font($HEADLINE_1_XSMALL);
  }
}

@mixin w-headline--two {
  @include font($HEADLINE_2);

  @include bp(xxsm) {
    @include font($HEADLINE_2_XXSMALL);
  }

  @include bp(xsm) {
    @include font($HEADLINE_2_XSMALL);
  }
}

@mixin w-headline--two-small {
  @include font($HEADLINE_2_ARTICLE);

  @include bp(xxsm) {
    @include font($HEADLINE_2_ARTICLE_XXSMALL);
  }

  @include bp(xsm) {
    @include font($HEADLINE_2_ARTICLE_XSMALL);
  }
}

@mixin w-headline--two-faded {
  @include font($HEADLINE_2_SMALL_CAPS);
  color: $GREY_600;

  @include bp(xxsm) {
    @include font($HEADLINE_2_SMALL_CAPS_XXSMALL);
  }

  @include bp(xsm) {
    @include font($HEADLINE_2_SMALL_CAPS_XSMALL);
  }
}

@mixin w-headline--three {
  @include font($HEADLINE_3);

  @include bp(xxsm) {
    @include font($HEADLINE_3_XXSMALL);
  }

  @include bp(xsm) {
    @include font($HEADLINE_3_XSMALL);
  }
}

@mixin w-headline--four {
  @include font($HEADLINE_4);
  color: $GREY_700;

  @include bp(xxsm) {
    @include font($HEADLINE_4_XXSMALL);
  }

  @include bp(xsm) {
    @include font($HEADLINE_4_XSMALL);
  }
}

// -----------------------------------------------------------------------------
// Overlays
//
// Elements should extend these placeholders to get consistent button overlay
// effects. These are used to tint an interactive control during
// hover/focus/active states.
//
// -----------------------------------------------------------------------------

@mixin w-overlay {
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color $TRANSITION_SPEED, border $TRANSITION_SPEED;
  z-index: 1;
}

@mixin w-overlay-hover {
  background-color: rgba($GREY_900, .04);
}

@mixin w-overlay-focus {
  background-color: rgba($GREY_900, .12);
}

@mixin w-overlay-active {
  background-color: rgba($GREY_900, .16);
}
