{% Aside 'note' %}
  Each SEO audit is weighted equally
  in the Lighthouse SEO Score,
  with the exception of the manual audit,
  [structured-data audit](/structured-data).
  Learn more in [Lighthouse Scoring Guide](https://developers.google.com/web/tools/lighthouse/v3/scoring).
{% endAside %}
