{% Aside 'note' %}
  Each SEO audit is weighted equally
  in the Lighthouse SEO Score,
  except for the manual **[Structured data is valid](/structured-data)** audit.
  Learn more in the [Lighthouse Scoring Guide](https://developers.google.com/web/tools/lighthouse/v3/scoring).
{% endAside %}
