## How this audit impacts overall Lighthouse score

 Lighthouse returns an SEO score between 0 and 100.
0 is the worst possible score, and 100 is the best.
Each audit is equally weighted,
with the exception of the [structured-data audit](/structured-data),
a manual audit that's not included in the scoring.
To calculate how much each audit contributes to your overall SEO score,
count the number of SEO audits,
then divide 100 by that number.