<main class="codelab-landing-page">
  <web-codelab glitch="{{glitch}}" attribution-hidden>
    <div class="web-codelab-instructions">
      <div class="web-codelab-instructions__heading">
        <div class="web-codelab-instructions__heading-breadcrumb">
          <a class="go-back" href="{{relatedGuideHref}}" aria-label="Return to guides">
            {{relatedGuide.title}}
          </a>
        </div>
        <div class="web-codelab-instructions__heading-title">
          <div class="caps-heading">Codelab</div>
          <h1>{{title}}</h1>
        </div>
      </div>
      <div class="web-codelab-instructions__body">
{{{main}}}
      </div>
    </div>
  </web-codelab>
</main>
