{{!-- Copyright 2018 Google LLC. --}}
{{!-- SPDX-License-Identifier: Apache-2.0 --}}
<style>
  /* Temporary hack while we're in code freeze :\ */
  .web-codelab-instructions__heading h1:first-of-type {
    margin: 16px 0 0;
  }

  .web-codelab-instructions__body h2:first-of-type {
    margin: 24px 0 24px;
  }

  .web-codelab-instructions__body h2 {
    margin: 32px 0 24px;
  }

  .web-codelab-instructions__body p,
  .web-codelab-instructions__body ul li,
  .web-codelab-instructions__body ol li {
    font-size: 14px;
    line-height: 1.5;
  }

  .web-codelab-instructions__body ul {
    margin: 24px 0;
  }

  .web-codelab-instructions__body pre {
    font-size: 13px;
  }
</style>
<main class="codelab-landing-page">
  <web-codelab glitch="{{glitch}}" attribution-hidden>
    <div class="web-codelab-instructions">
      <div class="web-codelab-instructions__heading">
        <div class="web-codelab-instructions__heading-breadcrumb">
          <a class="go-back gc-analytics-event"
              data-category="web.dev"
              data-label="codelab, go back"
              data-action="click"
              aria-label="Return to guides"
              href="{{relatedGuide.href}}">
            {{relatedGuide.title}}
          </a>
        </div>
        <div class="web-codelab-instructions__heading-title">
          <h1>{{title}}</h1>
        </div>
      </div>
      <div class="web-codelab-instructions__body">
{{{main}}}
      </div>
    </div>
  </web-codelab>
</main>
