<style>
  /* Temporary hack while we're in code free :\ */
  .web-codelab-instructions__body p,
  .web-codelab-instructions ul li,
  .web-codelab-instructions ol li {
    font-size: 14px;
    line-height: 1.2;
  }
</style>
<main class="codelab-landing-page">
  <web-codelab glitch="{{glitch}}" attribution-hidden>
    <div class="web-codelab-instructions">
      <div class="web-codelab-instructions__heading">
        <div class="web-codelab-instructions__heading-breadcrumb">
          <a class="go-back gc-analytics-event"
              data-category="web.dev"
              data-label="codelab, go back"
              data-action="click"
              aria-label="Return to guides"
              href="{{relatedGuideHref}}">
            {{relatedGuide.title}}
          </a>
        </div>
        <div class="web-codelab-instructions__heading-title">
          <div class="caps-heading">Codelab</div>
          <h1>{{title}}</h1>
        </div>
      </div>
      <div class="web-codelab-instructions__body">
{{{main}}}
      </div>
    </div>
  </web-codelab>
</main>
