<main class="guide-landing-page">
  <div class="container">

    <!-- BREADRUMBS AND PROGRESS -->
    <div class="row">
      <div class="breadcrumbs-and-progress">
        <div class="breadcrumbs">
          <ul>
            <li>
              <a href="{{path.href}}"
                  class="gc-analytics-event"
                  data-category="web.dev"
                  data-label="guide, path breadcrumb"
                  data-action="click">{{path.title}}</a>
            </li>
            {{#if topic}}
            <li>
              <a href="{{path.href}}#topic-{{topic.id}}"
                  class="gc-analytics-event"
                  data-category="web.dev"
                  data-label="guide, topic breadcrumb"
                  data-action="click">{{topic.title}}</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>

    <!-- GUIDE AND SIDEBAR -->
    <div class="row">
      <article class="guide">
{{{main}}}

  <hr />

  {{#if codelabs.length}}
  <!-- CODELAB CTAs -->
  <div class="caps-heading">Codelabs</div>
  <h2>See it in action</h2>
  <p>
    Learn more and put this guide into action:
  </p>
  {{#each codelabs}}
  <div class="codelab-cta">
    <span class="codelab-cta__title">{{title}}</span>
    <a href="{{href}}"
        class="button button-flat gc-analytics-event"
        data-category="web.dev"
        data-label="guide, codelab cta"
        data-action="click">Start</a>
  </div>
  {{/each}}
  {{/if}}
</article>

{{#if codelabs.length}}
<!-- SIDEBAR -->
<div class="sidebar">
  <div class="sidebar__container">
    <div class="sidebar__panel">
      <h2 class="sidebar__title" slot="trigger">Codelabs</h2>
      <div class="sidebar__content" slot="panel">
        {{#each codelabs}}
          <div class="codelab-cta codelab-cta--sidebar">
            <a class="codelab-cta__title codelab-cta--sidebar__title gc-analytics-event"
                data-category="web.dev"
                data-label="guide, codelab sidebar cta"
                data-action="click"
                href="{{href}}">
              {{title}}
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}

    </div>
  </div>
</main>

<!-- CALL TO ACTION: NEXT GUIDE -->
<div class="cta-next-guide">
  {{#if next}}
  <div class="cta-next-guide__wrapper">
    <div class="cta-next-guide__heading">
      Next Guide
    </div>
    <a class="cta-next-guide__link gc-analytics-event"
        data-category="web.dev"
        data-label="guide, next guide"
        data-action="click"
        href="{{next.href}}">
      {{next.title}}
    </a>
  </div>
  {{/if}}
  <a class="go-back cta-next-guide__go-back gc-analytics-event"
      data-category="web.dev"
      data-label="guide, go back"
      data-action="click"
      href="{{path.href}}">
    Return to all guides
  </a>
</div>
