<main class="learn-landing-page">
  <div class="container">
    <div class="hero-area hero-area-row row">
      <h1 class="hero-title">Learn</h1>
      <p>Explore our structured learning paths to discover everything you need to know about building for the modern web.</p>
    </div>
    <div class="heading-row row">
      <h2>Discover how to make your site better</h2>
    </div>
    <div class="row">
      <div class="card-row">
{{#each paths}}
<div class="card">
  <div class="card__header card__header--colored card__header--{{id}}">
    <a href="#" class="card__new">1 New</a>
    <a href="#" class="card__progress">In Progress</a>
  </div>
  <div class="card__content">
    <p class="card__title">{{config.title}}</p>
    <p class="card__desc">{{config.blurb}}</p>
    <div class="card__actions">
      <a href="{{href}}" class="button button-flat button-justify-left">Explore</a>
    </div>
  </div>
</div>
{{/each}}
      </div>
    </div>
  </div>
</main>
