{{!-- Copyright 2018 Google LLC. --}}
{{!-- SPDX-License-Identifier: Apache-2.0 --}}
<header class="feature">
  <div class="container">
    <div class="row">

<div class="feature-right path--{{path}}">
  <!-- nb. feature image appears before text for mobile view -->
</div>
<div class="feature-left">
  <div>
    <h1>{{title}}</h1>
    <p>{{blurb}}</p>
  </div>
</div>

    </div>
  </div>
</header>

<div class="path-landing-page">
  <section>
    <div class="container">
      <div class="row">
  <article class="path-intro">
    <h2>Overview</h2>
    {{{overview}}}
  </article>
  <article class="path-learn">
    <h2>What you'll learn</h2>
    <ul>
  {{#each topics}}
  <li>
    <div class="tick" aria-hidden="true">done</div>
    <div>{{title}}</div>
  </li>
  {{/each}}
    </ul>
  </article>
      </div>
    </div>
  </section>
  <hr>

  <main>
    <div class="container">
      <div class="row">
  {{#each topics}}
  <!-- TOPIC -->
  <div class="topic">
    <div class="title">
      <h2 id="topic-{{id}}">{{title}}</h2>
    </div>

    <!-- GUIDES FOR TOPIC  -->
    <ul class="guides">
  {{#each guides}}
  <li>
    {{#if flags.complete}}
    <web-progress-mark guide="{{id}}">
      <div class="marker" aria-hidden="true"></div>
    </web-progress-mark>
    {{else}}
    <div class="marker" aria-hidden="true"></div>
    {{/if}}
    <a href="{{href}}">
      {{title}}
    </a>
  </li>
  {{/each}}
    </ul>
  </div>
  {{/each}}
      </div>
    </div>
  </main>
</div>
