{{#each paths}}
<div class="card card--{{id}}">
  <div class="card__header card__header--colored card__header--{{id}}">
    {{#if config.disabled}}<span class="card__progress">Coming Soon</span>{{/if}}
  </div>
  <div class="card__content">
    <p class="card__title">{{config.title}}</p>
    <p class="card__desc">{{config.blurb}}</p>
    {{#if config.disabled}}
    {{else}}
    <div class="card__actions">
      <a href="{{href}}"
          data-category="web.dev"
          data-label="learn, {{href}} explore"
          data-action="click"
          class="button button-flat button-justify-left">Explore</a>
    </div>
    {{/if}}
  </div>
</div>
{{/each}}
