{{!-- Copyright 2018 Google LLC. --}}
{{!-- SPDX-License-Identifier: Apache-2.0 --}}
{{#each paths}}
<div class="card card--{{name}}">
  <div class="card__header card__header--colored card__header--{{name}}">
    {{#if disabled}}<span class="card__progress">Coming Soon</span>{{/if}}
  </div>
  <div class="card__content">
    <p class="card__title">{{title}}</p>
    <p class="card__desc">{{description}}</p>
    {{#if disabled}}
    {{else}}
    <div class="card__actions">
      <a href="{{href}}"
          data-category="web.dev"
          data-label="learn, {{href}} explore"
          data-action="click"
          class="button button-flat button-justify-left">Explore</a>
    </div>
    {{/if}}
  </div>
</div>
{{/each}}
