---
permalink: false
layout: sandbox/article
title: blockquote
tags:
  - sandbox
---

<blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum
    a massa sit amet ullamcorper.
  </p>
  <cite>
    by Jon Doe
  </cite>
</blockquote>