<label for="{{ data.id }}" class="w-visually-hidden">{{ data.label }}</label>
<input
  id="{{ data.id }}"
  name="{{ data.name }}"
  type="{{ data.type }}"
  required
  placeholder="{{ data.label }}"
/>
