---
layout: sandbox/layout
title: collection
tags:
  - sandbox
---

<div class="w-layout-container">
  <div class="w-layout-grid--three">
    <div class="w-card">
      <div class="w-collection">
        <div class="w-collection__info">
          <ul class="w-collection__info-list">
            <li
              class="w-collection__info-listitem w-collection__info-listitem--category"
            >
              Collection
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--more-info"
            >
              23 resources
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--updated"
            >
              Updated <time>May 24, 2018</time>
            </li>
          </ul>
        </div>
        <div class="w-collection__cover">
          <img
            class="w-collection__cover-image"
            src="/img/collection-cover-1.png"
          />
        </div>
        <div class="w-collection__desc">
          <h2 class="w-collection__headline">Fast load times</h2>
          <p class="w-collection__summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="w-chips">
            <a class="w-chip" href="#">Performance</a>
            <a class="w-chip" href="#">Build Tools</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-card">
      <div class="w-collection">
        <div class="w-collection__info">
          <ul class="w-collection__info-list">
            <li
              class="w-collection__info-listitem w-collection__info-listitem--category"
            >
              Collection
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--more-info"
            >
              23 resources
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--updated"
            >
              Updated <time>May 24, 2018</time>
            </li>
          </ul>
        </div>
        <div class="w-collection__cover">
          <img
            class="w-collection__cover-image"
            src="/img/collection-cover-1.png"
          />
        </div>
        <div class="w-collection__desc">
          <h2 class="w-collection__headline">Fast load times</h2>
          <p class="w-collection__summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="w-chips">
            <a class="w-chip" href="#">Performance</a>
            <a class="w-chip" href="#">Build Tools</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-card">
      <div class="w-collection">
        <div class="w-collection__info">
          <ul class="w-collection__info-list">
            <li
              class="w-collection__info-listitem w-collection__info-listitem--category"
            >
              Collection
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--more-info"
            >
              23 resources
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--updated"
            >
              Updated <time>May 24, 2018</time>
            </li>
          </ul>
        </div>
        <div class="w-collection__cover">
          <img
            class="w-collection__cover-image"
            src="/img/collection-cover-1.png"
          />
        </div>
        <div class="w-collection__desc">
          <h2 class="w-collection__headline">Fast load times</h2>
          <p class="w-collection__summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="w-chips">
            <a class="w-chip" href="#">Performance</a>
            <a class="w-chip" href="#">Build Tools</a>
          </div>
        </div>
      </div>
    </div>
    <div class="w-card">
      <div class="w-collection">
        <div class="w-collection__info">
          <ul class="w-collection__info-list">
            <li
              class="w-collection__info-listitem w-collection__info-listitem--category"
            >
              Collection
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--more-info"
            >
              23 resources
            </li>
            <li
              class="w-collection__info-listitem w-collection__info-listitem--updated"
            >
              Updated <time>May 24, 2018</time>
            </li>
          </ul>
        </div>
        <div class="w-collection__cover">
          <img
            class="w-collection__cover-image"
            src="/img/collection-cover-1.png"
          />
        </div>
        <div class="w-collection__desc">
          <h2 class="w-collection__headline">Fast load times</h2>
          <p class="w-collection__summary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="w-chips">
            <a class="w-chip" href="#">Performance</a>
            <a class="w-chip" href="#">Build Tools</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
