{% Aside 'note' %}
  Each PWA audit is weighted equally
  in the Lighthouse PWA Score,
  with the exception of three manual audits:
  [Site works cross-browser](/pwa-cross-browser),
  [Page transitions don't feel like they block on the network](/pwa-page-transitions),
  [Each page has a URL](/pwa-each-page-has-url).
  Learn more in [The Progressive Web App score](https://developers.google.com/web/tools/lighthouse/v3/scoring#pwa).
{% endAside %}
