---
patternId: advanced-apps/shortcuts
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <link rel="manifest" href="assets/manifest.json" />
    <title>How to create app shortcuts</title>
    <style>
      html {
        font-family: system-ui, sans-serif;
      }
    </style>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('sw.js');
        });
      }
    </script>
    <script type="module">
      const installButton = document.querySelector('button');
      if ('BeforeInstallPromptEvent' in window) {
        let installEvent = null;
        const onInstall = () => {
          installButton.disabled = true;
          installEvent = null;
        };
        window.addEventListener('beforeinstallprompt', (event) => {
          event.preventDefault();
          installEvent = event;
          installButton.disabled = false;
        });
        installButton.addEventListener('click', async () => {
          if (!installEvent) {
            return;
          }
          installEvent.prompt();
          const result = await installEvent.userChoice;
          if (result.outcome === 'accepted') {
            onInstall();
          }
        });
        window.addEventListener('appinstalled', (event) => {
          onInstall();
        });
      }
    </script>
  </head>
  <body>
    <h1>How to create app shortcuts</h1>
    <ol>
      <li>
        You can drag these <a href="blue.html">blue page</a> or
        <a href="red.html">red page</a> links to the bookmarks bar
        and access them later.
      </li>
      <li>
        Install the app by clicking the button below. After the installation,
        the button is disabled.
        <p>
          <button disabled>Install</button>
        </p>
      </li>
    </ol>
  </body>
</html>
