The best way to improve your performance metrics
is to consider your page load speed holistically.
Any increase in load speed will improve
your overall Lighthouse Performance score
_and_ most individual metrics.

Use the **Opportunities** section of your Lighthouse report
to determine which improvements will have the most value for your page.
The more significant the opportunity,
the greater the effect it will have on your Performance score.
For example, the Lighthouse screenshot below shows that
[eliminating render-blocking resources](/render-blocking-resources)
will yield the biggest time savings for the audited page's load speed:

<figure class="w-figure">
  <img class="w-screenshot w-screenshot--filled" src="/images/includes/opportunities.png" alt="Lighthouse: Opportunities section">
</figure>

See the [Performance audits landing page](/lighthouse-performance)
to learn how to address the opportunities identified in your Lighthouse report.
