- [Only send the code that your users need by implementing code splitting](/reduce-javascript-payloads-with-code-splitting).
- [Minify and compress your code](/reduce-network-payloads-using-text-compression).
- [Remove unused code](/remove-unused-code).
- [Reduce network trips by caching your code with the PRPL pattern](/apply-instant-loading-with-prpl).

For other ways to improve page load, check out the
[Performance audits landing page](/lighthouse-performance).
