---
permalink: false
layout: sandbox/layout
title: path-card
tags:
  - sandbox
---

<section class="w-grid">
  <h3 class="w-learn-heading">Learning paths</h3>
  <div class="w-grid__columns w-grid__columns--gapless w-grid__columns--three" role="list">
    {% for path in paths %}
      {% PathCard path %}
    {% endfor %}
  </div>
</section>
