<button 
  class="button"
  {% if data.type %}data-type="{{ data.type }}"{% endif %}
  {% if data.attribute %}{{ data.attribute }}{% endif %}
>
  {% if data.icon %}
    {% include "icons/" ~ data.icon %}
  {% endif %}
  {{ data.text }}
</button>
