---
permalink: false
layout: sandbox/article
title: codelabs-callout
tags:
  - sandbox
---

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis
molestiae et porro maiores maxime dolorem tempora quis ipsa ratione cum quaerat
perspiciatis vel, sed consequuntur incidunt quas! Ab, ad?
</p>

<div class="w-codelabs-callout">
  <div class="w-codelabs-callout__header">
    <h2 class="w-codelabs-callout__lockup">Codelabs</h2>
    <div class="w-codelabs-callout__headline">See it in action</div>
    <div class="w-codelabs-callout__blurb">
      Learn more and put this guide into action.
    </div>
  </div>
  <ul class="w-unstyled-list w-codelabs-callout__list">
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Fix sneaky 404s
      </a>
    </li>
  </ul>
</div>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis
molestiae et porro maiores maxime dolorem tempora quis ipsa ratione cum quaerat
perspiciatis vel, sed consequuntur incidunt quas! Ab, ad?
</p>

<div class="w-codelabs-callout">
  <div class="w-codelabs-callout__header">
    <h2 class="w-codelabs-callout__lockup">Codelabs</h2>
    <div class="w-codelabs-callout__headline">See it in action</div>
    <div class="w-codelabs-callout__blurb">
      Learn more and put this guide into action.
    </div>
  </div>
  <ul class="w-unstyled-list w-codelabs-callout__list">
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Fix sneaky 404s
      </a>
    </li>
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Using imagemin with Gulp
      </a>
    </li>
  </ul>
</div>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis
molestiae et porro maiores maxime dolorem tempora quis ipsa ratione cum quaerat
perspiciatis vel, sed consequuntur incidunt quas! Ab, ad?
</p>

<div class="w-codelabs-callout">
  <div class="w-codelabs-callout__header">
    <h2 class="w-codelabs-callout__lockup">Codelabs</h2>
    <div class="w-codelabs-callout__headline">See it in action</div>
    <div class="w-codelabs-callout__blurb">
      Learn more and put this guide into action.
    </div>
  </div>
  <ul class="w-unstyled-list w-codelabs-callout__list">
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Using imagemin with Grunt and some hella long text this is totally
        gonna wrap on mobile
      </a>
    </li>
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Using imagemin with Gulp
      </a>
    </li>
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Using imagemin with Webpack
      </a>
    </li>
  </ul>
</div>

<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum officiis
molestiae et porro maiores maxime dolorem tempora quis ipsa ratione cum quaerat
perspiciatis vel, sed consequuntur incidunt quas! Ab, ad?
</p>

<div class="w-codelabs-callout">
  <div class="w-codelabs-callout__header">
    <h2 class="w-codelabs-callout__lockup">Codelabs</h2>
    <div class="w-codelabs-callout__headline">See it in action</div>
    <div class="w-codelabs-callout__blurb">
      Learn more and put this guide into action.
    </div>
  </div>
  <ul class="w-unstyled-list w-codelabs-callout__list">
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Using imagemin with Grunt and some hella long text this is totally
        gonna wrap on mobile
      </a>
    </li>
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Using imagemin with Gulp
      </a>
    </li>
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Using imagemin with Webpack
      </a>
    </li>
    <li class="w-codelabs-callout__listitem">
      <a class="w-codelabs-callout__link" href="#">
        Fix sneaky 404s
      </a>
    </li>
  </ul>
</div>