---
permalink: false
layout: sandbox/article
title: asides
tags:
  - sandbox
---

{% Aside 'note' %}
  Lorem ipsum dolor sit amet, [consectetur adipiscing elit](#). Proin dictum a
  massa sit amet ullamcorper. Suspendisse auctor ultrices ante, nec tempus nibh
  varius at. `Cras ligula lacus`, porta vitae maximus a, ultrices a mauris.
  [`Vestibulum porta`](#) dolor erat, vel molestie dolor posuere in. Nam vel
  elementum augue.
{% endAside %}

{% Aside 'caution' %}
  [This type of callout](#) suggests proceeding with caution.
{% endAside %}

{% Aside 'warning' %}
  This type of callout is stronger than a Caution; it means "Don't do
  this."
{% endAside %}

{% Aside 'success' %}
  This type of callout describes a successful action or an error-free
  status.
{% endAside %}

{% Aside 'objective' %}
  This type of callout defines the goal of a procedure.
{% endAside %}

{% Aside 'gotchas' %}
  The value of the `type` attribute should be the MIME type corresponding to the
  image format. An image's MIME type and its file extension are often similar,
  but they aren't necessarily the same thing (e.g. `.jpg` vs. `image/jpeg`).
{% endAside %}

{% Aside 'key-term' %}
  This type of callout defines important terminology.
{% endAside %}

{% Aside 'codelab' %}
  [Using Imagemin with Grunt](#)
{% endAside %}