devsite-debug-info {
  background: #fff;
  bottom: 16px;
  color: #80868b;
  -webkit-box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  left: 16px;
  max-height: 50%;
  overflow: auto;
  position: fixed;
  padding: 0 16px;
  z-index: 1014;
}
devsite-debug-info * {
  font-size: 12px;
  line-height: 1;
}
devsite-debug-info .devsite-debug-info-buttons {
  padding-top: 16px;
}
devsite-debug-info .devsite-debug-info-buttons button {
  border-radius: 50%;
  padding: 0;
}
devsite-debug-info h3 {
  font-weight: bold;
  overflow: visible;
}
devsite-debug-info .bad {
  color: #c53929;
}
devsite-debug-info .good {
  color: #0d904f;
}
devsite-debug-info span {
  font-weight: bold;
}
