devsite-snackbar {
  bottom: 0;
  left: 0;
  margin-right: 24px;
  min-width: 288px;
  position: fixed;
  right: 0;
  z-index: 99999;
}
devsite-snackbar .devsite-snackbar-snack {
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 24px 24px;
  position: absolute;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 1, 1),
    -webkit-transform 0.2s cubic-bezier(0.4, 0, 1, 1);
}
devsite-snackbar [show].devsite-snackbar-snack {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
devsite-snackbar .devsite-snackbar-inner {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #3c4043;
  border-radius: 2px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  min-height: 48px;
  padding: 0;
}
devsite-snackbar .devsite-snackbar-message {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  line-height: normal;
  overflow: hidden;
  padding: 24px;
  text-overflow: ellipsis;
  word-break: break-word;
}
devsite-snackbar .devsite-snackbar-action,
devsite-snackbar .devsite-snackbar-link {
  -ms-flex-item-align: center;
  align-self: center;
  color: #eeff41;
  cursor: pointer;
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  float: right;
  font-weight: 500;
  height: auto;
  outline: none;
  padding: 14px 24px;
  position: relative;
}
devsite-snackbar .devsite-snackbar-action,
devsite-snackbar .devsite-snackbar-action:active,
devsite-snackbar .devsite-snackbar-action:focus,
devsite-snackbar .devsite-snackbar-action:hover,
devsite-snackbar .devsite-snackbar-link,
devsite-snackbar .devsite-snackbar-link:active,
devsite-snackbar .devsite-snackbar-link:focus,
devsite-snackbar .devsite-snackbar-link:hover {
  background: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
devsite-snackbar .devsite-snackbar-link:focus {
  text-decoration: none;
}
@media screen and (max-width: 840px) {
  devsite-snackbar {
    margin-right: 0;
    max-width: 100%;
  }
  devsite-snackbar [type='cookie-notification'] .devsite-snackbar-inner,
  devsite-snackbar [type^='notification-'] .devsite-snackbar-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  devsite-snackbar [type='cookie-notification'] .devsite-snackbar-message,
  devsite-snackbar [type^='notification-'] .devsite-snackbar-message {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-bottom: 0;
  }
  devsite-snackbar .devsite-snackbar-inner {
    border-radius: 0;
  }
  devsite-snackbar .devsite-snackbar-snack {
    left: 0;
    padding: 24px 0 0;
    right: 0;
  }
}
