devsite-heading {
  display: block;
}
devsite-heading[link] {
  margin-right: -40px !important;
  padding-right: 40px !important;
}
devsite-heading .devsite-heading-link.material-icons {
  color: #80868b;
  height: 24px;
  margin-right: -40px;
  opacity: 0;
  vertical-align: middle;
}
devsite-heading .devsite-heading-link.material-icons:focus,
devsite-heading .devsite-heading-link.material-icons:hover {
  color: #039be5;
  cursor: pointer;
}
devsite-heading .devsite-heading-link:focus,
devsite-heading .devsite-heading-link:hover,
devsite-heading:hover .devsite-heading-link {
  opacity: 1;
}
devsite-heading .devsite-heading-link::after {
  content: 'link';
}
devsite-heading .devsite-back-to-top-link {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
devsite-heading .devsite-back-to-top-link::before {
  content: 'arrow_upward';
}
devsite-heading .devsite-back-to-top-link:focus {
  color: #b3e5fc;
  text-decoration: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
@media screen and (max-width: 1240px) {
  devsite-heading[back-to-top] h2 {
    position: relative;
  }
  devsite-heading[back-to-top][link] h2 {
    margin-right: 0 !important;
    padding-right: 64px !important;
  }
  devsite-heading .devsite-back-to-top-link {
    display: block;
  }
}
