devsite-tooltip-msg {
  border-radius: 2px;
  background: rgba(95, 99, 104, 0.9);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 500 10px/10px Roboto, sans-serif;
  margin-top: 8px;
  opacity: 1;
  padding: 6px 8px;
  pointer-events: none;
  position: absolute;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1020;
}
