@import '../settings/colors';
@import '../settings/dimensions';
@import '../tools/mixins';

// =============================================================================
// VETOS OVERVIEW
//
// This file nullifies DevSite styles we don't want on our site.
//
// =============================================================================

$TAB_HEIGHT: 64px;

// sass-lint:disable class-name-format

// These overrides make the .devsite-main-content element act like any other
// block level element.

// 599px to minimum size
body[layout] .devsite-main-content {
  margin: 0 auto;
  max-width: none;
  padding: 0;
}

@media screen and (max-width: 600px) {
  body[layout='full'] .devsite-main-content {
    padding: 0;
  }
}

// 1023px - 600px
@media screen and (min-width: $BREAKPOINT_VALUE_MOBILE) {
  body[layout] .devsite-main-content {
    max-width: none;
    padding: 0;
  }
}

// 1440px - 1024px
@media screen and (min-width: $BREAKPOINT_VALUE_TABLET_LANDSCAPE) {
  body[layout] .devsite-main-content {
    max-width: none;
  }
}

// 1441px+
@media screen and (min-width: $BREAKPOINT_VALUE_DESKTOP) {
  body[layout] .devsite-main-content {
    max-width: none;
    padding: 0;
  }
}

devsite-header .devsite-top-logo-row,
devsite-tabs,
devsite-book-nav .devsite-mobile-header {
  height: $TAB_HEIGHT;
}

devsite-header .devsite-site-logo-link:focus {
  opacity: 1;
}

devsite-header .devsite-site-logo,
devsite-book-nav .devsite-site-logo {
  height: 30px; // natural height of lockup
}

devsite-search {
  align-self: center;
  margin: 14px 0 14px 24px;
}

devsite-header devsite-search-background {
  padding: 14px 0;
}

devsite-tabs.upper-tabs tab a {
  display: flex;
}

devsite-tabs.upper-tabs tab a,
devsite-tabs.upper-tabs tab a:focus,
devsite-tabs.upper-tabs tab a:hover,
devsite-tabs.upper-tabs tab a:active {
  color: $PRIMARY_TEXT_COLOR !important; // DevSite override
  font-weight: 500;
  outline: 0;
  text-decoration: none;
}

devsite-tabs.upper-tabs tab a:hover {
  background-color: rgba($PRIMARY_TEXT_COLOR, .04);
}

devsite-tabs.upper-tabs tab a:focus {
  background-color: rgba($PRIMARY_TEXT_COLOR, .12);
}

devsite-tabs.upper-tabs tab a:active {
  background-color: rgba($PRIMARY_TEXT_COLOR, .16);
}

devsite-tabs.upper-tabs tab a.selected {
  color: $WEB_PRIMARY_COLOR !important; // DevSite override
}

devsite-user:not([signed-in]) {
  flex: 0 0 96px;
  margin-right: -8px; // fouc prevention
}

// At runtime DevSite will wrap h1-h6s in devsite-heading elements and attempt
// to linkify them. This disables their link buttons because it breaks our
// design.
devsite-heading .devsite-heading-link,
devsite-heading .devsite-back-to-top-link {
  display: none !important;
}

// devsite-heading adds its styles after our CSS has loaded. Its styles already
// contain !important so we add body to increase specificity :(
body devsite-heading[link] {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.devsite-collapsible-section.devsite-header-no-lower-tabs {
  display: none;
}

.devsite-site-logo-link:focus,
.devsite-footer-sites-logo-link:focus {
  outline: auto;
  outline-color: $WEB_SECONDARY_COLOR;
}

.devsite-site-logo-link:active {
  background: transparent !important;
}

devsite-content-footer.container.nocontent {
  color: $GREY_700;
  margin-bottom: 32px;
}

// Make the sidebar anchor 100% width so the focus
// ring is wraps around the container.
.devsite-nav-title {
  width: 100%;
}

.devsite-footer-linkbox-link:hover,
.devsite-footer-linkbox-link:focus,
.devsite-footer-sites-link:hover,
.devsite-footer-sites-link:focus,
.devsite-footer-utility-link:hover,
.devsite-footer-utility-link:focus {
  color: $WEB_PRIMARY_COLOR !important;
}

body devsite-footer-utility .devsite-footer-utility-button > .devsite-footer-utility-link {
  background-color: $WEB_PRIMARY_COLOR !important;
  color: $WHITE !important;
  outline: 0 !important;
  position: relative;
  text-decoration: none !important;
}

body devsite-footer-utility .devsite-footer-utility-button > a::after {
  @include w-overlay();
}

body devsite-footer-utility .devsite-footer-utility-button > a:hover::after {
  background-color: rgba($WHITE, .08);
}

body devsite-footer-utility .devsite-footer-utility-button > a:focus::after {
  background-color: rgba($WHITE, .24);
}

body devsite-footer-utility .devsite-footer-utility-button > a:active::after {
  background-color: rgba($WHITE, .32);
}

body .devsite-footer-utility-button {
  display: none;
}
