---
patternId: gui-challenges/template
draft: true
noindex: true
---

<!DOCTYPE html>
<html dir="ltr">
  <head>
    <link rel="icon" href="https://web-dev.imgix.net/image/vS06HQ1YTsbMKSFTIPl2iogUQP73/PGTSinGx9liHBuzggHNC.svg" type="image/svg+xml">
    <style>
      
    </style>
  </head>
  <body>
     

    <script>
      
    </script>
  </body>
</html>
