/// ROLLOUT PATCHES
/// These styles must be removed when the rollout is complete.
/// They tweak existing, difficult to change, elements but should
/// be completely useless once those elements have been changed

.w-callout {
  max-width: $global-prose-element-max-width;
  border: 1px solid get-utility-value('color', 'stroke');
}

.w-callout__lockup::before {
  display: none;
}

/// The assesment component recreates inputs, so we need to pull that out
.web-select-group__input {
  opacity: 1 !important;
}

.web-select-group__selector {
  display: none !important;
}

.web-select-group__option-content {
  padding-inline-start: $global-gutter-narrow;
}

/// SITE HEADER SIGN IN
.site-header .w-profile-signin {
  display: inline-block;
  padding: 1.5em $global-gutter-narrow;
  text-decoration: none;
  text-transform: none;
  font: inherit;
  flex: none;

  @include apply-utility('color', 'mid-text');
}

/// Strong-arm the Google branded dialog
.site-header .w-profile-dialog__account:link,
.site-header .w-profile-dialog__account:visited {
  color: #fff;
  text-decoration: none;
}

.site-header .w-profile-dialog__account:hover {
  background: #4d90fe;
}

.site-header .w-profile-dialog__privacy:hover {
  background: none;
}

/// RESPONSIVE OVERRIDES
@include media-query('md') {
  web-profile-switcher-container {
    margin-left: 0 !important;
  }
}

web-url-chooser {
  /// Temporary button styles, as the class "button" cannot be safely added as it used by the old css.
  .w-button {
    text-transform: uppercase;
    letter-spacing: 0.03ch;
    border-radius: 3px;
    padding: 1.4em 1em;
    display: inline-flex;
    align-items: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: var(--color-action-bg);
    color: var(--color-action-text);
    font-weight: 500;
    line-height: 1.2;
  }

  .w-button[data-type='primary'] {
    border-color: var(--color-action-bg-primary);
    background: var(--color-action-bg-primary);
    color: var(--color-action-text-primary);
  }

  .w-button[disabled] {
    filter: invert(0.2) !important;
    box-shadow: none !important;
    transform: none !important;
    cursor: not-allowed !important;
  }
}

.w-label + web-copy-code {
  --flow-space: 0.5rem;
}

share-action.fab {
  gap: unset;
}
