/// ROLLOUT PATCHES
/// These styles must be removed when the rollout is complete.
/// They tweak existing, difficult to change, elements but should
/// be completely useless once those elements have been changed
.w-visually-hidden {
  @extend .visually-hidden;
}

.w-table-wrapper {
  @extend .table-wrapper;
}

.w-callout {
  max-width: $global-prose-element-max-width;
  border: 1px solid get-utility-value('color', 'stroke');
}

.w-callout__lockup::before {
  display: none;
}

web-response-mc {
  display: block;
  margin-block-start: get-size('base');
}

/// These overly specific selectors are unfortunately going to have to
/// stay until we can either: rip the CSS out of the web components or
/// get into the web component CSS safely and refactor
.web-assessment__lockup,
web-tabs .web-tabs__tab[aria-selected='true'] {
  color: #{get-utility-value('color', 'state-good-text')} !important;
}

web-tabs .web-tabs__tab[aria-selected='true']::after {
  background: #{get-utility-value('color', 'state-good-text')} !important;
}

.web-question__content {
  padding: $global-gutter !important;

  [data-role='stimulus'] {
    @extend .flow;
  }
}

.web-assessment__launcher {
  padding: $global-gutter-narrow;
  @include apply-utility('bg', 'mid-bg');

  .web-assessment__open {
    @extend .button;

    width: max-content;
    margin-block-start: get-space('base');

    &:hover {
      @include apply-utility('bg', 'accent-bg');
    }
  }
}

.web-assessment__close {
  @extend .button;

  padding: 0.5rem;
}

.web-assessment__button {
  @extend .button;
}

[state='completed'] .web-question__cta::before {
  display: none;
}

.web-tabs__text-label {
  color: get-utility-value('color', 'core-text') !important;
}

/// The assesment component recreates inputs, so we need to pull that out
.web-select-group__input {
  opacity: 1 !important;
}

.web-select-group__selector {
  display: none !important;
}

.web-select-group__option-content {
  padding-inline-start: $global-gutter-narrow;
}

/// SITE HEADER SEARCH OVERRIDES
.site-header__search {
  .web-search__input-wrapper,
  web-search-results {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  web-search-results {
    inset-block-start: 1.5rem;
  }

  .web-search-popout {
    height: unset;
    line-height: 1.4;
    border: 1px solid get-utility-value('color', 'stroke');
    border-radius: $global-radius-base;
    padding: 0;
    z-index: 99;

    a {
      color: currentColor;
    }
  }

  .web-search-popout__list {
    @extend .stack-nav;

    margin: 0;
    border-block-start: 1px solid get-utility-value('color', 'stroke');
  }

  .web-search-popout__heading {
    font-size: get-size('base');
    padding: 0.5rem $global-gutter-narrow;
  }

  .web-search__input {
    @extend .focus-ring;

    border-radius: $global-radius-base;
  }

  .web-search__search-icon {
    transform: translateY(1px); // Optical adjustment
  }
}

.site-header web-search[expanded] .web-search__input-wrapper,
.site-header web-search-results {
  width: clamp(16rem, 40vw, 25rem);
}

/// SITE HEADER SIGN IN
.site-header .w-profile-signin {
  display: inline-block;
  padding: 1.5em $global-gutter-narrow;
  text-decoration: none;
  text-transform: none;
  font: inherit;
  flex: none;

  @include apply-utility('color', 'mid-text');
}

/// Strong-arm the Google branded dialog
.site-header .w-profile-dialog__account:link,
.site-header .w-profile-dialog__account:visited {
  color: #fff;
  text-decoration: none;
}

.site-header .w-profile-dialog__account:hover {
  background: #4d90fe;
}

.site-header .w-profile-dialog__privacy:hover {
  background: none;
}

/// RESPONSIVE OVERRIDES
@include media-query('md') {
  web-assessment.w-callout {
    margin-inline: auto !important;
  }

  web-profile-switcher-container {
    margin-left: 0 !important;
  }
}

web-url-chooser {
  /// Temporary button styles, as the class "button" cannot be safely added as it used by the old css.
  .w-button {
    text-transform: uppercase;
    letter-spacing: 0.03ch;
    border-radius: 3px;
    padding: 1.4em 1em;
    display: inline-flex;
    align-items: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: var(--color-action-bg);
    color: var(--color-action-text);
    font-weight: 500;
    line-height: 1.2;
  }

  .w-button[data-type='primary'] {
    border-color: var(--color-action-bg-primary);
    background: var(--color-action-bg-primary);
    color: var(--color-action-text-primary);
  }

  .w-button[disabled] {
    filter: invert(0.2) !important;
    box-shadow: none !important;
    transform: none !important;
    cursor: not-allowed !important;
  }
}
