---
title: 'Page'
pagination:
  data: design.pages
  size: 1
  addAllPagesToCollections: true
  alias: item
permalink: '{{ item.link }}/index.html'
pageScripts:
  - '/js/design-system.js'
---

{% set pageTitle = item.title %}

<!--prettier-ignore-->
{% extends "design-system.njk" %}
{% from 'macros/design-system-component.njk' import designSystemComponent with context %}

{% block inner %}
  {{ designSystemComponent(item.url, null, null, null, 'tall') }} 
{% endblock %}
