---
title: 'Preview'
CSS_ORIGIN: 'next'
pagination:
  data: design.patterns.previews
  size: 1
  addAllPagesToCollections: true
  alias: item
permalink: '{{ item.previewUrl }}/index.html'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head.njk' %}

    <style>
      body {
        padding: 1rem;
      }

      .theme-toggle {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        z-index: 10;
      }
    </style>
  </head>
  <body>
    <div class="preview">
      {{ item.rendered | safe }}
    </div>
    <div class="theme-toggle">
      {% include "partials/standard-theme-toggle.njk" %}
    </div>
    <!-- Sets a specific state for windowed previews -->
    <script>
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());

      const state = params.state || '';

      document.documentElement.setAttribute('data-state', state);
    </script>
  </body>
</html>
