---
title: 'Preview'
pagination:
  data: design.patterns.previews
  size: 1
  addAllPagesToCollections: true
  alias: item
permalink: '{{ item.previewUrl }}/index.html'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ helpers.hashForProd('/css/main.css') }}" />
    <title>{{ item.data.title }} - Preview</title>
    <style>
      [data-state='window'] .preview {
        padding: 1em;
      }

      body {
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="preview">
      {{ item.rendered | safe }}
    </div>

    <!-- Sets a specific state for windowed previews -->
    <script>
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());

      const state = params.state || '';

      document.documentElement.setAttribute('data-state', state);
    </script>
  </body>
</html>
