---
permalink: '/design-system/render-component-test/index.html'
title: 'Test'
button: 
  text: 'Override data'
aside:
  content: 'Some **markdown** in here'
---

{% extends "design-system.njk" %}

{% block inner %}

{{ design.components.render('button') | safe }}
{{ design.components.render('button-primary') | safe }}
{{ design.components.render('button-primary', button) | safe }}

{{ design.components.render('aside') | safe }}
{{ design.components.render('aside-warning', aside) | safe }}

{# Should throw a console error #}
{{ design.components.render('not-here') | safe }}

{% endblock %}
