---
permalink: '/design-system/spacing/index.html'
title: 'Spacing'
---

{% extends "design-system.njk" %}
{% set summary %}
Spacing scale etc

## Todo
- Render out the spaces 
- Utility classes
- Flow and flow classes 
- `getSpace` function 

{% endset %}
