---
layout: 'core.njk'
permalink: '/design-system/temp-styleguide/index.html'
---

<main class="wrapper flow">

  <h1>Global CSS Temp styleguide</h1>
  <p>This is just a temporary dumping ground for the Global CSS to save time, working with the design system which still relies on the old CSS.</p>

  <hr />

  <h2>Toggle theme</h2>
  <theme-toggle>
    <!-- As part of the patterns, we'll build out a switch block and use that here -->
    <label for="theme-toggle">
      Dark mode
      <input type="checkbox" role="switch" id="theme-toggle" />
    </label>
  </theme-toggle>

  <h2>Headings</h2>

  <h1>Heading level 1</h1>
  <h2>Heading level 2</h2>
  <h3>Heading level 3</h3>
  <h4>Heading level 4</h4>
  <h5>Heading level 5</h5>
  <h6>Heading level 6</h6>

  <hr />

  <h2>Flow content</h2>

  <p>
    Donec id elit non mi
    <a href="//piccalil.li">porta gravida at eget</a> metus. Donec ullamcorper
    <a href="http://localhost:8080/design-system/playground/"
      >nulla non metus auctor</a
    >
    fringilla. <code>Donec ullamcorper</code> nulla non metus auctor fringilla. Morbi leo
    risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi
    porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue.
  </p>

  <p>
    <strong>Pellentesque habitant morbi tristique</strong> senectus et netus et
    malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
    ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
    semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend
    leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
    wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi.
    Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
    sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis
    pulvinar facilisis. Ut felis.
  </p>

  <h2>Aenean lacinia bibendum nulla sed consectetur.</h2>

  <p>
    <strong>Pellentesque habitant morbi tristique</strong> senectus et netus et
    malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
    ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
    semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend
    leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
    wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi.
    Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
    sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis
    pulvinar facilisis. Ut felis.
  </p>

  <ol>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
  </ol>

  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna.
      Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida.
      Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est
      malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium
      ornare est.
    </p>
  </blockquote>

  <h3>Maecenas faucibus mollis interdum.</h3>

  <p>
    <strong>Pellentesque habitant morbi tristique</strong> senectus et netus et
    malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
    ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
    semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend
    leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
    wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi.
    Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
    sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis
    pulvinar facilisis. Ut felis.
  </p>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
  </ul>

  <hr />

  <h2>Blockquotes</h2>

  <h3>Standalone</h3>
  <blockquote>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna.
      Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida.
      Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est
      malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium
      ornare est.
    </p>
  </blockquote>

  <h3>Quote and cite</h3>
  <figure>
    <blockquote cite="https://example.com">
      <q>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</q>
    </blockquote>
    <figcaption>
      Etiam porta sem, <cite>malesuada magna mollis euismod</cite>
    </figcaption>
  </figure>

  <hr />

  <h2>Tables</h2>
  <p>These are just basic styles for now. We need to work out a nice responsive solution—probably with a wrapper, so we’ll tackle that with a <a href="https://cube.fyi/block.html">block</a>.</p>
  <table>
    <thead>
      <tr>
        <th>Image Format</th>
        <th>Lossy Plugin(s)</th>
        <th>Lossless Plugin(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>JPEG</td>
        <td><a href="#">imagemin-mozjpeg</a></td>
        <td><a href="#">imagemin-jpegtran</a></td>
      </tr>
      <tr>
        <td>PNG</td>
        <td><a href="#">imagemin-pngquant</a></td>
        <td><a href="#">imagemin-optipng</a></td>
      </tr>
      <tr>
        <td>GIF</td>
        <td><a href="#">imagemin-giflossy</a></td>
        <td><a href="#">imagemin-gifsicle</a></td>
      </tr>
      <tr>
        <td>SVG</td>
        <td><a href="#">Imagemin-svgo</a></td>
        <td></td>
      </tr>
      <tr>
        <td>WebP</td>
        <td><a href="#">imagemin-webp</a></td>
        <td></td>
      </tr>
    </tbody>
    <caption>
      Imagemin plugins for filetypes.
    </caption>
  </table>
  <h2>Testing area for utilities</h2>
  <p>This is a temp testing area for the global utilities. CSS in <code>_prototype.scss</code> is also temporary.</p>
  <!-- I know, Rob, tabindex="0" on a div is naughty 🙈 -->
  <div class="temp-box focus-ring" tabindex="0">
    Hello I am focusable
  </div>
  <div class="region color-action-text-2 bg-action-bg-2">
    <div class="wrapper">
      <h2>Hello I am a region</h2>
    </div>
  </div>

  <h2 id="compositions">Compositions</h2>
  <p>This is just a temp playground for me.</p>

  <h3>Auto grid</h3>
  <div class="region">
    <div class="auto-grid">
      <div class="bg-mid-bg pad-size-1">Item 1</div>
      <div class="bg-mid-bg pad-size-1">Item 2</div>
      <div class="bg-mid-bg pad-size-1">Item 3</div>
      <div class="bg-mid-bg pad-size-1">Item 4</div>
      <div class="bg-mid-bg pad-size-1">Item 5</div>
      <div class="bg-mid-bg pad-size-1">Item 6</div>
      <div class="bg-mid-bg pad-size-1">Item 7</div>
      <div class="bg-mid-bg pad-size-1">Item 8</div>
    </div>
  </div>

  <h3>Cluster</h3>
  <div class="region">
    <div class="cluster">
      <div class="bg-mid-bg pad-size-1">Item 1</div>
      <div class="bg-mid-bg pad-size-1">Item 2</div>
      <div class="bg-mid-bg pad-size-1">Item 3</div>
      <div class="bg-mid-bg pad-size-1">Item 4</div>
      <div class="bg-mid-bg pad-size-1">Item 5</div>
      <div class="bg-mid-bg pad-size-1">Item 6</div>
      <div class="bg-mid-bg pad-size-1">Item 7</div>
      <div class="bg-mid-bg pad-size-1">Item 8</div>
    </div>
  </div> 

  <h3>Repel</h3>
  <div class="region">
    <div class="repel">
      <div class="bg-mid-bg pad-size-1">Item 1 repels item 2</div>
      <div class="bg-mid-bg pad-size-1">Item 2 repels item 1</div>
    </div>
  </div>

  <h3>Sidebar</h3> 
  <div class="region">
    <div class="sidebar">
      <div class="bg-mid-bg pad-size-1">I am the sidebar</div>
      <div class="flow bg-mid-bg pad-size-1">
        <h4>I am the content</h4>
        <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
    </div>
  </div>
  <div class="region">
    <div class="sidebar" data-direction="rtl">
      <div class="flow bg-mid-bg pad-size-1">
        <h4>I am the content</h4>
        <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.</p>
      </div>
      <div class="bg-mid-bg pad-size-1">I am the RTL sidebar</div>
    </div>
  </div>

  <h3>Switcher</h3>
  <div class="region">
    <div class="switcher">
      <div class="bg-mid-bg pad-size-1">Item 1</div>
      <div class="bg-mid-bg pad-size-1">Item 2</div>
    </div>
  </div>
</main>
