---
permalink: '/design-system/typography/index.html'
title: 'Typography'
---

{% extends "design-system.njk" %}
{% set title = 'Typography' %}
{% set summary %}
Fonts, size scales, appropriate usage etc Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

## Todo
- Render out the sizes
- Add any special cases like a `.heading` pattern, for example 
- Utility classes 
- Fonts 

{% endset %}
