---
permalink: '/design-system/typography/index.html'
---

{% extends "design-system.njk" %}
{% set title = 'Typography' %}
{% set summary %}
Fonts, size scales, appropriate usage etc Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
{% endset %}
{% set breadcrumbs = [
  {
    title: 'Typography',
    url: page.url
  }
]%}
