---
permalink: '/design-system/index.html'
---

{% extends "design-system.njk" %}
{% set title = 'Welcome' %}
{% set summary %}
Homepage for explaining where stuff is, how stuff works. Probably want to add some nicely designed cards for main sections too.
{% endset %}
