## CHANGELOG

Occasionally, bugs are discovered in the APIs used to measure metrics, and
sometimes in the definitions of the metrics themselves. As a result, changes
must sometimes be made, and these changes can show up as improvements or
regressions in your internal reports and dashboards.

To help you manage this, all changes to either the implementation or definition
of these metrics will be surfaced in this
[CHANGELOG](https://chromium.googlesource.com/chromium/src/+/master/docs/speed/metrics_changelog/).
