---
layout: layout
title: web.dev LIVE
description: |
  Bringing web developers together, from home
date: 2020-12-31
draft: true
---

<div class="w-live-landing-page">

  <div class="w-live-top">
    <section class="w-event-section">

      <div class="w-event-section__column-left w-event-heading">
        <h1 class="w-event-heading__logo">web.dev<span>/LIVE</span>
<video width="156" height="72" autoplay muted loop playsinline>
  <source src="live.mp4" type="video/mp4" />
  <img src="live.png" title="LIVE" />
</video>
        </h1>
        <p class="w-event-heading__subhead">Smarch 28 &mdash; Crtober 1, 2020</p>
      </div>

      <div class="w-event-section__column-head w-event-hero">
        <img src="hero.png" width="1572" height="394" />
      </div>

      <div class="w-event-section__column-right">
        <h2>
          Bringing web developers together, from home
        </h2>
        <p>
          These are unprecedented times, with people worldwide looking to stay connected and informed.
          The Web plays a special role here, and we're proud to see how the community has stepped up.
        </p>
        <p>
          Join Google's Web Platform team, from the comfort of your homes, to celebrate our community's actions, learn modern web techniques and connect with each other.
        </p>

        <div class="w-event-buttons">
          <a class="w-button w-button--primary gc-analytics-event" data-category="web.dev" data-label="subscribe, newsletter" data-action="click" href="#subscribe">
            Get updates
          </a>
          <a class="w-button w-button--with-icon w-button--secondary gc-analytics-event" data-category="web.dev" data-label="live, add to calendar" data-action="click" data-icon="calendar_today">
            Add to calendar
          </a>
        </div>

      </div>

    </section>
  </div>

  <hr />

  <section class="w-event-section">

    <div class="w-event-section__column-left">
      <h3>What to expect</h3>
      <p>
        Over three days, we'll share quick tips on aspects of modern web development.
        Each day, we'll "travel" to a new timezone to cover a couple aspects in short 10-20 min sessions and answer your questions.
      </p>
    </div>

    <div class="w-event-section__column-right">
      <web-tabs>
        <div data-label="Day 1">
        </div>
        <div data-label="Day 2">
        </div>
        <div data-label="Day 3">
        </div>
      </web-tabs>

    </div>

  </section>

  <hr />

  <section class="w-layout-container">
    {% include 'partials/subscribe.njk' %}
  </section>

  <hr />

  <section class="w-event-section">
    <div class="w-event-section__column-left w-event-share">
      <p>
        Share this event with your friends
      </p>
      <web-event-share></web-event-share>
    </div>
    <div class="w-event-section__column-right">
      <img src="hero.png" width="1572" height="394" />
    </div>
  </section>


</div>
