<a href="{{ data.url }}" class="card">
  <ul class="card__meta" role="list">
    <li>Collection</li>
    <li>23 resources</li>
  </ul>
  <img src="{{ data.img.src }}" alt="{{ data.img.alt }}" />
  <div class="card__content">
    <h3 class="visually-hidden">{{ data.title }}</h3>
    <p>{{ data.summary }}</p>
  </div>
</a>

