---
layout: path
override:tags: []
date: 2020-09-16
pathName: learn-core-web-vitals
cards:
  - title: Thinking on ways to solve cafe wall illusion
    description: Praesent accumsan eros orci quis congue metus porta a sed dapibus magna nunc non finibus erat ullamcorper sit amet.
    thumbnail: image/SZHNhsfjU9RbCestTGZU6N7JEWs1/MqeKXDtUPO7zszzpRXcF.png
    eyebrow:
      icon: featured
      text: Featured
    url: /#
    cssClass: 'item1 verticalTopic'
  - title: 'The CSS Podcast: Media query range syntax'
    description: Praesent accumsan eros orci quis congue metus porta a sed dapibus magna.
    thumbnail: image/SZHNhsfjU9RbCestTGZU6N7JEWs1/VwL892KEz6bakZMlq10D.png
    eyebrow:
      icon: podcast
      text: Podcast
    url: /#
    cssClass: item2
  - title: Meet the Chrome team
    description: We're meeting you where you are. Join us at upcoming web conferences in your region or catch up on past events.
    eyebrow:
      icon: event
      text: Event
    url: /#
    cssClass: item3
  - title: How Terra improved user engagement thanks to Dark Mode
    description: By displaying a dark theme to users that prefer dark mode on their devices, Terra reduced the bounce rate by 60%.
    thumbnail: image/SZHNhsfjU9RbCestTGZU6N7JEWs1/DUMO47sKvnXAt3QDS2o3.png
    eyebrow:
      icon: blog
      text: Blog
    url: /#
    cssClass: 'item4 verticalTopic'
  - title: Aspect ratio image card
    description: With the aspect-ratioproperty, as you resize the card, the green visual block maintains this 16 x 9 aspect ratio.
    eyebrow:
      icon: pattern
      text: Pattern
    url: /#
    cssClass: item5
  - title: Take our CSS course
    description: Let’s gleefully breakdown complex aspects of CSS into digestible episodes covering everything from accessibility to z-index.
    eyebrow:
      icon: mortarboard
      text: Learn
    url: /#
    cssClass: item6
  - title: Building Chrometober!
    description: How the scrolling book came to life for sharing fun and frightening tips and tricks this Chrometober.
    thumbnail: image/SZHNhsfjU9RbCestTGZU6N7JEWs1/nUJKrjf9HvSrIJWe5xtm.png
    eyebrow:
      icon: blog
      text: Case study
    url: /#
    cssClass: item7
  - title: Lorem ipsum dolor sit amet
    description: Mauris eu consequat ligula, eget facilisis erat. Fusce volutpat felis magna, sodales pharetra ante maximus vel.
    eyebrow:
      icon: celebrate
      text: What's new
    url: /#
    cssClass: item8
--- 
