---
permalink: false
layout: sandbox/layout
title: grid
tags:
  - sandbox
---

<style>
  h2 {
    text-align: center;
  }
  .w-grid__item > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
    min-height: 570px;
  }
</style>

<h2>Single column grid</h2>
<div class="w-grid">
  <div class="w-grid__columns" role="list">
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
  </div>
</div>
<h2>Two-column grid</h2>
<div class="w-grid">
  <div class="w-grid__columns w-grid__columns--two" role="list">
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
  </div>
</div>
<h2>Three-column grid</h2>
<div class="w-grid">
  <div class="w-grid__columns w-grid__columns--three" role="list">
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
    <div class="w-grid__item" role="listitem">
      <div>Content goes here</div>
    </div>
  </div>
</div>