<web-tabs>
  {% for item in data.items %}
  <div class="flow pad-block-size-1" data-label="{{ item }}">
    <h2>{{ item }}</h2>
    <p>Accumsan egestas suscipit quam hendrerit molestie ultrices vehicula bibendum nunc.</p>
  </div>
  {% endfor %}
</web-tabs>