## How this audit impacts overall Lighthouse score

Lighthouse returns a Best Practices score between 0 and 100.
0 is the worst possible score, and 100 is the best.
The Best Practices audits are equally weighted.
To calculate how much each audit contributes
to your overall Best Practices score,
count the number of Best Practices audits, then divide 100 by that number.