<div class="audio-player cluster">
  <img src="{{ data.thumb }}" alt="{{ data.alt }}" width="80" height="80" />
  <div class="audio-player__inner flow">
    <p>{{ data.title }}</p>
    <audio id="{{ data.id }}" class="audio-player__element" src="{{ data.audioSrc }}" controls></audio>
  </div>
</div>