---
permalink: false
layout: sandbox/container
title: page-header
tags:
  - sandbox
---

<header class="w-page-header">
  <h1 class="w-page-header__headline">Learn</h1>
  <p class="w-page-header__copy">
    Explore our structured learning paths to discover everything you need
    to know about building for the modern web.
  </p>
</header>
