---
lang: ''
layout: layout
sw_payload_page: true
permalink: /sw-payload
show_banner: false
---
{# We don't show content here: instead, the main layout (layout.njk) generates
   magic strings that are replaced by the Service Worker #}