---
lang: ''
layout: layout
nometa: true
permalink: /sw-partial-layout.partial
show_banner: false
---
{# Defines the layout used by the Service Worker. For now, uses a magic
   string that is replace at serve time. #}
%_CONTENT_REPLACE_%